:root {
	--size-item-medium: 28px !important;
	--size-item-xlarge: 36px !important;
	--border-radius-xsmall: 4px !important;
	--border-radius-small: 6px !important;
	--border-radius-large: 12px !important;
	--border-radius-xlarge: 16px;
	--border-radius-circle: 99px !important;
	--button-border-radius: var(--border-radius-small) !important;
	--input-icon-size: calc(var(--size-item-medium) / 2);
	--default-font-size: 12.5px;
	--default-focusring: none !important;
	--color-accent-primary: var(--theme-primary-color) !important;
	--color-accent-primary-hover: var(--theme-primary-hover-color) !important;
	--color-accent-primary-active: var(--theme-primary-active-color) !important;
	--button-background-color: var(--neptune-item-background) !important;
	--button-background-color-hover: var(--neptune-item-hover-background) !important;
	--button-background-color-active: var(--neptune-item-active-background) !important;
	--button-text-color-primary: white !important;
	--toolbarbutton-hover-background: var(--neptune-item-hover-background) !important;
	--toolbarbutton-active-background: var(--neptune-item-active-background) !important;
	--in-content-box-border-color: var(--neptune-toolbar-border-color) !important;
	--box-shadow-color-lighter-layer-1: light-dark(#0000000c, #00000019) !important;
	--box-shadow-color-lighter-layer-2: light-dark(#00000019, #00000026) !important;
}

@layer input-common {
	#input {
		--input-width: var(--input-icon-size) !important;
		--input-height: var(--input-icon-size) !important;
		--input-margin-block-adjust: calc((1lh - var(--input-height)) / 2) !important;
		--input-text-background-color: var(--input-bgcolor) !important;

		&.with-icon {
			padding-inline-start: calc(var(--input-text-icon-size) + var(--space-large)) !important;
			background-position: var(--space-small) center !important;

			&:dir(rtl) {
				background-position: center right var(--space-small) !important;
			}

			&[type="text"] {
				margin-block: auto !important;

				&:focus-visible {
					outline: none;
				}
			}
		}

		&::-moz-search-clear-button {
			padding: var(--space-xxsmall) !important;
			border-radius: var(--border-radius-large) !important;
		}

		[slot="nested"]:first-child {
			margin-block-start: var(--space-small) !important;
		}
	}
}

/* animate */
@keyframes menuBounce {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	75% {
		transform: scale(1.025);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes splitter-H-pulsing {
	0%, 100% {
		transform: scalex(1);
	}

	50% {
		transform: scalex(1.5);
	}
}

@keyframes splitter-V-pulsing {
	0%, 100% {
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(1.5);
	}
}