:root {
	/* Nept Variable */
	--nept-background-canvas: light-dark(#f6f6f6, #1c1b22);
	--nept-content-background: light-dark(#fff, #15141a);
	--nept-theme-primary-color: oklch(from accentcolor calc(L - 0.04) C calc(H + 3));
	--nept-theme-primary-hover-color: oklch(from accentcolor calc(L - 0.08) calc(C - 0.01) calc(H + 3));
	--nept-theme-primary-active-color: oklch(from accentcolor calc(L - 0.12) calc(C - 0.01) calc(H + 3));
	/* Toolbars */
	--nept-toolbar-background: var(--lwt-accent-color);
	--nept-toolbar-border-color: light-dark(color-mix(in srgb, currentColor 20%, transparent), color-mix(in srgb, currentColor 18%, transparent));
	--nept-input-bgcolor: light-dark(color-mix(in srgb, currentColor 10%, transparent), color-mix(in srgb, currentColor 14%, transparent));
	--nept-input-outline-color: light-dark(color-mix(in srgb, accentcolor 50%, #f2f2f2), color-mix(in srgb, accentcolor 50%, #646464));
	--nept-input-inner-shadow: inset 0 0 0 0.5px light-dark(color-mix(in srgb, accentcolor 35%, #f2f2f2), color-mix(in srgb, accentcolor 35%, #646464));
	--nept-slider-color: light-dark(#fff, #cacaca);
	--nept-slider-track-color: light-dark(color-mix(in srgb, currentColor 15%, transparent), color-mix(in srgb, currentColor 25%, transparent));
	--nept-checkbox-background: light-dark(color-mix(in srgb, currentColor 2%, transparent), color-mix(in srgb, currentColor 20%, transparent));
	--nept-checkbox-border: 1px solid light-dark(color-mix(in srgb, currentColor 20%, transparent), color-mix(in srgb, currentColor 10%, transparent));
	--nept-checkbox-shadow: inset 0 1px 1px #00000026;
	@media (prefers-color-scheme: dark) {
		--nept-checkbox-shadow: inset 0 0 5px #ffffff33;
	}
	--nept-item-background: light-dark(color-mix(in srgb, currentColor 10%, transparent), color-mix(in srgb, currentColor 12%, transparent));
	--nept-item-hover-background: light-dark(color-mix(in srgb, currentColor 8%, transparent), color-mix(in srgb, currentColor 10%, transparent));
	--nept-item-active-background: light-dark(color-mix(in srgb, currentColor 14%, transparent), color-mix(in srgb, currentColor 16%, transparent));
	--nept-item-selection-hover-background: light-dark(color-mix(in srgb, accentcolor 15%, transparent), color-mix(in srgb, accentcolor 25%, transparent));
	/* Popups */
	--nept-menu-background: light-dark(#fafafa, Field);
	--nept-secondary-background: light-dark(#fafafabf, #1e1e1ebf);
	--nept-separator-color: light-dark(color-mix(in srgb, currentColor 12%, transparent), color-mix(in srgb, currentColor 15%, transparent));
	--nept-small-shadow: 0 0 1px light-dark(color-mix(in srgb, currentColor 40%, transparent), color-mix(in srgb, currentColor 50%, transparent));
	--nept-menu-shadow: 0 1px 8px light-dark(#00000019, #00000016), 0 5px 15px light-dark(#00000016, #00000011), 0 8px 20px #00000011, 0 3px 24px light-dark(#00000016, #00000019);
	--nept-menu-shadow-color: light-dark(#00000026, #00000033);
	--nept-panel-shadow: 0 1px 8px light-dark(#00000019, #00000016), 0 5px 15px light-dark(#00000016, #00000011), 0 8px 24px light-dark(#00000009, #00000011);
	--nept-panel-shadow-color: light-dark(#00000016, #00000019);
	--nept-glass-shadow: inset 2px 2px 1px -0.5px #ffffff80, inset -2px -2px 1px -0.25px #ffffff80;

	/* FF Variable */
	--size-item-medium: 28px !important;
	--size-item-xlarge: 36px !important;
	--border-radius-xsmall: 4px !important;
	--border-radius-small: 6px !important;
	--border-radius-medium: 8px !important;
	--border-radius-large: 12px !important;
	--border-radius-xlarge: 16px !important;
	--border-radius-circle: 99px !important;
	--button-border-radius: var(--border-radius-small) !important;
	--input-icon-size: calc(var(--size-item-medium) / 2);
	--default-font-size: 12.5px;
	--default-focusring: none !important;
	--color-accent-primary: var(--nept-theme-primary-color) !important;
	--color-accent-primary-hover: var(--nept-theme-primary-hover-color) !important;
	--color-accent-primary-active: var(--nept-theme-primary-active-color) !important;
	--color-accent-primary-selected: var(--nept-theme-primary-active-color) !important;
	--text-color-accent-primary-selected: white !important;
	--button-background-color: var(--nept-item-background) !important;
	--button-background-color-hover: var(--nept-item-hover-background) !important;
	--button-background-color-active: var(--nept-item-active-background) !important;
	--button-text-color-primary: white !important;
	--toolbarbutton-background-color-hover: var(--nept-item-hover-background) !important;
	--toolbarbutton-background-color-active: var(--nept-item-active-background) !important;
	--panel-background-color: Menu !important;
	--panel-separator-color: var(--nept-separator-color) !important;
	--panel-box-shadow-margin: 0px !important;
	--box-shadow-color-lighter-layer-1: light-dark(#0000000c, #00000019) !important;
	--box-shadow-color-lighter-layer-2: light-dark(#00000019, #00000026) !important;
	@media (-moz-platform: linux) {
		--default-font-size: small;
		--panel-box-shadow-margin: 22px !important;
		--panel-box-shadow: var(--nept-panel-shadow), 0 3px var(--panel-box-shadow-margin) var(--nept-panel-shadow-color) !important;
		--panel-border-color: var(--nept-toolbar-border-color) !important;
	}
	@media -moz-pref("browser.nova.enabled") {
		--button-border-color: transparent !important;
		--button-background-color-ghost: transparent !important;
		--panel-menuitem-border-radius: var(--border-radius-small) !important;
	}
}

@layer input-common {
	input {
		--input-width: var(--input-icon-size) !important;
		--input-height: var(--input-icon-size) !important;
		--input-margin-block-adjust: calc((1lh - var(--input-height)) / 2) !important;

		&.with-icon {
			padding-inline-start: calc(var(--input-text-icon-size) + var(--space-large)) !important;
			background-position: var(--space-small) center !important;

			&:dir(rtl) {
				background-position: center right var(--space-small) !important;
			}

			&[type="text"] {
				margin-block: auto !important;

				&:focus-visible {
					outline: none;
				}
			}
		}

		&::-moz-search-clear-button {
			padding: var(--space-xxsmall) !important;
			border-radius: var(--border-radius-large) !important;
		}

		[slot="nested"]:first-child {
			margin-block-start: var(--space-small) !important;
		}
	}
}

.button-background {
	--button-font-size: var(--font-size-small, initial) !important;
	--button-min-height-small: var(--button-min-height) !important;

	&.labelled {
		justify-content: var(--button-label-directiony, initial) !important;
		gap: var(--button-row-gap, var(--space-small)) !important;
		padding: var(--button-padding, unset) !important;

		> label {
			max-width: var(--button-min-width, unset) !important;
			opacity: var(--button-opacity, inherit) !important;
		}

		> img {
			display: var(--button-display, inherit);
		}
	}

	&[type~="icon"] {
		button:is([title="Close"], [title="Close sidebar"]) > &:not(.labelled) {
			--button-border-radius: var(--border-radius-xlarge) !important;
		}

		button > & > img[src*="bookmark-hollow"] {
			content: url("../assets/icons/bookmark-hollow.svg") !important;
		}

		button > & > img[src*="history"] {
			content: url("../assets/icons/history.svg") !important;
		}

		button > & > img[src*="login"] {
			content: url("../assets/icons/login.svg") !important;
		}

		button > & > img[src*="synced-tabs"] {
			content: url("../assets/icons/synced-tabs.svg") !important;
		}
	}
}

/* animate */
@keyframes menuBounce {
	0% {
		opacity: 0;
		transform: scale3d(0.001, 0.001, 1);
	}

	75% {
		transform: scale3d(1.025, 1.025, 1);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes Breath {
	0%, 100% {
		transform: scale3d(0.5, 0.5, 0.5);
	}

	50% {
		transform: scale3d(1.25, 1.25, 1.25);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes popupShow {
	from {
		opacity: 0;
		transform: scale(0.985);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes splitter-H-pulsing {
	0%, 100% {
		transform: scalex(1);
	}

	50% {
		transform: scalex(1.5);
	}
}

@keyframes splitter-V-pulsing {
	0%, 100% {
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(1.5);
	}
}