@media (prefers-color-scheme: light) {
	:root {
		/* Browser */
		--neptune-main-background: #f6f6f6;
		--neptune-content-background: #fff;
		--theme-primary-color: color-mix(in srgb, accentcolor 80%, #181818);
		--theme-primary-hover-color: color-mix(in srgb, accentcolor 85%, #262626);
		--theme-primary-active-color: color-mix(in srgb, accentcolor 85%, #646464);

		/* Toolbars */
		--neptune-toolbar-background: var(--lwt-accent-color);
		--neptune-toolbar-border-color: color-mix(in srgb, currentColor 20%, transparent);
		--neptune-content-border-color: color-mix(in srgb, currentColor 8%, transparent);
		--neptune-input-bgcolor: color-mix(in srgb, currentColor 10%, transparent);
		--neptune-input-outline-color: color-mix(in srgb, accentcolor 50%, #f2f2f2);
		--neptune-slider-color: #fff;
		--neptune-slider-track-color: color-mix(in srgb, currentColor 15%, transparent);
		--neptune-checkbox-border: 1px solid #bcbcbc;
		--neptune-checkbox-shadow: inset 0 1px 1px #00000026;
		--neptune-item-background: color-mix(in srgb, currentColor 10%, transparent);
		--neptune-item-hover-background: color-mix(in srgb, currentColor 8%, transparent);
		--neptune-item-active-background: color-mix(in srgb, currentColor 14%, transparent);
		--neptune-item-selection-background: color-mix(in srgb, accentcolor 30%, transparent);
		--neptune-item-selection-hover-background: color-mix(in srgb, accentcolor 15%, transparent);
		--neptune-button-field-color: color-mix(in srgb, currentColor 60%, transparent);
		--neptune-button-field-hover-color: color-mix(in srgb, currentColor 80%, transparent);

		/* Popups */
		--neptune-menu-background: #ececec;
		--neptune-glass-background: #ffffff3f;
		--neptune-secondary-background: #ecececb2;
		--neptune-separator-color: color-mix(in srgb, currentColor 12%, transparent);
		--neptune-small-shadow: 0 0 1px color-mix(in srgb, currentColor 40%, transparent);
		--neptune-menu-shadow: 0 1px 8px #00000019, 0 5px 15px #00000016, 0 8px 20px #00000011, 0 3px 22px #00000016;
		--neptune-menu-shadow-color: #00000026;
		--neptune-panel-shadow: 0 1px 8px #00000019, 0 5px 15px #00000016, 0 8px 20px #00000009;
		--neptune-panel-shadow-color: #00000016;
		--neptune-glass-shadow: inset 1px 1px 1px #ffffff80, inset -1px -1px 1px 0.5px #ffffff80;

		/* Urlbar */
		--neptune-urlbar-background: color-mix(in srgb, currentColor 8%, var(--lwt-accent-color, transparent));
		--neptune-urlbar-hover-background: color-mix(in srgb, currentColor 12%, var(--lwt-accent-color, transparent));
		--neptune-urlbar-focused-background: color-mix(in srgb, currentColor 16%, var(--lwt-accent-color, transparent));
		--neptune-urlbarView-hover-background: color-mix(in srgb, accentcolor 85%, #262626);
		--neptune-urlbarView-button-background: color-mix(in srgb, accentcolor 70%, #939597);
		--neptune-focused-urlbar-highlight-color: color-mix(in srgb, accentcolor 85%, #383838);

		/* Tabs */
		--neptune-tabs-default-background: #c9c9c94c;
		--neptune-tab-background: color-mix(in srgb, currentColor 4%, var(--lwt-accent-color, transparent));
		--neptune-tab-hover-background: color-mix(in srgb, var(--lwt-accent-color) 85%, transparent 15%);
		--neptune-tab-active-background: color-mix(in srgb, currentColor 2%, var(--lwt-accent-color, transparent));
		--neptune-tab-selected-background: color-mix(in srgb, accentcolor 20%, var(--lwt-accent-color, transparent));
		--neptune-verticaltab-background: color-mix(in srgb, currentColor 2%, transparent);
		--neptune-verticaltab-pinned-background: color-mix(in srgb, currentColor 6%, transparent);
		--neptune-verticaltab-hover-background: color-mix(in srgb, currentColor 8%, transparent);
		--neptune-verticaltab-active-background: color-mix(in srgb, currentColor 14%, transparent);
		--neptune-pinned-tab-background: color-mix(in srgb, currentColor 10%, transparent);
		--neptune-pinned-tab-hover-background: color-mix(in srgb, currentColor 16%, transparent);
		--neptune-pinned-tab-active-background: color-mix(in srgb, currentColor 20%, transparent);
		--neptune-tab-soundplaying-background: color-mix(in srgb, accentcolor 35%, var(--lwt-accent-color, transparent));
	}
}