@import "neptune/colors/light.css";
@import "neptune/colors/dark.css";

:root {
	--in-content-page-background: var(--neptune-main-background) !important;
	--in-content-table-background: var(--neptune-content-background) !important;
	--in-content-border-color: var(--neptune-sidebar-border-color) !important;
	--in-content-box-background: var(--neptune-content-background) !important;
	--in-content-box-info-background: var(--neptune-content-background) !important;
	--in-content-box-border-color: var(--neptune-toolbar-border-color) !important;
	--in-content-primary-button-text-color: white !important;
	--in-content-button-background: var(--neptune-item-background) !important;
	--in-content-button-background-hover: var(--neptune-item-hover-background) !important;
	--in-content-button-background-active: var(--neptune-item-active-background) !important;
	--in-content-primary-button-background: var(--theme-primary-color) !important;
	--in-content-primary-button-background-hover: var(--theme-primary-hover-color) !important;
	--in-content-primary-button-background-active: var(--theme-primary-active-color) !important;
	--in-content-focus-outline-color: var(--neptune-input-outline-color) !important;
	--table-row-background-color: var(--neptune-main-background) !important;
	--table-row-background-color-alternate: var(--neptune-content-background) !important;
	--color-accent-primary: var(--theme-primary-color) !important;
	--color-accent-primary-hover: var(--theme-primary-hover-color) !important;
	--color-accent-primary-active: var(--theme-primary-active-color) !important;
	--button-background-color: var(--neptune-item-background) !important;
	--button-background-color-hover: var(--neptune-item-hover-background) !important;
	--button-background-color-active: var(--neptune-item-active-background) !important;
	--background-color-box: var(--neptune-menu-background) !important;
	--newtab-primary-element-text-color: #fff !important;
	--newtab-background-color: var(--neptune-main-background) !important;
	--newtab-background-color-secondary: var(--neptune-content-background) !important;
	--newtab-element-hover-color: var(--neptune-item-hover-background) !important;
	--newtab-element-active-color: var(--neptune-item-active-background) !important;
	--newtab-border-color: var(--neptune-toolbar-border-color) !important;
	--border-color-deemphasized: var(--neptune-toolbar-border-color) !important;
	--fxview-border: var(--neptune-toolbar-border-color) !important;
	--sidebar-toolbar-bg-color: var(--neptune-main-background) !important;
	--thumbnail-hover-color: var(--theme-primary-hover-color) !important;
	--thumbnail-selected-color: var(--theme-primary-active-color) !important;
	--checkbox-checked-bgcolor: var(--theme-primary-color) !important;
	--checkbox-checked-hover-bgcolor: var(--theme-primary-hover-color) !important;
	--checkbox-checked-active-bgcolor: var(--theme-primary-active-color) !important;
	--focus-outline-color: var(--neptune-input-outline-color) !important;
	--brand-color-accent: var(--theme-primary-color) !important;
	--brand-color-accent-hover: var(--theme-primary-hover-color) !important;
	--brand-color-accent-active: var(--theme-primary-active-color) !important;
	--newtab-primary-action-background: var(--theme-primary-color) !important;
	--theme-arrowpanel-background: var(--neptune-menu-background) !important;
	--theme-arrowpanel-border-color: var(--neptune-toolbar-border-color) !important;
	--theme-body-background: var(--neptune-main-background) !important;
	--theme-link-color: var(--theme-primary-color) !important;
	--theme-icon-checked-color: var(--theme-primary-active-color) !important;
	--theme-selection-background: var(--theme-primary-active-color) !important;
	--theme-selection-background-hover: var(--neptune-item-selection-hover-background) !important;
	--theme-text-selection-background: var(--neptune-item-selection-hover-background) !important;
	--theme-tab-toolbar-background: var(--neptune-main-background) !important;
	--theme-toolbar-background: var(--neptune-main-background) !important;
	--theme-toolbar-hover: var(--neptune-item-hover-background) !important;
	--theme-toolbar-hover-active: var(--neptune-item-active-background) !important;
	--theme-toolbar-selected-color: var(--theme-primary-color) !important;
	--theme-toolbar-alternate-hover: var(--neptune-item-active-background) !important;
	--theme-focus-textinput-outline-color: var(--neptune-input-outline-color) !important;
	--toolbarbutton-hover-background: var(--neptune-item-hover-background) !important;
	--button-min-height: 22px !important;
	--theme-toolbar-height: 22px !important;
	--theme-arrowpanel-border-radius: 8px !important;
	--tab-line-selected-color: transparent !important;
	--tab-line-hover-color: transparent !important;
	--default-focusring: none !important;
	--border-radius-small: 6px !important;
	--border-radius-large: 12px !important;
	--font-size-root: 12.5px !important;
	--font-size-small: 0.96rem !important;
	--font-size-large: 1.2rem !important;
	--font-size-xlarge: 1.44rem !important;
	--font-size-xxlarge: 1.76rem !important;
	--space-xsmall: 0.32rem !important;
}

@-moz-document url-prefix(about:), url-prefix("chrome://") {
	* {
		--in-content-page-background: light-dark(#f6f6f6, #383838) !important;
		--popup-background: var(--neptune-menu-background) !important;
		--popup-button-background: var(--neptune-item-background) !important;
		--popup-button-background-hover: var(--neptune-item-hover-background) !important;
		--popup-button-background-active: var(--neptune-item-active-background) !important;
		--page-nav-button-background-color-hover: var(--neptune-item-hover-background) !important;
		--page-nav-button-background-color-selected: transparent !important;
		--toolbar-button-background-hover: var(--neptune-item-hover-background) !important;
		--toolbar-button-background-active: var(--neptune-item-active-background) !important;
		--toolbar-button-foreground-active: var(--theme-primary-color) !important;
		--primary-color: var(--theme-primary-color) !important;
		--link-color: light-dark(color-mix(in srgb, accentcolor 80%, #323232), color-mix(in srgb, accentcolor 80%, #cacaca)) !important;
		--link-color-hover: light-dark(color-mix(in srgb, accentcolor 85%, #646464), color-mix(in srgb, accentcolor 85%, #ececec)) !important;
		--link-color-active: accentcolor !important;
		--link-color-visited: mediumpurple !important;
		--fxview-background-color: var(--neptune-main-background) !important;
		--newtab-search-icon: url("chrome://global/skin/icons/search-glass.svg") !important;
		--in-content-primary-button-background: color-mix(in srgb, accentcolor 80%, #181818) !important;
		--in-content-primary-button-background-hover: color-mix(in srgb, accentcolor 85%, #262626) !important;
		--in-content-primary-button-background-active: color-mix(in srgb, accentcolor 85%, #646464) !important;
		--in-content-primary-button-text-color: white !important;
		--in-content-primary-button-text-color-hover: var(--in-content-primary-button-text-color) !important;
		--in-content-focus-outline-color: accentcolor !important;
		text-decoration: inherit !important;
	}

	.toggle-button {
		--toggle-dot-background-color: var(--neptune-slider-color) !important;
		--toggle-dot-background-color-on-pressed: var(--neptune-slider-color) !important;
		--toggle-border-color: var(--neptune-toolbar-border-color) !important;
	}

	menupopup, panel {
		--panel-border-color: var(--neptune-toolbar-border-color) !important;
		--panel-border-radius: var(--border-radius-small) !important;
		--panel-separator-color: var(--neptune-popover-separator-color) !important;
		--panel-shadow-margin: 20px !important;

		> menu,
		> menuitem {
			padding: 2px 16px !important;
		}

		.actionsMenu > & > menuitem {
			padding-inline-start: 10px !important;
		}

		> menuseparator {
			border: none !important;
		}
	}

	groupbox[data-category] {
		margin-bottom: var(--space-xlarge) !important;

		> #updateBox {
			margin-block-end: 0 !important;
		}

		> .updateSettingCrossUserWarningContainer {
			margin-block: 0 !important;

			> #updateSettingCrossUserWarningDesc {
				margin-block-start: var(--space-small) !important;
			}
		}

		> #saveWhere > #downloadFolder {
			background-size: 12px !important;
		}

		.section-checkbox .checkbox-icon {
			width: 14px !important;
		}

		.permission-icon {
			width: 14px !important;
			height: 14px !important;
			margin: auto var(--space-small) auto 0 !important;
		}

		.info-box-container:not(:has(.doh-status-label.tail-with-learn-more)) {
			padding-block-start: 0 !important;

			.info-icon {
				margin-block: auto !important;
			}

			.extra-information-label {
				margin-top: var(--space-small) !important;
			}

			.content-blocking-warning {
				margin-block-end: 0 !important;
				padding-block: 0 !important;

				> .reload-tabs-button {
					list-style-image: none !important;
					min-height: var(--button-min-height) !important;
				}
			}
		}

		.indent {
			description.indent {
				margin-block: auto !important;
			}

			.privacy-extra-information {
				> .indent {
					margin-bottom: 0 !important;
				}

				> .custom-option {
					margin-block: var(--space-xxsmall) !important;
				}
			}
		}
	}

	checkbox, radio {
		margin-block: var(--space-xsmall) !important;

		&.tail-with-learn-more + a {
			margin-block: var(--space-xsmall) !important;
		}
	}

	.subcategory:not([hidden]) ~ .subcategory {
		padding-top: var(--space-xlarge) !important;
	}

	.dialogBox {
		border-color: var(--neptune-toolbar-border-color) !important;
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--neptune-menu-shadow) !important;
	}

	.dialogOverlay[topmost="true"], dialog::backdrop {
		background-color: transparent !important;
		backdrop-filter: blur(8px);
	}

	.dialogTitleBar, separator.groove:not([orient="vertical"]) {
		border: none !important;
	}

	*#categories > *.category {
		background-size: 16px !important;
		background-position: 16px !important;
		border-radius: var(--border-radius-medium) !important;

		> .category-name {
			font-size: 1.12em !important;
		}

		> .category-icon {
			width: 14px !important;
			height: 14px !important;
		}
	}

	.sidebar-footer-icon {
		width: 12px !important;
		height: 12px !important;
		margin-inline: var(--space-medium) var(--space-xsmall) !important;
	}

	.face-sad::before {
		content: "\2602" !important;
		font-size: 1em !important;
	}

	.face-smile::before {
		content: "\2764" !important;
		font-size: 1em !important;
	}

	.fxaProfileImage {
		border: none !important;
	}

	.featureGate {
		border-radius: var(--border-radius-large) !important;
		box-shadow: none !important;
	}

	.back-button,
	.default-button,
	.primary-button,
	.more-options-button,
	.container, .action-box,
	.info-box-container,
	.web-appearance-choice,
	table, div.opsRow, .sidebar-item,
	#reportBox {
		border-radius: var(--border-radius-medium) !important;
	}

	input[type="search"]:not(.search-handoff-button, .search-wrapper input),
	search-textbox, .default-input {
		appearance: none;
		font: menu;
		padding-block: 0 !important;
		min-height: var(--button-min-height) !important;
		border-radius: var(--border-radius-small) !important;
	}

	input:where([type="search"], [type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]):not(:read-only, .search-handoff-button, .search-wrapper input),
	search-textbox, .devtools-searchbox, #storage-searchbox,
	textarea {
		background-color: var(--neptune-input-bgcolor) !important;
		border-color: transparent !important;
		outline: 16px solid transparent !important;

		&:where(:focus-visible, [focused]) {
			outline: 4px solid var(--neptune-input-outline-color) !important;
			outline-offset: var(--toolbarbutton-outline-offset) !important;
			transition: all .2s cubic-bezier(0.33, 0, 0.67, 1);
		}
	}

	treecol:not([hideheader="true"]), .tree-columnpicker-button, .item-box, *:not(#downloadsListBox) > richlistitem:not(dialog richlistitem),
	select, menulist, textarea, button:not(:has(.page-nav-icon), [is="named-deck-button"], .toggle-button, .reset-button),
	input:where([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]) {
		padding-block: 2px !important;
	}

	#siteCol, #statusCol,
	#permissionsBox > richlistitem,
	:is(#engineList, #blocklistsTree) > treechildren::-moz-tree-row {
		min-height: var(--button-min-height) !important;
	}

	#handlersView {
		height: auto !important;

		> richlistitem {
			min-height: var(--button-min-height) !important;
		}
	}

	.translations-manage-language:first-child {
		padding-block: 0 !important;
		margin-block: 0 !important;
	}

	.search-tooltip {
		background-color: var(--theme-primary-color) !important;
		border: none !important;
		box-shadow: var(--neptune-panel-shadow);
		color: #fff !important;

		&::before, &::after {
			border-top-color: var(--theme-primary-color) !important;
		}
	}

	.card {
		border-color: var(--neptune-toolbar-border-color) !important;
		border-radius: var(--border-radius-medium) !important;
		box-shadow: none !important;
		outline: none !important;

		&:hover {
			box-shadow: var(--card-shadow) !important;
		}

		#legend input:focus + label {
			outline: none !important;
		}
	}

	.more-options-button, .info-box-container {
		background-color: transparent !important;
	}

	panel-list, .menu {
		border-radius: var(--border-radius-medium) !important;
		box-shadow: var(--neptune-menu-shadow) !important;

		> .menuitem-button {
			background-size: 12px !important;
		}
	}

	#downloadsListBox:focus > richlistitem[selected] {
		background-image: none !important;
		background-color: var(--color-accent-primary-active) !important;
		color: #fff !important;
		border-radius: 0 !important;
		outline: none !important;
	}

	.downloadButton > .button-box {
		border-radius: 50% !important;

		 > .button-icon {
			list-style-image: url("chrome://global/skin/icons/search-glass.svg") !important;
		}
	}

	.stp_button_wide .stp_button {
		padding-block: 4px !important;
		border-radius: var(--border-radius-small) !important;
	}

	@layer input-common {
		#input {
			--input-width: 14px !important;
			--input-height: 14px !important;
			--input-margin-block-adjust: calc((1lh - var(--input-height)) / 2) !important;
		}
	}

	input[type=checkbox]:not(.ruleview-enableproperty, .devtools-checkbox-toggle),
	.checkbox-check:not([native]) {
		appearance: none !important;
		width: 14px !important;
		height: 14px !important;
		border: var(--neptune-checkbox-border);
		border-radius: 4px;
		box-shadow: var(--neptune-checkbox-shadow);
		vertical-align: bottom;

		&:is(:checked, [checked="true"]) {
			background-color: var(--theme-primary-color) !important;
			background-image: url("neptune/icons/check.svg") !important;
			border: none;
		}
	}

	input[type=radio]:not(.wallpaper-input),
	.radio-check {
		appearance: none !important;
		width: 14px !important;
		height: 14px !important;
		border: var(--neptune-checkbox-border);
		border-radius: 50%;
		box-shadow: var(--neptune-checkbox-shadow);

		&:is(:checked, [selected="true"]) {
			background-color: var(--theme-primary-color) !important;
			background-image: url("neptune/icons/radio.svg");
			border: none;
		}
	}

	.textbox-search-icon,
	.textbox-search-sign {
		transform: scaleX(-1);
	}

	#root > ul[role="tree"] { 
		outline: none !important;
		padding: 0 !important;
	}

	.devtools-toolbar {
		height: calc(var(--theme-toolbar-height) + 7px) !important;
		padding: 3px !important;

		.devtools-togglebutton {
			margin: 0 !important;
			border: none !important;
		}
	}

	.devtools-input-toolbar > .devtools-searchbox {
		background-color: transparent !important;
		margin: 0 !important;
		border: none !important;
	}

	.tabs .tabs-navigation {
		height: calc(var(--theme-toolbar-height) + 7px) !important;

		.tabs-menu {
			margin-block: auto !important;
		}
	}

	.tooltip-container[type="doorhanger"] .menuitem > .command {
		&:not([disabled],[open],:active):hover {
			background-color: var(--theme-primary-hover-color) !important;
			color: white !important;
		}

		&:not([disabled]):is([open],:hover:active) {
			background-color: var(--theme-primary-active-color) !important;
			color: inherit !important;
		}
	}

	.devtools-button[data-standalone] {
		min-height: var(--theme-toolbar-height) !important;
		padding-block: 0 !important;
		border-radius: var(--border-radius-small) !important;
	}

	.perf-photon-button-primary {
		background-color: var(--theme-primary-color) !important;
		border-radius: var(--border-radius-small) !important;
	}

	.perf-photon-button-default {
		background-color: var(--theme-toolbar-highlighted-color) !important;
		color: white !important;
		border-radius: var(--border-radius-small) !important;
	}

	.devtools-separator,
	.dialogClose,
	#formAutofillGroupBox {
		display: none !important;
	}
}

@-moz-document url("about:home"), url("about:newtab"), url("about:welcome"), url("about:privatebrowsing") {
	body {
		background: url("neptune/image/RainbowLight.png") center/cover no-repeat fixed !important;

		@media (prefers-color-scheme: dark) {
			background: url("neptune/image/RainbowDark.png") center/cover no-repeat fixed !important;
		}
	}

	.non-collapsible-section {
		padding: 0 !important;

		.search-wrapper {
			padding-block-start: 0 !important;
		}

		.search-inner-wrapper {
			width: 164px !important;

			@media (min-width: 610px) {
				width: 364px !important;
			}

			@media (min-width: 866px) {
				width: 564px !important;
			}

			@media (min-width: 1122px) {
				width: 764px !important;
			}
		}
	}

	.search-wrapper input,
	.search-handoff-button {
		background-color: var(--neptune-popover-background) !important;
		backdrop-filter: blur(32px);
		filter: saturate(1.2);
		background-size: 24px !important;
		border: none !important;
		box-shadow: 0 0 10px var(--neptune-menu-shadow-color) !important;
		border-radius: var(--border-radius-large) !important;
	}

	.contentSearchSuggestionTable {
		background-color: var(--neptune-popover-background) !important;
		backdrop-filter: blur(32px);
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;

		.contentSearchHeader, .contentSearchSettingsButton {
			background-color: var(--neptune-popover-background) !important;
			backdrop-filter: blur(8px);
			filter: saturate(1.2);
			border-color: transparent !important;
		}

		.contentSearchOneOffsTable {
			background-color: transparent !important;
			border: none !important;
		}

		.contentSearchOneOffItem {
			height: 28px !important;
			border: none !important;
			border-radius: var(--border-radius-small);
		}
	}

	.search-button,
	.logo-and-wordmark,
	.info, .promo,
	.top-site-outer .title .icon,
	.home-section .divider,
	.wallpaper-attribution,
	.customize-menu .close-button-wrapper,
	.weatherSponsorText,
	.top-site-outer .title .sponsored-label	{
		display: none !important;
	}
}

@-moz-document url("about:privatebrowsing") {
	.search-inner-wrapper {
		height: 52px !important;
		padding: 0 !important;
	}

	.search-handoff-button {
		fill: var(--icon-color) !important;
	}

	.fake-textbox {
		color: CaptionText !important;
	}
}

@-moz-document url("about:home"), url("about:newtab"), url("about:welcome") {
	* {
		cursor: auto !important;
	}

	.ds-outer-wrapper-breakpoint-override main {
		width: 200px !important;

		@media (min-width: 610px) {
			width: 400px !important;
		}

		@media (min-width: 866px) {
			width: 600px !important;
		}

		@media (min-width: 1122px) {
			width: 800px !important;
		}
	}

	.collapsible-section {
		padding: 0 !important;

		.top-sites-list {
			margin-inline: auto !important;

			:is(.layout-variant-a, .layout-variant-b) & {
				row-gap: var(--space-xsmall) !important;
			}
		}
	}

	.top-site-outer {
		width: 100px !important;
		margin-block: 0 !important;

		.top-sites-list:not(.dnd-active) &:is(.active, :focus, :hover) {
			background: none !important;
		}

		.top-site-icon {
			background-color: transparent !important;
		}

		.top-site-inner > a {
			padding-inline: 0 !important;
		}

		.context-menu-button {
			background-color: transparent !important;
			inset-inline-end: 15px !important;
			top: -2px !important;
		}

		.tile {
			height: 64px !important;
			width: 64px !important;
			background-color: var(--neptune-content-background) !important;
			outline: none !important;
			border-radius: calc(var(--border-radius-large) - 2px) !important;
			box-shadow: 0 0 10px var(--neptune-menu-shadow-color) !important;

			.icon-wrapper:not(.top-site-outer.placeholder.add-button .tile .icon-wrapper) {
				width: 100% !important;
				height: 100% !important;
				border-radius: calc(var(--border-radius-large) - 2px) !important;

				&.letter-fallback::before {
					font-size: 1.22em !important;
					font-weight: normal !important;
					inset: 0 !important;
					transform: none !important;
				}
			}
		}

		.default-icon {
			background-size: auto !important;
			width: 100% !important;
			height: 100% !important;
		}

		.search-topsite {
			background-color: var(--theme-primary-color) !important;
			background-size: 12px !important;
			height: 24px !important;
			width: 24px !important;
		}
	}

	.context-menu {
		background-color: var(--neptune-popover-background) !important;
		backdrop-filter: blur(32px);
		filter: saturate(1.2);
		border: 1px solid var(--neptune-toolbar-border-color);
		border-radius: var(--border-radius-medium) !important;
		box-shadow: var(--neptune-menu-shadow) !important;

		&:not(.ds-card .card-stp-button-hover-background .context-menu) {
			margin-inline-start: -12px !important;
		}

		> ul > li > a,
		> ul > li > button {
			font: menu !important;

			&:is(:focus, :hover) {
				background: var(--theme-primary-hover-color) !important;
				color: #fff !important;
			}

			&:active {
				background: var(--theme-primary-active-color) !important;
			}
		}

		> ul > li.separator {
			border-color: var(--neptune-toolbar-border-color) !important;
		}
	}

	.card-outer:has(.card-preview-image.loaded),
	.ds-card-grid .sections-card-ui:not(.placeholder) {
		box-shadow: 0 2px 10px var(--newtab-section-card-box-shadow-color) !important;
	}

	.ds-card .context-menu-button {
		border-radius: 50% !important;
	}

	.modalOverlayOuter, .modal-overlay {
		background: none !important;
	}

	.modal {
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--neptune-menu-shadow) !important;
		font-size: var(--font-size-root) !important;

		.edit-topsites-wrapper & {
			width: 36em !important;
			top: 25vh !important;
			border-radius: var(--border-radius-large) !important;
			box-shadow: var(--neptune-menu-shadow) !important;

			> .topsite-form .form-wrapper input[type=text] {
				height: 22px !important;
				border-radius: var(--border-radius-small) !important;
				font-size: 12.5px !important;
			}

			> .topsite-form .top-site-outer .top-site-inner > a {
				padding-block: var(--space-xsmall) !important;
			}
		}
	}

	.actions {
		padding-block: 0 !important;
		border: none !important;

		button {
			padding: var(--space-xxsmall) var(--space-medium) !important;
			border-radius: var(--border-radius-small) !important;
			box-shadow: none !important;
		}
	}

	.personalizeButtonWrapper {
		position: fixed !important;
		inset: auto var(--space-large) var(--space-large) auto !important;
	}

	.personalize-button {
		-moz-context-properties: fill, fill-opacity !important;
		background-image: url("neptune/icons/settings.svg") !important;
		background-color: transparent !important;
		padding: 0 !important;
		background-size: 28px !important;
		width: 28px !important;
		height: 28px !important;
		visibility: visible !important;
		fill: MenuText !important;
		fill-opacity: 0.8;

		&:is(:hover, :active) {
			fill-opacity: 1;
		}
	}

	.customize-menu {
		position: absolute !important;
		width: 18em !important;
		height: fit-content !important;
		padding: 0 !important;
		border-radius: var(--border-radius-large) !important;
		transform: translateY(100%) !important;
		background-color: var(--neptune-popover-background) !important;
		backdrop-filter: blur(32px);
		filter: saturate(1.2);
		box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;
		overflow-x: hidden !important;
		transition: none !important;
	}

	.customize-menu.customize-animate-enter-done,
	.customize-menu.customize-animate-enter-active {
		transform: translateY(-100%) !important;
	}

	.home-section {
		grid-row-gap: var(--space-medium) !important;
		padding: 0 var(--space-small) !important;

		.settings-toggles {
			gap: var(--space-medium) !important;
		}

		.section .selector {
			background-color: transparent !important;
			width: 8em !important;
			box-shadow: none !important;
		}

		.section .sponsored {
			font: menu !important;
		}

		.section .more-info-top-wrapper {
			--space-large: 0.64rem !important;

			.check-wrapper {
				margin-block: auto !important;
			}
		}

		.external-link {
			background: none !important;
			padding: 0 !important;
			margin-block: 0 !important;

			&:hover {
				color: var(--theme-primary-color) !important;
			}
		}
	}

	.arrow-button {
		background: url("chrome://global/skin/icons/arrow-left-12.svg") no-repeat left !important;
		font: menu !important;
		margin: 0 var(--space-xsmall) !important;
		padding-inline-start: var(--space-large) !important;
	}

	.wallpaper-list.category {
		background-color: var(--neptune-popover-background) !important;
		backdrop-filter: blur(32px);
		inset: 0 !important;
		margin: 0 !important;
		height: 100% !important;
		width: 100% !important;
		transition: none !important;

		fieldset {
			gap: 12px !important;
			grid-auto-rows: auto !important;
		}
	}

	.category-list {
		grid-auto-rows: 52px !important;
		gap: 12px !important;
		margin-inline: 0 !important;

		label {
			font: menu !important;
		}
	}

	.wallpaper-input {
		height: 48px !important;
		padding: 0 !important;
		outline: none !important;
		box-shadow: none !important;
	}

	.wallpapers-reset {
		margin-block-start: var(--space-xsmall) !important;
		font-size: 0.75em !important;

		&:hover {
			color: var(--theme-primary-color) !important;
		}
	}

	.text-deemphasized {
		margin-block: auto !important;
		font: menu !important;
	}

	.weather {
		inset-inline-end: 0 !important;

		.weatherCard, .weatherButtonContextMenuWrapper {
			background: none !important;
			box-shadow: none !important;
		}
	}

	.weatherInfoLink {
		background-color: var(--newtab-weather-background-color) !important;
		backdrop-filter: blur(12px);
		border-radius: var(--border-radius-medium) !important;
	}

	.weatherButtonContextMenuWrapper {
		height: var(--space-small);
		width: 32px !important;
		visibility: collapse;

		.weatherCard:hover & {
			visibility: visible;
		}
	}

	.top-site-button[href*="github.com"] .top-site-icon {
		background-image: url("neptune/cards/github.svg") !important;
	}

	.top-site-button[href*="instagram.com"] .top-site-icon {
		background-image: url("neptune/cards/instagram.svg") !important
	}

	.top-site-button[href*="youtube.com"] .top-site-icon {
		background-image: url("chrome://activity-stream/content/data/content/tippytop/images/youtube-com@2x.png") !important;
	}

	.top-site-button[href*="reddit.com"] .top-site-icon {
		background-image: url("chrome://activity-stream/content/data/content/tippytop/images/reddit-com@2x.png") !important;
	}
}

@-moz-document url-prefix(about:reader) {
	.toolbar {
		border: none !important;
		padding: 0 !important;
		box-shadow: none !important;

		.toolbar-button {
			border: none !important;
			border-radius: 50% !important;
		}
	}

	.text-size-buttons > button,
	.accordion-header .chevron-icon	{
		height: 16px !important;
		width: 16px !important;
		background-size: 12px;
		border-radius: 50% !important;
	}

	.accordion-header .chevron-icon {
		background-image: url("chrome://global/skin/icons/more.svg") !important;
		border: none !important;

		#about-reader-advanced-layout[open] & {
			fill: var(--theme-primary-active-color) !important;
		}
	}

	.dropdown .dropdown-popup {
		background-color: var(--neptune-popover-background) !important;
		backdrop-filter: blur(32px);
		filter: saturate(1.2);
		border-color: var(--neptune-toolbar-border-color) !important;
		border-radius: var(--border-radius-medium) !important;
		box-shadow: var(--neptune-menu-shadow) !important;
	}

	#text-layout-controls {
		width: auto !important;
		padding: var(--space-small) !important;
		font: menu !important;

		> *:not(#about-reader-advanced-layout),
		> #about-reader-advanced-layout > *:not(.accordion-header, .reset-button) {
			padding-block: var(--space-xsmall) !important;
		}

		.reset-button {
			font: menu !important;
			padding-block: var(--space-xxsmall) !important;
		}
	}

	.dropdown-selector > select {
		background-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;
		font-weight: normal !important;
	}

	.text-alignment-buttons {
		gap: var(--space-small) !important;

		> label {
			border-radius: 4px !important;

			&[checked] {
				color: #fff !important;
			}
		}
	}

	.container {
		grid-template-areas: "title" "slider" !important;
		grid-template-columns: 1fr !important;
		gap: var(--space-xxsmall) !important;

		> .icon-container > .icon {
			height: 12px !important;
			width: 12px !important;
		}

		> .slider-container > datalist {
			font-size: 0.92em !important;
		}
	}

	#color-controls {
		width: 24em !important;
		padding-block: 0 !important;

		> button-group {
			padding-block: 0 !important;

			> button[is="named-deck-button"] {
				border-top: none !important;
			}
		}

		.reset-button {
			font: menu !important;
			padding-block-start: 0 !important; 
		}
	}

	.color-scheme-buttons {
		padding-block: var(--space-small) !important;

		> label {
			height: 28px !important;
			margin-inline: var(--space-small) !important;
			font: menu !important;

			&:before {
				width: 16px !important;
				height: 16px !important;
			}
		}
	}

	.color-input-container {
		min-height: 26px !important;
		font: menu !important;

		> #color-swatch {
			width: 24px !important;
			height: 24px !important;
		}
	}

	#inputSlider[type="range"] {
		appearance: none;
		background: none;

		&::-moz-range-thumb {
			background-color: var(--neptune-slider-color);
			width: 4px;
			height: 14px;
			border-radius: 2px;
			border-color: var(--neptune-toolbar-border-color);
			box-shadow: 0 0 3px var(--neptune-menu-shadow-color);
		}

		&::-moz-range-progress {
			background-color: var(--theme-primary-color);
			height: 4px;
			border-radius: 2px;
		}

		&::-moz-range-track {
			background-color: var(--neptune-slider-track-color);
			height: 4px;
			border-radius: 2px;
		}
	}

	.close-button,
	.hover-label,
	.icon-container,
	.dropdown .dropdown-popup h2,
	.dropdown .dropdown-popup hr,
	.slider-container > datalist {
		display: none !important;
	}
}

@-moz-document url-prefix(about:firefoxview) {
	* {
		cursor: auto !important;
	}

	.search-container {
		.search-icon {
			background-size: 12px !important;
			padding: 0 !important;
			width: 12px !important;
			height: 12px !important;
			transform: scaleX(-1);
		}

		input {
			padding-inline: var(--space-xlarge) !important;
			width: 16em !important;
		}

		.clear-icon {
			background-image: url(resource://content-accessible/searchfield-cancel.svg) !important;
			background-size: 12px !important;
		}
	}

	.sticky-container {
		flex-direction: row !important;
		align-items: center;
		justify-content: space-between;
		padding-block-end: var(--space-large) !important;

		> :is(.open-tabs-options, .history-sort-options:not([hidden]), .syncedtabs-header) {
			flex-direction: row-reverse;
		}

		.open-tabs-options, .open-tabs-sort-wrapper, .history-sort-options:not([hidden]) {
			gap: var(--space-medium) !important;
		}

		.open-tabs-sort-option, .history-sort-option {
			gap: 0 !important;
		}

		.syncedtabs-header button {
			background-color: transparent !important;
			min-height: var(--button-min-height) !important;
		}
	}

	.card-container {
		--icon-size-default: 10px !important;
		padding: var(--space-xsmall) !important;
		box-shadow: var(--shadow-10) !important;

		> .card-container-header {
			padding-block: 0 !important;
			margin-block: 0 !important;

			> .chevron-icon {
				background-image: url("chrome://global/skin/icons/arrow-up-12.svg") !important;
				background-color: transparent !important;

				.card-container:not([open]) & {
					background-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;
				}
			}
		}

		> .view-all-link {
			padding-block: 0 !important;
		}

		&.inner {
			border: none !important;
			box-shadow: none !important;
		}
	}

	.cards-container {
		> .import-history-banner [slot="main"] {
			padding-inline: var(--space-small) 0 !important;
		}

		> card-container > h3.device-header {
			gap: var(--space-small) !important;
		}
	}

	card-container h3.device-header:not([slot="header"]) {
		margin-block: var(--space-xsmall) !important;
	}

	virtual-list > :is(opentabs-tab-row, fxview-tab-row, syncedtabs-tab-row) {
		align-items: center !important;
	}

	.fxview-tab-row-main {
		padding-block: 3px !important;

		> .fxview-tab-row-favicon-wrapper > *::after {
			display: none !important;
		}
	}

	.submenu-icon {
		background-image: url("chrome://global/skin/icons/arrow-right-12.svg") !important;
	}
}

@-moz-document regexp(".*\\.pdf") {
	:root {
		--toolbar-horizontal-padding: 12px !important;
		--button-hover-color: var(--neptune-item-hover-background) !important;
		--dropdown-btn-bg-color: var(--neptune-item-background) !important;
		--toggled-btn-bg-color: var(--neptune-item-background) !important;
		--toggled-hover-active-btn-color: var(--neptune-item-active-background) !important;
	}

	.thumbnail,
	.toolbarButton:not(.labeled),
	.dropdownToolbarButton,
	.dropdownToolbarButton > select,
	.dialogButton {
		border-radius: var(--border-radius-small) !important;
	}

	.toolbarHorizontalGroup {
		gap: 8px !important;

		.toolbarButtonWithContainer {
			aspect-ratio: auto !important;

			.toolbarButton.labeled {
				min-height: var(--button-min-height) !important;
			}
		}
	}

	#sidebarContainer,
	#toolbarContainer,
	#toolbarSidebar {
		box-shadow: none !important;
		border: none !important;
	}

	#sidebarContent {
		background-color: var(--sidebar-toolbar-bg-color);
	}

	.thumbnail {
		border-width: 3px !important;
		margin-block-end: 2em !important;
		box-shadow: 0 0 10px var(--neptune-menu-shadow-color);
	}

	.toolbarField {
		padding-block: 0 !important;
		border-radius: 4px !important;

		&:focus {
			border-color: var(--neptune-input-outline-color) !important;
		}
	}

	#secondaryToolbar,
	.editorParamsToolbar {
		border-radius: var(--border-radius-small) !important;
		box-shadow: var(--neptune-menu-shadow) !important;
	}

	.editorParamsToolbarContainer .editorParamsColor {
		width: 16px !important;
		height: 16px !important;
		border: none;
	}

	.pdfViewer .page {
		margin-bottom: 30px !important;
		border: none !important;
		box-shadow: var(--neptune-panel-shadow) !important;
	}

	.toolbarButtonSpacer,
	.splitToolbarButtonSeparator,
	.verticalToolbarSeparator {
		display: none !important;
	}
}

@-moz-document media-document(image) {
	@media not print {
		:root {
			background-color: var(--neptune-main-background) !important;
			background-image: none !important;
		}
	}
}

.pip-wrapper {
	display: none;
}

::selection {
	background-color: var(--neptune-item-selection-background) !important;
}

.controlBar {
	height: 31px !important;
	background-color: #00000080 !important;
	backdrop-filter: blur(8px);
	margin: 6px;
	border-radius: var(--border-radius-small);

	> .button:enabled:is(:hover, :hover:active) {
		fill: #fff !important;
	}
}

.scrubber::-moz-range-thumb {
	height: 17px !important;
	width: 4px !important;
	border-radius: 2px !important;
}

.volumeControl::-moz-range-thumb {
	height: 12px !important;
	width: 12px !important;
}

.bufferBar,
.volumeControl::-moz-range-track {
	background-color: #666 !important;
}

.bufferBar::-moz-progress-bar {
	background-color: #888 !important;
}

.volumeControl::-moz-range-progress,
.progressBar::-moz-progress-bar {
	background-color: #aaa !important;
}

.scrubber:hover::-moz-range-thumb,
.volumeControl:hover::-moz-range-thumb {
	background-color: #fff !important;
}

#eDivResult {
	background: var(--neptune-popover-background) !important;
	backdrop-filter: blur(16px) !important;
	border: 1px solid var(--neptune-toolbar-border-color) !important;
	border-radius: 12px !important;
	box-shadow: var(--neptune-panel-shadow) !important;
}