@import "neptune/share/shared.css";
@import "neptune/firefox/root.css";
@import "neptune/firefox/aboutpage.css";
@import "neptune/firefox/startpage.css";
@import "neptune/firefox/reader.css";
@import "neptune/firefox/firefoxview.css";
@import "neptune/firefox/pdf.css";
/* This style is only activated when "Toolbox_transparent_startpage.css" in "userChrome.css" is enabled. */
@import "neptune/optionals/Startpage_for_transparent_toolbox.css";

@-moz-document url("about:home"), url("about:newtab") {
	body {
		background: url("neptune/assets/background_image/Topography_Greenblue.png") center/cover fixed !important;

		@media (prefers-color-scheme: dark) {
			background: url("neptune/assets/background_image/Topography_Pupple.png") center/cover fixed !important;
		}

		&:not(.inline-onboarding) .fixed-search .search-wrapper {
			background-color: transparent !important;
			min-height: 52px !important;
			padding: 0 !important;
			border: none !important;
		}
	}
}

@-moz-document url("about:privatebrowsing") {
	body {
		background: url("neptune/assets/background_image/Flowers_Purple.svg") center/cover fixed;
	}
}