@import "neptune/theme/main.css";

/* On Windows, you must choose one of the titlebar buttons. macOS can ignore it. */
@import "neptune/optionals/macos_controls.css";
/* @import "neptune/optionals/windows_native_controls.css"; */

/* Optionals */
/* @import "neptune/optionals/Show_bookmarks_bar_on_hover.css"; */

/* This style will make the homepage toolbox completely transparent and display the background image.
It must work together with “Startpage_for_transparent_toolbox.css” in "userContent.css". */
@import "neptune/optionals/Toolbox_transparent_startpage.css";

/* macOS Tahoe floating toolbar */
@import "neptune/optionals/macos_tahoe_theme_toolbar.css";