@-moz-document regexp(".*\\.pdf") {
	:root {
		--toolbar-horizontal-padding: 12px !important;
		--icon-size: 16px !important;
		--button-hover-color: var(--nept-item-hover-background) !important;
		--dropdown-btn-bg-color: var(--nept-item-background) !important;
		--doorhanger-bg-color: Menu !important;
		--toggled-btn-bg-color: var(--nept-item-background) !important;
		--toggled-hover-active-btn-color: var(--nept-item-active-background) !important;
		--focus-ring-color: var(--focus-outline-color) !important;
	}

	.toggle-button {
		--color-accent-primary: var(--color-accent-primary) !important;
		--color-accent-primary-hover: var(--color-accent-primary-hover) !important;
		--color-accent-primary-active: var(--color-accent-primary-active) !important;
		--toggle-dot-background-color: var(--nept-slider-color) !important;
		--toggle-dot-background-color-on-pressed: var(--nept-slider-color) !important;
	}

	.dialog {
		--textarea-bg-color: var(--nept-input-bgcolor) !important;
		--textarea-border-color: var(--border-color-deemphasized) !important;
		--button-primary-bg-color: var(--color-accent-primary) !important;
		--button-primary-hover-bg-color: var(--color-accent-primary-hover) !important;
		--button-primary-active-bg-color: var(--color-accent-primary-active) !important;
		--button-secondary-bg-color: var(--button-background-color) !important;
		--button-secondary-hover-bg-color: var(--button-background-color-hover) !important;
		--button-secondary-active-bg-color: var(--button-background-color-active) !important;
		--text-primary-color: GrayText !important;
		--text-secondary-color: GrayText !important;

		.mainContainer button:not(:is(.toggle-button, .closeButton, .clearInputButton)) {
			border-radius: var(--border-radius-small) !important;
			padding: 0 16px !important;
			height: var(--button-min-height) !important;
		}
	}

	.editToolbar {
		--editor-toolbar-bg-color: menu !important;
		--editor-toolbar-border-color: var(--doorhanger-border-color) !important;
		--editor-toolbar-hover-bg-color: transparent !important;
		--editor-toolbar-hover-fg-color: accentcolor !important;
	}

	.sidebar {
		--sidebar-border-radius: var(--border-radius-large) !important;

		> .sidebarResizer {
			height: 48px;
			margin-block: auto;

			.sidebar:hover & {
				background-color: var(--separator-color) !important;
				border: none !important;
				border-radius: 4px;
			}
		}
	}

	.toolbarButton:not(.labeled),
	.dropdownToolbarButton,
	.dialogButton {
		border-radius: var(--border-radius-xlarge) !important;
	}

	.toolbarHorizontalGroup {
		gap: 8px !important;

		> .dropdownToolbarButton > select {
			background: none !important;
			padding-inline-start: 12px !important;
		}

		> .dropdownToolbarButton::after {
			inset-inline-end: 8px !important;
		}

		.toolbarButtonWithContainer {
			aspect-ratio: auto !important;

			.editorParamsToolbar.menu {
				padding-block: 0 !important;

				#editorCommentsSidebar #editorCommentsSidebarCloseButton {
					--comment-close-button-icon: url("resource://content-accessible/close-12.svg") !important;
					width: 16px !important;
					height: 16px !important;
					padding: 0 !important;
					border-radius: var(--border-radius-large) !important;
					cursor: default !important;
				}
			}

			.toolbarButton.labeled {
				min-height: var(--button-min-height) !important;
			}
		}
	}

	#viewsManager {
		--sidebar-bg-color: var(--nept-secondary-background) !important;
		--header-bg: transparent !important;
		--manage-button-icon: url(images/pages_viewArrow.svg) !important;
		height: calc(var(--viewer-container-height) - var(--sidebar-block-padding)) !important;
		padding-bottom: 0 !important;
		border-radius: var(--border-radius-large);

		> #viewsManagerHeader {
			box-shadow: none !important;

			> #viewsManagerTitle {
				padding: 6px 16px 6px 8px !important;
			}

			#viewsManagerStatus > div {
				min-height: 36px !important;

				#actionSelector {
					height: var(--button-min-height) !important;

					> #viewsManagerStatusActionButton {
						padding: 4px 8px !important;
					}
				}
			}
		}
	}

	#viewerContainer {
		inset-block-start: calc(var(--toolbar-height) + 8px) !important;
		
		.pdfViewer .page {
			margin-bottom: 36px !important;
			border-radius: var(--border-radius-large);
			border: none !important;
			box-shadow: var(--dialog-shadow) !important;

			.canvasWrapper canvas {
				border-radius: var(--border-radius-large);
			}
		}
	}

	.toolbarField {
		padding-block: 0 !important;
		border-radius: var(--border-radius-xsmall) !important;

		&:focus {
			border-color: var(--nept-input-outline-color) !important;
		}
	}

	#secondaryToolbar,
	.editorParamsToolbar {
		border-radius: var(--border-radius-small) !important;
		box-shadow: var(--dialog-shadow) !important;
	}

	.editorParamsToolbarContainer .editorParamsColor {
		width: 16px !important;
		height: 16px !important;
		border: none;
	}

	.toolbarButtonSpacer,
	.splitToolbarButtonSeparator,
	.verticalToolbarSeparator {
		display: none !important;
	}
}

@-moz-document media-document(image) {
	@media not print {
		:root {
			background-color: var(--nept-background-canvas) !important;
			background-image: none !important;
		}
	}
}