@-moz-document regexp(".*\\.pdf") {
	:root {
		--toolbar-horizontal-padding: 12px !important;
		--button-hover-color: var(--nept-item-hover-background) !important;
		--dropdown-btn-bg-color: var(--nept-item-background) !important;
		--doorhanger-bg-color: Menu !important;
		--toggled-btn-bg-color: var(--nept-item-background) !important;
		--toggled-hover-active-btn-color: var(--nept-item-active-background) !important;
		--focus-ring-color: var(--focus-outline-color) !important;
	}

	.toggle-button {
		--color-accent-primary: var(--color-accent-primary) !important;
		--color-accent-primary-hover: var(--color-accent-primary-hover) !important;
		--color-accent-primary-active: var(--color-accent-primary-active) !important;
		--toggle-dot-background-color: var(--nept-slider-color) !important;
		--toggle-dot-background-color-on-pressed: var(--nept-slider-color) !important;
	}

	.dialog {
		--textarea-bg-color: var(--nept-input-bgcolor) !important;
		--textarea-border-color: var(--border-color-deemphasized) !important;
		--button-primary-bg-color: var(--color-accent-primary) !important;
		--button-primary-hover-bg-color: var(--color-accent-primary-hover) !important;
		--button-primary-active-bg-color: var(--color-accent-primary-active) !important;
		--button-secondary-bg-color: var(--button-background-color) !important;
		--button-secondary-hover-bg-color: var(--button-background-color-hover) !important;
		--button-secondary-active-bg-color: var(--button-background-color-active) !important;
		--text-primary-color: GrayText !important;
		--text-secondary-color: GrayText !important;
		--dialog-shadow: var(--nept-panel-shadow) !important;

		.mainContainer button:not(:is(.toggle-button, .closeButton, .clearInputButton)) {
			border-radius: var(--border-radius-small) !important;
			padding: 0 16px !important;
			height: var(--button-min-height) !important;
		}
	}

	.editToolbar {
		--editor-toolbar-bg-color: menu !important;
		--editor-toolbar-border-color: var(--doorhanger-border-color) !important;
		--editor-toolbar-hover-bg-color: transparent !important;
		--editor-toolbar-hover-fg-color: accentcolor !important;
	}

	.toolbarButton:not(.labeled),
	.dropdownToolbarButton,
	.dialogButton {
		border-radius: var(--border-radius-xlarge) !important;
	}

	.toolbarHorizontalGroup {
		gap: 8px !important;

		> .dropdownToolbarButton > select {
			background: none !important;
			padding-inline-start: 12px !important;
		}

		> .dropdownToolbarButton::after {
			inset-inline-end: 8px !important;
		}

		.toolbarButtonWithContainer {
			aspect-ratio: auto !important;

			.editorParamsToolbar.menu {
				padding-block: 0 !important;

				#editorCommentsSidebar #editorCommentsSidebarCloseButton {
					--comment-close-button-icon: url("resource://content-accessible/close-12.svg") !important;
					width: 16px !important;
					height: 16px !important;
					padding: 0 !important;
					border-radius: var(--border-radius-large) !important;
					cursor: default !important;
				}
			}

			.toolbarButton.labeled {
				min-height: var(--button-min-height) !important;
			}
		}
	}

	#sidebarContainer,
	#toolbarContainer,
	#toolbarSidebar {
		box-shadow: none !important;
		border: none !important;
	}

	#sidebarContent {
		background-color: var(--sidebar-toolbar-bg-color);
	}

	.thumbnail {
		border-width: 3px !important;
		border-radius: var(--border-radius-small) !important;
		margin: 0 1em 2em !important;
		box-shadow: 0 3px 12px var(--box-shadow-color-lighter-layer-2);
	}

	.toolbarField {
		padding-block: 0 !important;
		border-radius: var(--border-radius-xsmall) !important;

		&:focus {
			border-color: var(--nept-input-outline-color) !important;
		}
	}

	#secondaryToolbar,
	.editorParamsToolbar {
		border-radius: var(--border-radius-small) !important;
		box-shadow: var(--nept-menu-shadow) !important;
	}

	.editorParamsToolbarContainer .editorParamsColor {
		width: 16px !important;
		height: 16px !important;
		border: none;
	}

	.pdfViewer .page {
		margin-bottom: 30px !important;
		border: none !important;
		box-shadow: var(--nept-panel-shadow) !important;
	}

	.toolbarButtonSpacer,
	.splitToolbarButtonSeparator,
	.verticalToolbarSeparator {
		display: none !important;
	}
}

@-moz-document media-document(image) {
	@media not print {
		:root {
			background-color: var(--nept-background-canvas) !important;
			background-image: none !important;
		}
	}
}