:root {
	--background-color-canvas: var(--nept-background-canvas) !important;
	--in-content-table-background: var(--nept-content-background) !important;
	--in-content-box-info-background: var(--nept-content-background) !important;
	--background-color-box-info: var(--nept-background-canvas) !important;
	--table-row-background-color: var(--nept-background-canvas) !important;
	--table-row-background-color-alternate: var(--nept-content-background) !important;
	--background-color-box: var(--nept-menu-background) !important;
	--newtab-primary-element-text-color: #fff !important;
	--newtab-background-color: var(--nept-background-canvas) !important;
	--newtab-background-color-secondary: var(--nept-secondary-background) !important;
	--newtab-background-card: var(--nept-secondary-background) !important;
	--newtab-element-hover-color: var(--nept-item-hover-background) !important;
	--newtab-element-active-color: var(--nept-item-active-background) !important;
	--newtab-border-color: var(--nept-toolbar-border-color) !important;
	--border-color-deemphasized: var(--nept-toolbar-border-color) !important;
	--fxview-border: var(--nept-toolbar-border-color) !important;
	--sidebar-toolbar-bg-color: var(--nept-background-canvas) !important;
	--thumbnail-hover-color: var(--color-accent-primary-hover) !important;
	--thumbnail-selected-color: var(--color-accent-primary-active) !important;
	--checkbox-checked-bgcolor: var(--color-accent-primary) !important;
	--checkbox-checked-hover-bgcolor: var(--color-accent-primary-hover) !important;
	--checkbox-checked-active-bgcolor: var(--color-accent-primary-active) !important;
	--focus-outline-color: var(--nept-input-outline-color) !important;
	--brand-color-accent: var(--color-accent-primary) !important;
	--brand-color-accent-hover: var(--color-accent-primary-hover) !important;
	--brand-color-accent-active: var(--color-accent-primary-active) !important;
	--newtab-primary-action-background: var(--color-accent-primary) !important;
	--theme-arrowpanel-background: menu !important;
	--theme-arrowpanel-border-color: var(--nept-toolbar-border-color) !important;
	--theme-arrowpanel-separator: var(--nept-separator-color) !important;
	--theme-body-background: var(--nept-background-canvas) !important;
	--theme-link-color: var(--color-accent-primary) !important;
	--theme-icon-checked-color: var(--color-accent-primary-active) !important;
	--theme-selection-background: var(--color-accent-primary-active) !important;
	--theme-selection-background-hover: var(--nept-item-selection-hover-background) !important;
	--theme-text-selection-background: var(--nept-item-selection-hover-background) !important;
	--theme-tab-toolbar-background: var(--nept-background-canvas) !important;
	--theme-toolbar-background: var(--nept-background-canvas) !important;
	--theme-toolbar-hover: var(--nept-item-hover-background) !important;
	--theme-toolbar-hover-active: var(--nept-item-active-background) !important;
	--theme-toolbar-selected-color: var(--color-accent-primary) !important;
	--theme-toolbar-alternate-hover: var(--nept-item-active-background) !important;
	--theme-focus-textinput-outline-color: var(--nept-input-outline-color) !important;
	--button-min-height: 24px !important;
	--button-padding: 0 var(--space-large) !important;
	--theme-toolbar-height: var(--button-min-height) !important;
	--theme-arrowpanel-border-radius: 8px !important;
	--tab-line-selected-color: transparent !important;
	--tab-line-hover-color: transparent !important;
	--font-size-root: var(--default-font-size) !important;
	--font-size-small: 0.96rem !important;
	--font-size-large: 1.2rem !important;
	--font-size-xlarge: 1.44rem !important;
	--font-size-xxlarge: 1.76rem !important;
	--font-size-xxxlarge: 2rem !important;
	--space-xsmall: 0.32rem !important;
}

::selection {
	background-color: var(--nept-item-selection-background) !important;
}

.videocontrols {
	/* The PIP floating button is shown by default. It can be disabled in General settings. */
	.pip-wrapper {
		inset: calc(80% - var(--pip-icon-width-with-margins)) auto auto calc(50% - var(--pip-icon-width-with-margins) / 2) !important;
		cursor: default !important;

		&:not(.experiment) > .pip-small {
				background-color: #ffffff3f !important;
				backdrop-filter: saturate(1.5) blur(6px);
				border: none !important;
				border-radius: var(--border-radius-circle) !important;
				box-shadow: var(--nept-glass-shadow) !important;
		}

		> .pip-icon {
			background-image: url("../assets/icons/picture-in-picture-open.svg") !important;
			fill: #fff !important;
		}
	}

	.controlBar {
		height: 31px !important;
		background-color: #00000080 !important;
		backdrop-filter: saturate(1.5) blur(2em);
		margin: 6px;
		border-radius: var(--border-radius-small);

		> .button:enabled:is(:hover, :hover:active) {
			fill: #fff !important;
		}

		> .muteButton {
			background-image: url("../assets/icons/audio.svg") !important;

			&[muted] {
				background-image: url("../assets/icons/audio-muted.svg") !important;
			}

			&[noAudio] {
				background-image: url("../assets/icons/audioNoAudioButton.svg") !important;
			}
		}

		> .fullscreenButton {
			background-image: url("../assets/icons/fullscreenEnterButton.svg") !important;

			&[fullscreened] {
				background-image: url("../assets/icons/fullscreenExitButton.svg") !important;
			}
		}

		.scrubber::-moz-range-thumb {
			height: 17px !important;
			width: 4px !important;
			border-radius: 2px !important;
		}

		.volumeControl::-moz-range-thumb {
			height: 14px !important;
			width: 14px !important;
		}

		.bufferBar,
		.volumeControl::-moz-range-track {
			background-color: #666 !important;
		}

		.bufferBar::-moz-progress-bar {
			background-color: #888 !important;
		}

		.volumeControl::-moz-range-progress,
		.progressBar::-moz-progress-bar {
			background-color: #aaa !important;
		}

		.scrubber:hover::-moz-range-thumb,
		.volumeControl:hover::-moz-range-thumb {
			background-color: #fff !important;
		}
	}
}