@-moz-document url("about:home"), url("about:newtab"), url("about:welcome"), url("about:privatebrowsing") {
	.non-collapsible-section {
		padding: 0 !important;

		.search-wrapper {
			padding-block-start: 0 !important;

			.search-button {
				display: none;
			}
		}

		.search-inner-wrapper {
			width: calc(3 * (2 * var(--size-item-large) + var(--space-xlarge)) - var(--space-xlarge)) !important;

			@media (min-width: 724px) {
				width:calc(6 * (2 * var(--size-item-large) + var(--space-xlarge)) - var(--space-xlarge)) !important;
			}

			@media (min-width: 1122px) {
				width: calc(8 * (2 * var(--size-item-large) + var(--space-xlarge)) - var(--space-xlarge)) !important;
			}
		}
	}

	.search-wrapper input,
	.search-handoff-button {
		background-size: 24px !important;
		backdrop-filter: saturate(1.5) blur(2em);
		border: none !important;
		border-radius: var(--border-radius-circle) !important;
		box-shadow: var(--box-shadow-level-3) !important;
	}

	.contentSearchSuggestionTable {
		background-color: var(--newtab-background-color-secondary) !important;
		backdrop-filter: saturate(1.5) blur(2em);
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;

		.contentSearchHeader, .contentSearchSettingsButton {
			background-color: var(--newtab-background-color-secondary) !important;
			backdrop-filter: saturate(1.5) blur(2em);
			border-color: transparent !important;
		}

		.contentSearchOneOffsTable {
			background-color: transparent !important;
			border: none !important;
		}

		.contentSearchOneOffItem {
			height: 28px !important;
			border: none !important;
			border-radius: var(--border-radius-small);
		}
	}

	.logo-and-wordmark-wrapper,
	.showPrivate.showSearch.container,
	.home-section .divider,
	.wallpaper-attribution,
	.weatherSponsorText,
	.top-site-outer :is(.icon.icon-pin-small, .sponsored-label) {
		display: none !important;
	}
}

@-moz-document url("about:privatebrowsing") {
	.search-inner-wrapper {
		height: 52px !important;
		padding: 0 !important;
	}

	.search-handoff-button {
		fill: var(--icon-color) !important;
	}

	.fake-textbox {
		color: CaptionText !important;
	}
}

@-moz-document url("about:home"), url("about:newtab"), url("about:welcome") {
	* {
		cursor: auto !important;
	}

	.collapsible-section {
		padding: 0 !important;

		.top-sites-list {
			row-gap: unset !important;
		}
	}

	.top-site-outer {
		background: none !important;
		width: calc(2 * var(--size-item-large) + var(--space-xlarge)) !important;
		margin-block-end: var(--space-medium) !important;

		.top-site-inner > a {
			padding: 0 !important;
		}

		.context-menu-button {
			width: var(--size-item-small) !important;
			height: var(--size-item-small) !important;
			background-size: 10px !important;
			border-radius: 50% !important;
			inset-block-start: -10px !important;
			inset-inline-end: 0 !important;
		}

		.tile {
			height: calc(2 * var(--size-item-large)) !important;
			width: calc(2 * var(--size-item-large)) !important;
			backdrop-filter: saturate(1.5) blur(2em);
			outline: none !important;
			border-radius: var(--border-radius-xlarge) !important;
			box-shadow: var(--box-shadow-level-3) !important;

			.icon-wrapper:not(.top-site-outer.add-button .tile .icon-wrapper) {
				height: calc(2 * var(--size-item-large)) !important;
				width: calc(2 * var(--size-item-large)) !important;
				border-radius: var(--border-radius-xlarge) !important;

				&.letter-fallback::before {
					font-size: 1.22em !important;
					font-weight: normal !important;
					inset: 0 !important;
					transform: none !important;
				}
			}

			.top-site-outer.placeholder.add-button & {
				background-color: var(--newtab-background-card) !important;
			}
		}

		.default-icon {
			background-size: auto !important;
			width: calc(2 * var(--size-item-large)) !important;
			height: calc(2 * var(--size-item-large)) !important;
		}

		.search-topsite {
			background-color: var(--theme-primary-color) !important;
			background-size: var(--size-item-xsmall) !important;
			height: 24px !important;
			width: 24px !important;
		}

		.title {
			padding-top: var(--space-xsmall) !important;

			.title-label {
				-webkit-line-clamp: 2;
				line-height: 1.333 !important;
				width: 72px !important;
				padding-inline: 0 !important;
				white-space: wrap !important;
				word-break: break-word;
			}
		}
	}

	.context-menu {
		backdrop-filter: saturate(1.5) blur(2em);
		border-radius: var(--border-radius-medium) !important;
		box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;
		font: menu !important;

		> ul > li {
		  width: calc(100% - 10px) !important;
		  margin-inline: 5px !important;

			&.separator {
				border-color: var(--neptune-separator-color) !important;
				width: auto !important;
				margin-inline: var(--space-medium) !important;
			}

			> button {
				padding: var(--space-xsmall) var(--space-small) !important;
			}

			> :is(a, button) {
				&:is(:focus, :hover) {
					background-color: var(--theme-primary-hover-color) !important;
					color: #fff !important;
					border-radius: var(--border-radius-small) !important;
				}

				&:active {
					background-color: var(--theme-primary-active-color) !important;
				}
			}
		}

		.top-site-outer & {
			margin-inline-start: 0 !important;
			inset-block-start: 0 !important;
		}
	}

	.card-outer:has(.card-preview-image.loaded),
	.ds-card-grid .sections-card-ui:not(.placeholder) {
		box-shadow: var(--box-shadow-level-4) !important;
	}

	.ds-card-grid .sections-card-ui .meta,
	.compact-cards .card-outer .card-details:not(:has(.card-text.no-host-name)) {
		backdrop-filter: saturate(1.5) blur(2em);
	}

	.ds-card .context-menu-button {
		border-radius: 50% !important;
	}

	.modalOverlayOuter, .modal-overlay {
		background: none !important;
	}

	.modal {
		backdrop-filter: saturate(1.5) blur(2em);
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--neptune-menu-shadow) !important;
		font-size: var(--font-size-root) !important;

		.edit-topsites-wrapper & {
			width: 40em !important;
			top: 25vh !important;

			> .topsite-form .form-wrapper input[type=text] {
				height: var(--button-min-height) !important;
				border-radius: var(--border-radius-large) !important;
				font-size: var(--font-size-root) !important;
			}

			> .topsite-form .form-wrapper .error-tooltip {
				inset-inline-start: 0 !important;
				border-radius: var(--border-radius-large) !important;
				font-size: var(--font-size-root);
				box-shadow: var(--box-shadow-level-3);
			}

			> .topsite-form .top-site-outer .top-site-inner > a {
				padding-block: var(--space-xsmall) !important;
			}
		}
	}

	.actions {
		padding-block: 0 !important;
		border: none !important;

		button {
			--newtab-button-secondary-color: var(--button-background-color) !important;
			padding: var(--space-xsmall) var(--space-medium) !important;
			border: none !important;
			border-radius: var(--border-radius-medium) !important;
			box-shadow: none !important;
		}
	}

	.personalizeButtonWrapper {
		inset-block-end: var(--space-large) !important;
		inset-inline-end: var(--space-large) !important;

		.personalize-button {
			--button-collapsed-width: fit-content !important;
			background-color: light-dark(#00000066, #ffffff3f) !important;
			backdrop-filter: blur(2em);
			color: var(--in-content-primary-button-text-color) !important;
			padding: var(--space-xsmall) var(--space-medium) !important;
			border-radius: var(--border-radius-circle) !important;
			box-shadow: none !important;
			visibility: visible !important;
			transition: none !important;

			&:is(:hover, :focus) {
				background-color: light-dark(#00000059, #ffffff4c) !important;
			}

			> div {
				display: none !important;
			}

			> label {
				margin-inline: auto !important;
				opacity: unset !important;
				transform: none !important;
			}
		}
	}

	.customize-menu {
		width: calc(3 * 92px + 4 * var(--space-medium)) !important;
		height: fit-content !important;
		padding: 0 !important;
		border-radius: var(--border-radius-large) !important;
		backdrop-filter: saturate(1.5) blur(3em);
		overflow-x: hidden !important;
		inset-block: auto calc(var(--space-large) + var(--size-item-medium)) !important;
		inset-inline-end: var(--space-large) !important;
		box-shadow: var(--neptune-small-shadow), var(--neptune-menu-shadow) !important;
		transform-origin: bottom right;
		transition: none !important;

		@media (-moz-platform: macos) {
			width: calc(3 * 92px + 5 * var(--space-medium)) !important;
		}

		> .close-button-wrapper {
			background-color: transparent !important;
			padding-block: 0 !important;
			display: none;

			> .close-button {
				background-color: transparent !important;
				margin-inline-end: 0 !important;
				border: none !important;
			}
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.customize-menu.customize-animate-enter-done, .customize-menu.customize-animate-enter-active {
			animation: menuBounce 200ms linear backwards;
		}
	}

	.home-section {
		grid-row-gap: var(--space-medium) !important;
		padding: 0 var(--space-medium) !important;

		.settings-toggles {
			gap: var(--space-medium) !important;
		}

		.wallpapers-section h2 {
			margin-block: var(--space-small) !important;
		}

		.section .selector {
			width: 8em !important;
			box-shadow: none !important;

			&:not(:hover) {
				background-color: transparent !important;
			}
		}

		.section .more-info-top-wrapper {
			--space-large: 0.8rem !important;
		}

		.wallpapers-reset:hover {
			color: var(--theme-primary-color) !important;
		}

		.external-link {
			margin: 0 !important;
			color: var(--newtab-text-primary-color) !important;

			&:hover {
				color: var(--link-color) !important;
				fill: var(--link-color) !important;
			}
		}
	}

	.arrow-button {
		background: url("chrome://global/skin/icons/arrow-left-12.svg") no-repeat left !important;
		margin: var(--space-xsmall) var(--space-medium) !important;
		padding-inline-start: var(--space-large) !important;
	}

	.wallpaper-list.category {
		backdrop-filter: saturate(1.5) blur(2em);
		inset: 0 !important;
		margin: 0 !important;
		height: auto !important;
		overflow-y: auto;
		width: auto !important;
		transition: none !important;

		fieldset {
			gap: var(--space-small) var(--space-medium) !important;
			grid-auto-rows: min-content !important;
		}
	}

	.category-list {
		grid-auto-rows: min-content !important;
		gap: var(--space-small) var(--space-medium) !important;
		margin: auto auto var(--space-xsmall) !important;
	}

	.wallpaper-input {
		height: 56px !important;
		margin-block-end: var(--space-xsmall) !important;
		box-shadow: none !important;
	}

	.wallpaper-input.theme-custom-wallpaper, .theme-custom-color-picker {
		background-color: var(--button-background-color) !important;
		border: none !important;

		&:hover {
			background-color: var(--button-background-color-hover) !important;
		}
	}

	.theme-custom-color-picker {
		background-color: transparent !important;
		outline: none !important;

		label {
			display: none !important;
		}
	}

	.weather {
		inset-inline-end: var(--space-large) !important;

		.weatherCard, .weatherButtonContextMenuWrapper {
			background: none !important;
			box-shadow: none !important;
			flex-direction: row-reverse;
		}

		> .location-input-wrapper {
			--button-size-icon-small: 16px !important;
			--icon-size-default: 10px !important;
			--button-min-height-small: 16px !important;
			--button-border-radius: var(--border-radius-large) !important;
			background-color: var(--newtab-background-color-secondary) !important;
			backdrop-filter: saturate(1.5) blur(1em);
			border-radius: var(--border-radius-circle) !important;
		}

		> .weatherNotAvailable {
			background-color: var(--newtab-background-card) !important;
			backdrop-filter: saturate(1.5) blur(1em);
			border-radius: var(--border-radius-circle) !important;
		}
	}

	.weatherInfoLink {
		background-color: var(--newtab-weather-background-color) !important;
		backdrop-filter: saturate(1.5) blur(1em);
		border-radius: var(--border-radius-circle) !important;
	}

	.weatherButtonContextMenuWrapper {
		height: var(--space-small);
		width: 32px !important;
		visibility: collapse;

		.weatherCard:hover & {
			visibility: visible;
		}
	}

	.weather-placeholder {
		background: var(--newtab-background-card) !important;
		backdrop-filter: saturate(1.5) blur(1em);
		border-radius: var(--border-radius-xlarge) !important;

		.placeholder-fill {
			backdrop-filter: saturate(1.5) blur(1em);
			border-radius: var(--border-radius-xlarge) !important;
		}
	}

	.top-site-button[href*="facebook.com"] .top-site-icon {
		background-image: url("../assets/cards/facebook.svg") !important;
	}

	.top-site-button[href*="github.com"] .top-site-icon {
		background-image: url("../assets/cards/github.svg") !important;
	}

	.top-site-button[href*="instagram.com"] .top-site-icon {
		background-image: url("../assets/cards/instagram.svg") !important;
	}

	.top-site-button:is([href*="chatgpt.com"], [href*="openai.com"]) .top-site-icon {
		background-image: url("../assets/cards/openai.svg") !important;
	}

	.top-site-button[href*="reddit.com"] .top-site-icon {
		background-image: url("../assets/cards/reddit.svg") !important;
	}

	.top-site-button[href*="youtube.com"] .top-site-icon {
		background-image: url("chrome://activity-stream/content/data/content/tippytop/images/youtube-com@2x.png") !important;
	}
}