@-moz-document url("about:home"), url("about:newtab"), url("about:welcome"), url("about:privatebrowsing") {
	.non-collapsible-section {
		padding: 0 !important;

		.search-wrapper {
			padding-block-start: 0 !important;

			.search-button {
				display: none;
			}
		}

		.search-inner-wrapper {
			width: calc(3 * (2 * var(--size-item-xlarge) + var(--space-xlarge)) - var(--space-xlarge)) !important;

			@media (min-width: 724px) {
				width: calc(6 * (2 * var(--size-item-xlarge) + var(--space-xlarge)) - var(--space-xlarge)) !important;
			}

			@media (min-width: 1122px) {
				width: calc(8 * (2 * var(--size-item-xlarge) + var(--space-xlarge)) - var(--space-xlarge)) !important;
			}
		}
	}

	.search-wrapper input,
	.search-handoff-button {
		backdrop-filter: saturate(1.5) blur(6px);
		border: none !important;
		box-shadow: none !important;
	}

	.contentSearchSuggestionTable {
		background-color: var(--newtab-background-color-secondary) !important;
		backdrop-filter: saturate(1.5) blur(var(--dimension-12));
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--nept-small-shadow), var(--nept-menu-shadow) !important;

		.contentSearchHeader, .contentSearchSettingsButton {
			background-color: var(--newtab-background-color-secondary) !important;
			backdrop-filter: saturate(1.5) blur(var(--dimension-12));
			border-color: transparent !important;
		}

		.contentSearchOneOffsTable {
			background-color: transparent !important;
			border: none !important;
		}

		.contentSearchOneOffItem {
			height: 28px !important;
			border: none !important;
			border-radius: var(--border-radius-small);
		}
	}
}

@-moz-document url("about:privatebrowsing") {
	.logo-and-wordmark,
	.search-inner-wrapper {
		display: none !important;
	}

	.search-inner-wrapper > content-search-handoff-ui {
		--content-search-handoff-ui-background-color: var(--newtab-background-color-secondary) !important;
	}

	.info-border {
		background: transparent !important;
		padding: 0 !important;
		border-radius: var(--border-radius-xlarge) !important;
		box-shadow: none !important;

		> :is(.promo.below-search.promo-visible, .info) {
			--button-border-radius:  var(--border-radius-xlarge) !important;
			background-color: var(--newtab-background-color-secondary) !important;
			backdrop-filter: blur(var(--dimension-4));
			border-radius: var(--border-radius-xlarge) !important;
			box-shadow: none !important;
		}

		.promo-cta .primary {
			background-color: var(--color-accent-primary) !important;
			color: var(--button-text-color-primary) !important;
			cursor: default !important;

			&:hover {
				background-color: var(--color-accent-primary-hover) !important;

				&:active {
					background-color: var(--color-accent-primary-active) !important;
				}
			}
		}
	}
}

@-moz-document url("about:home"), url("about:newtab"), url("about:welcome") {
	* {
		cursor: auto !important;
	}

	.logo-and-wordmark-wrapper:not(.nova-enabled .logo-and-wordmark-wrapper) {
		display: none;
	}

	.collapsible-section {
		padding: 0 !important;

		.top-sites-list {
			row-gap: unset !important;
		}
	}

	.nova-enabled .top-sites-list {
		column-gap: var(--space-xlarge) !important;
		row-gap: var(--space-small) !important;
	}

	@container content-grid (inline-size >= calc(6 * (72px + var(--space-xlarge)))) {
		.nova-enabled .search-inner-wrapper {
			width: calc(6 * (2 * var(--size-item-xlarge) + var(--space-xlarge)) - var(--space-xlarge)) !important;
		}

		.nova-enabled .top-sites-list {
			grid-template-columns: repeat(6, auto) !important;
		}
	}

	@container content-grid (inline-size >= calc(8 * (72px + var(--space-xlarge)))) {
		.nova-enabled .search-inner-wrapper {
			width: calc(8 * (2 * var(--size-item-xlarge) + var(--space-xlarge)) - var(--space-xlarge)) !important;
		}

		.nova-enabled .top-sites-list {
			grid-template-columns: repeat(var(--top-sites-max-per-row, 8), auto) !important;
		}
	}

	.asrouter-newtab-message-wrapper {
		border: none !important;
		border-radius: var(--border-radius-xlarge) !important;
		max-width: calc(8 * (2 * var(--size-item-xlarge) + var(--space-xlarge)) - var(--space-xlarge)) !important;
	}

	.top-site-outer {
		background: none !important;
		width: calc(2 * var(--size-item-xlarge)) !important;

		.nova-enabled & > .add-button {
			--button-size-icon: calc(2 * var(--size-item-xlarge)) !important;
			--icon-size: var(--size-item-medium) !important;
			--button-border-radius: var(--border-radius-xlarge) !important;
			inset-block-start: calc(var(--col-width) - var(--size-item-xlarge)) !important;
		}

		&:not(.nova-enabled &) {
			margin-block-end: var(--space-small) !important;
		}

		.top-site-inner > a {
			padding: 0 !important;
		}

		.context-menu-button {
			width: var(--size-item-small) !important;
			height: var(--size-item-small) !important;
			background-size: 10px !important;
			border-radius: 50% !important;
			inset-block-start: -10px !important;
			inset-inline-end: 0 !important;

			.nova-enabled & {
				inset-block-start: 0 !important;
				inset-inline-end: calc(var(--space-medium) / -1) !important;
			}
		}

		.tile {
			background-color: var(--newtab-background-color-secondary) !important;
			height: calc(2 * var(--size-item-xlarge)) !important;
			width: calc(2 * var(--size-item-xlarge)) !important;
			backdrop-filter: saturate(1.5) blur(var(--dimension-12));
			outline: none !important;
			border: none !important;
			border-radius: var(--border-radius-xlarge) !important;
			box-shadow: none !important;

			.icon-wrapper:not(.top-site-outer.add-button .tile .icon-wrapper) {
				height: calc(2 * var(--size-item-xlarge)) !important;
				width: calc(2 * var(--size-item-xlarge)) !important;
				border-radius: var(--border-radius-xlarge) !important;

				&.letter-fallback::before {
					font-size: 1.22em !important;
					font-weight: normal !important;
					inset: 0 !important;
					transform: none !important;
				}
			}

			.top-site-outer.placeholder.add-button & {
				background-color: var(--newtab-background-card) !important;
			}
		}

		.default-icon {
			background-size: auto !important;
			width: calc(2 * var(--size-item-xlarge)) !important;
			height: calc(2 * var(--size-item-xlarge)) !important;
		}

		.search-topsite {
			background-color: var(--color-accent-primary) !important;
			background-size: var(--size-item-xsmall) !important;
			height: 24px !important;
			width: 24px !important;
		}

		.title {
			padding-block-start: var(--space-xsmall) !important;

			.title-label {
				width: calc(2 * var(--size-item-xlarge) + var(--space-small)) !important;
			}
		}

		.icon-pin-small,
		.sponsored-label {
			display: none !important;
		}
	}

	.context-menu {
		backdrop-filter: saturate(1.5) blur(var(--dimension-12));
		border-radius: var(--border-radius-medium) !important;
		box-shadow: var(--nept-small-shadow), var(--nept-menu-shadow) !important;
		font: menu !important;

		> ul > li {
			width: calc(100% - 10px) !important;
			margin-inline: 5px !important;

			&.separator {
				border-color: var(--nept-separator-color) !important;
				width: auto !important;
				margin-inline: var(--space-medium) !important;
			}

			> button {
				padding: var(--space-xsmall) var(--space-small) !important;
			}

			> :is(a, button) {
				&:is(:focus, :hover) {
					background-color: var(--color-accent-primary-hover) !important;
					color: #fff !important;
					border-radius: var(--border-radius-small) !important;
				}

				&:active {
					background-color: var(--color-accent-primary-active) !important;
				}
			}
		}

		.top-site-outer & {
			margin-inline-start: 0 !important;
			inset-block-start: var(--space-medium) !important;

			.nova-enabled & {
				margin-inline-start: var(--space-small) !important;
			}
		}
	}

	/* Recent activity */
	.card-outer {
		border-radius: var(--border-radius-xlarge) !important;

		.card-preview-image-outer {
			border-radius: var(--border-radius-xlarge) var(--border-radius-xlarge) 0 0 !important;
		}

		.card-context {
			border-radius: var(--border-radius-xlarge) !important;
		}

		.context-menu-button {
			height: var(--button-min-height) !important;
			width: var(--button-min-height) !important;
			inset-inline-end: calc(var(--space-small) * -1) !important;
			inset-block-start: calc(var(--space-small) * -1) !important;
		}
	}

	/* stories */
	.nova-enabled .ds-card-grid:not(.ds-section-grid) .ds-card {
		&:not(.placeholder) {
			border-radius: var(--border-radius-xlarge) !important;
			box-shadow: none !important;
		}

		&:not(.ds-spoc, .ds-spoc-rectangle) .meta {
			padding: 0 var(--space-large) !important;
		}

		&:not(.ds-spoc, .ds-spoc-rectangle):not(.placeholder) .img-wrapper > .ds-image.img > img {
			border-radius: var(--border-radius-xlarge) var(--border-radius-xlarge) 0 0 !important;
			box-shadow: none !important;
		}

		&:not(.ds-spoc, .ds-spoc-rectangle) .ds-card-link {
			padding: 0 0 var(--space-medium) !important;
		}
	}

	.ds-card-grid .ds-card .card-stp-button-hover-background .card-stp-button-position-wrapper {
		background: none !important;
	}

	.modalOverlayOuter, .modal-overlay {
		background-color: var(--newtab-background-card) !important;
		border-radius: var(--border-radius-large) !important;
		box-shadow: var(--nept-menu-shadow) !important;
	}

	.modal {
		backdrop-filter: saturate(1.5) blur(var(--dimension-12));

		.edit-topsites-wrapper & {
			width: 40em !important;
			top: 25vh !important;

			> .topsite-form .form-wrapper input[type=text] {
				height: var(--button-min-height) !important;
				border-radius: var(--border-radius-small) !important;
				font-size: var(--font-size-root) !important;
			}

			> .topsite-form .form-wrapper .error-tooltip {
				inset-inline-start: 0 !important;
				border-radius: var(--border-radius-small) !important;
				font-size: var(--font-size-root);
				box-shadow: var(--box-shadow-level-3);
			}

			> .topsite-form .top-site-outer {
				margin-top: var(--space-large) !important;
			}
		}
	}

	.actions {
		border: none !important;

		button {
			padding: var(--space-xsmall) var(--space-medium) !important;
			border: none !important;
			border-radius: var(--border-radius-small) !important;
			box-shadow: none !important;
		}
	}

	.personalizeButtonWrapper {
		inset-block-end: var(--space-large) !important;
		inset-inline-end: var(--space-large) !important;

		.personalize-button {
			background-color: light-dark(#00000066, #ffffff3f) !important;
			backdrop-filter: blur(var(--dimension-24));
			color: var(--button-text-color-primary) !important;
			padding: var(--space-xsmall) var(--space-medium) !important;
			border-radius: var(--border-radius-circle) !important;
			box-shadow: none !important;
			visibility: visible !important;

			&:is(:hover, :focus-visible) {
				background-color: light-dark(#00000059, #ffffff4c) !important;
			}

			> div {
				display: none !important;
			}

			> label {
				max-width: fit-content !important;
				margin-inline: auto !important;
				opacity: unset !important;
			}
		}

		.open-customization-button {
			--button-display: none;
			--button-opacity: unset;
			--font-size-small: 1rem !important;
			--button-size-icon: fit-content !important;
			--button-padding: 0 var(--space-medium) !important;
			--button-border: none !important;
			--button-border-radius: var(--border-radius-circle);
			--button-text-color: var(--button-text-color-primary) !important;
			--button-text-color-hover: var(--button-text-color-primary) !important;
			--button-text-color-active: var(--button-text-color-primary) !important;
			--button-text-color-selected: var(--button-text-color-primary) !important;
			background-color: light-dark(#00000066, #ffffff3f);
			backdrop-filter: blur(var(--dimension-24));
			border-radius: var(--border-radius-circle);
			visibility: visible !important;
			transition: none !important;

			&:is(:hover, :focus-visible) {
				background-color: light-dark(#00000059, #ffffff4c);
			}
		}
	}

	.customize-menu {
		width: calc(3 * 92px + 4 * var(--space-medium)) !important;
		min-height: fit-content !important;
		padding: 0 !important;
		border-radius: var(--border-radius-large) !important;
		backdrop-filter: blur(var(--dimension-24));
		overflow-x: hidden !important;
		inset-block: auto calc(var(--space-large) + var(--size-item-medium)) !important;
		inset-inline-end: var(--space-large) !important;
		box-shadow: var(--nept-small-shadow), var(--nept-menu-shadow) !important;
		transition: none !important;

		@media (height <= 450px), ((-moz-pref("browser.newtabpage.activity-stream.system.showWeather") or -moz-pref("browser.newtabpage.activity-stream.feeds.system.topstories")) and (height <= 500px)), (-moz-pref("browser.newtabpage.activity-stream.system.showWeather") and -moz-pref("browser.newtabpage.activity-stream.feeds.system.topstories") and (height <= 550px)) {
			height: calc(100vh - var(--icon-size-medium) - 2 * var(--space-large) - 88px) !important;
		}

		@media (-moz-platform: macos) {
			width: calc(3 * 92px + 5 * var(--space-medium)) !important;
		}

		> .customize-menu-content > .close-button-wrapper {
			background-color: transparent !important;
			padding-block: 0 !important;
			display: none;

			> moz-button {
				background-color: transparent !important;
				margin-inline-end: var(--space-medium) !important;
				border: none !important;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			&:is(.customize-animate-enter, .customize-animate-enter-active) {
				animation: menuBounce 200ms ease-in-out backwards;
				transform-origin: bottom right;
			}
		}
	}

	.home-section {
		grid-row-gap: var(--space-medium) !important;
		padding-block: 0 !important;
		padding-inline: var(--space-medium) !important;

		.nova-enabled & {
			grid-row-gap: 0 !important;
		}

		.settings-toggles {
			gap: var(--space-medium) !important;

			.nova-enabled & > * {
				margin-block: 0 !important;
			}

			.widgets-mgmt-panel-container {
				padding-block: 0 !important;

				> .widgets-mgmt-panel {
					--button-padding: var(--space-small) var(--space-xsmall) !important;
					--button-background-color-ghost: transparent !important;
					--button-background-color-ghost-hover: transparent !important;
					--button-background-color-ghost-active: transparent !important;
					--button-text-color-ghost-hover: var(--color-accent-primary-hover) !important;
					--button-text-color-ghost-active: var(--color-accent-primary-active) !important;
					backdrop-filter: blur(var(--dimension-24));

					.nova-enabled & {
						height: 100% !important;

						.panel-content {
							padding: var(--space-small) var(--space-medium) !important;

							> .arrow-wrapper {
								margin-block-end: var(--space-medium) !important;

								> h2 {
									font-size: unset !important;
								}
							}
						}
					}
				}

				moz-box-button {
					--box-button-background-color: transparent !important;
					--box-button-background-color-hover: transparent !important;
					--box-button-background-color-active: transparent !important;
					--box-button-text-color: var(--text-color-deemphasized) !important;
					--box-button-text-color-hover: var(--color-accent-primary-hover) !important;
					--box-button-text-color-active: var(--color-accent-primary-active) !important;
					--box-icon-fill: transparent !important;
					--box-padding: var(--space-xsmall) var(--space-xsmall) !important;
					--box-border: none !important;
					font-size: var(--font-size-small);
				}
			}
		}

		#wallpapers-toggle {
			margin-block: var(--space-medium) !important;
		}

		.wallpapers-section h2 {
			margin-block: var(--space-small) !important;
		}

		.section .more-info-top-wrapper {
			.nova-enabled & {
				--button-border-radius: var(--border-radius-large) !important;
			}

			> .more-information {
				padding: 0 var(--space-xsmall) !important;

				> #row-selector {
					margin-block-start: 0 !important;
				}
			}
		}

		.wallpapers-reset:hover {
			color: var(--color-accent-primary) !important;
		}

		.external-link {
			margin: 0 !important;
			fill: currentColor !important;
			color: var(--newtab-text-primary-color) !important;

			&:hover {
				color: var(--link-color) !important;
			}
		}

		.divider {
			display: none;
		}
	}

	.customize-menu-content .manage-settings-footer {
		position: relative !important;
		background: none !important;
		padding: var(--space-medium) !important;

		.external-link {
			fill: currentColor !important;
			color: var(--newtab-text-primary-color) !important;

			&:hover {
				color: var(--link-color) !important;
			}
		}

		&::before {
			content: none !important;
		}
	}

	.arrow-button:not(.nova-enabled .arrow-button) {
		background: url("chrome://global/skin/icons/arrow-left-12.svg") no-repeat left !important;
		margin-inline-start: 0 !important;
		margin-block: var(--space-small)  var(--space-xsmall) !important;
		padding-inline-start: var(--space-large) !important;
	}

	.wallpaper-list.category {
		--button-padding: var(--space-small) var(--space-xsmall) !important;
		--button-background-color-ghost: transparent !important;
		--button-background-color-ghost-hover: transparent !important;
		--button-background-color-ghost-active: transparent !important;
		--button-text-color-ghost-hover: var(--color-accent-primary-hover) !important;
		--button-text-color-ghost-active: var(--color-accent-primary-active) !important;
		backdrop-filter: blur(var(--dimension-24));
		inset-inline: 0 !important;
		padding: 0 var(--space-medium) var(--space-medium) !important;
		width: auto !important;

		.wallpapers-arrow-button {
			margin-block-end: 0 !important;
		}

		fieldset {
			gap: var(--space-small) var(--space-medium) !important;
			grid-auto-rows: min-content !important;
		}
	}

	.category-list {
		grid-auto-rows: min-content !important;
		gap: var(--space-small) var(--space-medium) !important;
		margin-inline: 0 !important;

		&:not(.nova-enabled &) {
			margin-block-end: var(--space-xsmall) !important;
		}
	}

	.wallpaper-input {
		height: 56px !important;
		margin-bottom: var(--space-xsmall) !important;
		border-radius: var(--border-radius-medium) !important;
		box-shadow: none !important;
	}

	.wallpaper-input.theme-custom-wallpaper, .theme-custom-color-picker {
		background-color: var(--button-background-color) !important;
		border: none !important;

		&:hover {
			background-color: var(--button-background-color-hover) !important;
		}
	}

	.theme-custom-color-picker {
		background-color: transparent !important;
		outline: none !important;

		label {
			display: none !important;
		}
	}

	.feature-highlight .feature-highlight-modal {
		border-radius: var(--border-radius-large) !important;
		backdrop-filter: saturate(1.5) blur(var(--dimension-12)) !important;
		box-shadow: var(--box-shadow-level-4) !important;

		&::after {;
			backdrop-filter: saturate(1.5) blur(var(--dimension-12)) !important;
			box-shadow: var(--box-shadow-level-4) !important;
		}
	}

	.nova-enabled .sidebar-inline-start {
		.logo-and-wordmark {
			margin-block-end: auto !important;

			.logo,
			.logo-variation-small {
				background-size: var(--size-item-medium) !important;
				height: var(--size-item-medium) !important;
				width: var(--size-item-medium) !important;
			}

			.wordmark {
				background-size: 72px !important;
				background-position-x: left !important;
				margin-inline-start: var(--space-xsmall) !important;
			}
		}
	}

	.nova-enabled .sidebar-inline-end {
		grid-template-rows: minmax(min-content, auto) !important;
		align-self: center;

		> .weather-widget {
			--button-size-icon-small: var(--button-size-icon) !important;
			--button-border-radius: var(--border-radius-large) !important;
			--button-background-color-ghost: transparent !important;
			--weather-sunny-background-color: transparent !important;
			--weather-cloudy-background-color: transparent !important;
			--weather-rainy-background-color: transparent !important;
			--weather-snowy-background-color: transparent !important;
			--weather-hot-background-color: transparent !important;
			height: auto !important;
			padding: var(--space-small) var(--space-medium) !important;
			backdrop-filter: saturate(1.5) blur(6px);
			gap: var(--space-medium);
			border-radius: var(--border-radius-xlarge) !important;
			outline: none !important;
			box-shadow: none !important;

			> .widget-title-bar {
				margin-block-end: auto !important;

				> .weather-context-menu-wrapper {
					visibility: hidden;

					.weather-widget:hover &,
					&:focus-within {
						visibility: visible;
						animation: fadeIn 300ms ease-out;
					}
				}
			}

			> .weather-container .weather-conditions-view {
				inline-size: 100%;

				> .weather-info-link {
					justify-content: space-between;

					.weather-icon-column {
						padding: 0 !important;
					}

					.weather-info-column {
						margin-inline-end: 0 !important;
					}
				}

				.high-low-row > :is(.high-temperature, .low-temperature) {
					gap: var(--dimension-2);

					> .arrow-icon {
						height: var(--font-size-xsmall) !important;
						width: var(--font-size-xsmall) !important;
					}
				}
			}

			> .forecast-footer {
				position: static !important;
				color: var(--text-color-disabled);

				> .sponsored-text {
					visibility: visible !important;
				}
			}
		}
	}

	.nova-enabled .widgets-section-container {
		--newtab-primary-action-background: transparent !important;
		--button-border-color: transparent !important;
		--button-border-radius: var(--border-radius-xlarge) !important;

		.widgets-title-container .widgets-title-heading {
			gap: var(--space-small) !important;

			.widgets-expand-button {
				height: var(--button-min-height) !important;
				width: var(--button-min-height) !important;

				&::before {
					height: var(--size-item-xsmall) !important;
					width: var(--size-item-xsmall) !important;
				}
			}
		}

		.widgets-container {
			.widget-wrapper {
				> * {
					backdrop-filter: blur(6px);
					border-radius: var(--border-radius-xlarge) !important;
					outline: none !important;
					box-shadow: none !important;
				}

				.lists {
					--lists-button-background: var(--color-accent-primary) !important;

					.lists-add-button {
						border-radius: var(--border-radius-xlarge) !important;
					}		
				}
			}

			.widgets-add-button {
				outline: none !important;
				box-shadow: none !important;
			}
		}
	}

	.weather {
		inset-inline-end: var(--space-large) !important;

		.weatherCard, .weatherButtonContextMenuWrapper {
			background-color: transparent !important;
			flex-direction: row-reverse;
			box-shadow: none !important;
		}

		> .location-input-wrapper {
			--icon-size: var(--size-item-xsmall) !important;
			--button-size-icon-small: var(--size-item-small) !important;
			--button-min-height-small: var(--size-item-small) !important;
			--button-border-radius: var(--border-radius-large) !important;
			background-color: var(--newtab-background-color-secondary) !important;
			backdrop-filter: saturate(1.5) blur(var(--dimension-12));
			border-radius: var(--border-radius-circle) !important;
		}

		> .weatherNotAvailable {
			background-color: var(--newtab-background-card) !important;
			backdrop-filter: saturate(1.5) blur(var(--dimension-12));
			border-radius: var(--border-radius-circle) !important;
		}
	}

	.weatherInfoLink {
		background-color: var(--newtab-weather-background-color) !important;
		backdrop-filter: saturate(1.5) blur(var(--dimension-12));
		padding: var(--space-medium) var(--space-large) !important;
		border-radius: var(--border-radius-circle) !important;
	}

	.weatherButtonContextMenuWrapper {
		width: auto !important;

		&:not(:has(.context-menu)) {
			visibility: collapse;

			.weatherCard:hover & {
				visibility: visible;
			}
		}

		> .weatherButtonContextMenu {
			background-size: var(--size-item-xsmall) auto !important;
			background-color: var(--newtab-background-color-secondary) !important;
			height: var(--size-item-small) !important;
			min-width: var(--size-item-small) !important;
			border-radius: var(--border-radius-medium) !important;
		}
	}

	.weather-placeholder {
		background: var(--newtab-background-card) !important;
		backdrop-filter: saturate(1.5) blur(var(--dimension-12));
		border-radius: var(--border-radius-xlarge) !important;

		.placeholder-fill {
			backdrop-filter: saturate(1.5) blur(var(--dimension-12));
			border-radius: var(--border-radius-xlarge) !important;
		}
	}

	.feature-highlight .feature-highlight-modal {
		border-radius: var(--border-radius-large) !important;
		backdrop-filter: saturate(1.5) blur(var(--dimension-12)) !important;
		box-shadow: var(--box-shadow-level-4) !important;

		&::after {;
			backdrop-filter: saturate(1.5) blur(var(--dimension-12)) !important;
			box-shadow: var(--box-shadow-level-4) !important;
		}
	}

	.top-site-button[href*="canva.com"] .top-site-icon {
		background-image: url("../assets/cards/canva.svg") !important;
	}

	.top-site-button:is([href*="chatgpt.com"], [href*="openai.com"]) .top-site-icon {
		background-image: url("../assets/cards/openai.svg") !important;
	}

	.top-site-button[href*="claude.ai"] .top-site-icon {
		background-image: url("../assets/cards/claude.svg") !important;
	}

	.top-site-button[href*="duckduckgo.com"] .top-site-icon {
		background-image: url("../assets/cards/duckduckgo-com@2x.svg") !important;
	}

	.top-site-button[href*="facebook.com"] .top-site-icon {
		background-image: url("../assets/cards/facebook.svg") !important;
	}

	.top-site-button[href*="figma.com"] .top-site-icon {
		background-image: url("../assets/cards/figma.svg") !important;
	}

	.top-site-button[href*="github.com"] .top-site-icon {
		background-image: url("../assets/cards/github.svg") !important;
	}

	.top-site-button[href*="gemini.google"] .top-site-icon {
		background-image: url("../assets/cards/gemini.svg") !important;
	}

	.top-site-button[href*="grok.com"] .top-site-icon {
		background-image: url("../assets/cards/grok.svg") !important;
	}

	.top-site-button[href*="instagram.com"] .top-site-icon {
		background-image: url("../assets/cards/instagram.svg") !important;
	}

	.top-site-button[href*="kkbox.com"] .top-site-icon {
		background-image: url("../assets/cards/kkbox.svg") !important;
	}

	.top-site-button[href*="netflix.com"] .top-site-icon {
		background-image: url("../assets/cards/netflix.svg") !important;
	}

	.top-site-button[href*="news.google"] .top-site-icon {
		background-image: url("../assets/cards/google_news.svg") !important;
	}

	.top-site-button[href*="perplexity.ai"] .top-site-icon {
		background-image: url("../assets/cards/perplexity.svg") !important;
	}

	.top-site-button[href*="reddit.com"] .top-site-icon {
		background-image: url("../assets/cards/reddit.svg") !important;
	}

	.top-site-button[href*="twitch.tv"] .top-site-icon {
		background-image: url("../assets/cards/twitch.svg") !important;
	}

	.top-site-button[href*="whatsapp.com"] .top-site-icon {
		background-image: url("../assets/cards/whatsapp.svg") !important;
	}

	.top-site-button[href*="youtube.com"] .top-site-icon {
		background-image: url("chrome://activity-stream/content/data/content/tippytop/images/youtube-com@2x.png") !important;
	}

	.top-site-button[href*="youtubekids.com"] .top-site-icon {
		background-image: url("../assets/cards/youtube_kids.svg") !important;
	}

	.top-site-button[href*="music.youtube"] .top-site-icon {
		background-image: url("../assets/cards/youtube_music.svg") !important;
	}
}