/*---------- Buttons ----------*/
toolbar .toolbarbutton-1 {
	padding: 0 !important;
	margin-inline: calc(var(--toolbar-start-end-padding) / 2) !important;
	opacity: unset !important;
	transition: opacity var(--inactive-window-transition);

	> .toolbarbutton-icon,
	> .toolbarbutton-text,
	> .toolbarbutton-badge-stack {
		outline: none !important;
		border-radius: var(--border-radius-small) !important;
		box-shadow: none !important;
		transition: background-color .2s ease;
	}

	#nav-bar &:-moz-window-inactive {
		opacity: var(--inactive-titlebar-opacity) !important;
	}

	#nav-bar &:where([disabled="true"]):not(#reload-button) {
		:root:not([customizing]) & {
			display: none;
		}
	}
}

toolbar .toolbaritem-combined-buttons {
	margin-inline: 0 !important;

	> #zoom-reset-button {
		margin-inline: 0 !important;

		> .toolbarbutton-text {
			min-width: unset !important;
		}
	}

	> separator {
		display: none;
	}

	.toolbarbutton-badge {
		background-color: var(--color-accent-primary) !important;
		border-radius: 50% !important;
		min-width: 14px !important;
		padding-inline: 0 !important;
		line-height: 14px !important;
		font-weight: normal !important;

		toolbarbutton:is(:active, [open]) & {
			display: none;
		}
	}
}

screenshots-buttons {
	top: 0 !important;
	background-color: var(--toolbox-bgcolor, var(--in-content-page-background)) !important;
	padding: var(--space-medium) !important;
	border-radius: 0 0 var(--arrowpanel-border-radius) var(--arrowpanel-border-radius) !important;
}

#full-page,
#visible-page {
	background-size: 32px 32px !important;
	padding: 28px 0 14px !important;
	font-size: smaller !important;
}

input[type=checkbox],
.checkbox-check:not([native]) {
	appearance: none !important;
	width: 14px !important;
	height: 14px !important;
	border: var(--neptune-checkbox-border);
	border-radius: var(--border-radius-xsmall);
	box-shadow: var(--neptune-checkbox-shadow);

	&:is(:checked, [checked="true"]) {
		background-color: var(--theme-primary-color) !important;
		background-image: url("../assets/icons/check.svg");
		border: none;
	}
}

input[type=radio] {
	appearance: none !important;
	width: 14px !important;
	height: 14px !important;
	border: var(--neptune-checkbox-border);
	border-radius: 50%;
	box-shadow: var(--neptune-checkbox-shadow);

	&:checked {
		background-color: var(--theme-primary-color) !important;
		background-image: url("../assets/icons/radio.svg");
		border: none;
	}
}

.toggle-button {
	--toggle-dot-background-color: var(--neptune-slider-color) !important;
	--toggle-dot-background-color-on-pressed: var(--neptune-slider-color) !important;
	--toggle-border-color: var(--neptune-toolbar-border-color) !important;
}