/*---------- Buttons ----------*/
toolbar .toolbarbutton-1 {
	padding: 0 !important;
	transition: opacity var(--inactive-window-transition);

	> .toolbarbutton-icon,
	> .toolbarbutton-text,
	> .toolbarbutton-badge-stack {
		outline: none !important;
		box-shadow: none !important;
		clip-path: circle(50%);
		transition: var(--ext-theme-background-transition);
	}

	&[widget-id="ipprotection-button"] > :is(.toolbarbutton-icon, .toolbarbutton-badge-stack) {
		clip-path: unset;
		padding-block: var(--toolbarbutton-padding-inner) !important;
		border-radius: var(--border-radius-circle) !important;
	}

	&[id="ai-window-toggle"] {
		list-style-image: url("chrome://browser/skin/smart-window-nova.svg") !important;

		:root:not([ai-window]) & > .toolbarbutton-icon {
			filter: hue-rotate(45deg);
		}
	}

	#nav-bar & {
		margin: 0 calc(var(--toolbar-start-end-padding) / 2) !important;

		&:not(:where([disabled])):-moz-window-inactive {
			opacity: var(--inactive-titlebar-opacity) !important;
		}
	}

	#TabsToolbar & {
		:root:not([customizing]) & {
			margin: auto calc(var(--toolbar-start-end-padding) / 2) calc(var(--nept-browser-toolbox-padding) / 2) !important;

			&[id="PanelUI-menu-button"] {
				margin-inline-end: var(--toolbar-start-end-padding) !important;
			}

			#TabsToolbar-customization-target & {
				display: none;
			}
		}

		&[removable="false"]:not([hidden]) {
			border-radius: var(--border-radius-xlarge) !important;

			:root:not([aiwindow-first-run]) & {
				margin-inline: 0 !important;
			}

			& + toolbaritem > .toolbarbutton-1 > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack),
			& > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
				background-color: var(--background-color-box-info);
			}

			#TabsToolbar:not(:has(> .toolbar-items > #TabsToolbar-customization-target > #tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox > :is(tab-group, tab-split-view-wrapper, tab:not([hidden])))):has(> .toolbar-items > #TabsToolbar-customization-target > #tabbrowser-tabs[orient="horizontal"] > #pinned-tabs-container > tab:only-of-type) > :is(&, & ~ toolbaritem),
			#TabsToolbar:not(:has(> .toolbar-items > #TabsToolbar-customization-target > #tabbrowser-tabs[orient="horizontal"] :is(#tabbrowser-arrowscrollbox > :is(tab-group, tab-split-view-wrapper, tab:nth-child(2 of :not([hidden]))), #pinned-tabs-container:not(:empty)))):has(> .toolbar-items > #TabsToolbar-customization-target > #tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox > :is(tab:only-of-type, tab[hidden])) > :is(&, & ~ toolbaritem) {
				display: none;
			}
		}
	}
}

toolbar .toolbaritem-combined-buttons {
	margin-inline: 0 !important;

	> #zoom-reset-button {
		margin-inline: 0 !important;

		> .toolbarbutton-text {
			min-width: unset !important;
			padding: var(--toolbarbutton-padding-inner) var(--toolbarbutton-padding-outer) !important;
		}
	}

	> #profiler-button-button {
		margin-inline-end: 0 !important;
	}

	> #profiler-button-dropmarker {
		margin-inline-start: 0 !important;
	}

	> separator {
		display: none;
	}

	.toolbarbutton-badge {
		background-color: var(--color-violet-50) !important;
		border-radius: var(--border-radius-large) !important;
		min-width: var(--size-item-xsmall) !important;
		padding: 0 var(--space-xsmall) !important;
		line-height: var(--size-item-xsmall) !important;
		box-shadow: none !important;
		font-size: 9px !important;
		font-weight: normal !important;

		toolbarbutton:is(:active, [open]) & {
			display: none;
		}
	}
}

screenshots-buttons {
	top: 0 !important;
	background-color: var(--toolbox-background-color, var(--background-color-canvas)) !important;
	padding: var(--space-medium) !important;
	border-radius: 0 0 var(--panel-border-radius) var(--panel-border-radius) !important;
}

#full-page,
#visible-page {
	background-size: 32px 32px !important;
	padding: 28px 0 14px !important;
	font-size: smaller !important;
}

input[type="checkbox"],
.checkbox-check:not([native]) {
	appearance: none !important;
	background-color: var(--nept-checkbox-background);
	width: var(--input-icon-size) !important;
	height: var(--input-icon-size) !important;
	border: var(--nept-checkbox-border);
	border-radius: var(--border-radius-xsmall);
	box-shadow: var(--nept-checkbox-shadow);

	&:is(:checked, [checked]) {
		background-color: var(--color-accent-primary) !important;
		background-image: url("../assets/icons/check.svg");
		border: none;
	}
}

input[type="radio"] {
	appearance: none !important;
	background-color: var(--nept-checkbox-background);
	width: var(--input-icon-size) !important;
	height: var(--input-icon-size) !important;
	border: var(--nept-checkbox-border);
	border-radius: var(--border-radius-medium);
	box-shadow: var(--nept-checkbox-shadow);

	&:checked {
		background-color: var(--color-accent-primary) !important;
		background-image: url("../assets/icons/radio.svg");
		border: none;
	}
}

.toggle-button {
	--toggle-dot-background-color: var(--nept-slider-color) !important;
	--toggle-dot-background-color-on-pressed: var(--nept-slider-color) !important;
	--toggle-border-color: var(--nept-toolbar-border-color) !important;
}