/*---------- Dialogs ----------*/
#window-modal-dialog {
	--chrome-offset: 15vh !important;
}

#titleContainer {
	margin-inline: auto !important;
}

.dialogOverlay[topmost="true"],
#window-modal-dialog::backdrop {
	background: none !important;
}

/* welcome */
.onboardingContainer {
	.screen[pos="center"] {
		background-color: transparent !important;
	}

	.main-content:not(& .screen[pos="split"][fullscreen] .section-main .main-content) {
		border-radius: var(--border-radius-xlarge) !important;
		box-shadow: var(--nept-small-shadow), var(--nept-menu-shadow) !important;
	}

	:is(.primary, .secondary, .additional-cta, .submenu-button) {
		padding: 0 var(--space-large) !important;
		border-radius: var(--border-radius-small) !important;
	}
}

.dialogBox {
	border-radius: var(--border-radius-xlarge) !important;
	box-shadow: var(--nept-menu-shadow) !important;
	backdrop-filter: saturate(1.5) blur(1in);
}

.dialog-button-box button,
#print #print-footer.footer-container button {
	padding: 0 var(--space-large) !important;
}

@-moz-document url("chrome://browser/content/places/places.xhtml") {
	treecol, .tree-columnpicker-button {
		background-color: var(--nept-item-background) !important;

		&:where(:hover) {
			background-color: var(--nept-item-hover-background) !important;
		}

		&:where(:hover:active) {
			background-color: var(--nept-item-active-background) !important;
		}
	}

	#placesToolbar > toolbarbutton {
		margin-inline: var(--space-small) !important;
	}

	richlistbox {
		border: none !important;
	}

	#downloadsListBox > richlistitem {
		&[selected="true"] {
			background-image: none !important;
			background-color: var(--color-accent-primary-active) !important;
			color: var(--button-text-color-primary) !important;
			border-radius: 0 !important;
			outline: none !important;
		}

		> .downloadButton > .button-box {
			padding: var(--space-small) !important;
			border-radius: var(--border-radius-large) !important;
		}
	}
}

@-moz-document url("chrome://browser/content/aboutDialog.xhtml") {
	#bottomBox,
	#aboutDialogContainer {
		background-color: #383838 !important;
	}

	#leftBox {
		background-size: 12em !important;
		margin: 0 !important;
	}

	#rightBox #updateIcon.apply {
		content: url("../assets/icons/reload.svg") !important;
	}

	#rightBox button {
		appearance: none;
		margin: 0 !important;
		background-color: var(--color-accent-primary) !important;
		outline: none !important;
		border: none !important;
		border-radius: var(--border-radius-small);
		box-shadow: var(--box-shadow-level-1);

		&:where(:hover) {
			background-color: var(--color-accent-primary-hover) !important;
		}

		&:where(:hover:active) {
			background-color: var(--color-accent-primary-active) !important;
		}

		&:where([disabled="true"]) {
			background-color: var(--button-background-color-disabled) !important;
		}
	}

	.text-link {
		color: var(--link-color) !important;

		&:hover {
			color: var(--link-color-hover) !important;
		}

		&:hover:active {
			color: var(--link-color-active) !important;
		}
	}
}