:root {
	/* Nept Variable */
	--nept-browser-toolbox-padding: 10px;	/*This value will affect the height of the toolbar.*/
	--shadow-inner-glow: inset 0 1.25px 0.25px -0.5px;
	--shadow-inner-depth: inset 0 -1.25px 0.25px -0.5px;
	@media (min-resolution: 1.1dppx) and (max-resolution: 1.8dppx) {
		--shadow-inner-glow: inset 0 1.5px 0.25px -0.75px;
		--shadow-inner-depth: inset 0 -1.5px 0.25px -0.75px;
	}
	--oklch-l-dyn: calc(l + (1 - l) * (1 - l * l * l) * 0.4);
	--oklch-l-soft: calc(l + (1 - l) * (1 - l * l / 2) * 0.3);
	/* 1.05 + l - x = 1.25 (upper limit at l = 0.9). */
	--oklch-c-dyn: calc(c * max(1.05, 1.05 + l - 0.7));
	/* h = -10deg (threshold at c >= 0.2), 0deg at c = 0 */
	--oklch-h-dyn: calc(h - 10 * min(1, c * 5));
	--oklch-h-soft: calc(h - 5 * min(1, c * 5));
	/* Urlbar */
	--nept-urlbar-background: light-dark(#0000000c, #ffffff0c);
	--nept-urlbar-hover-background: light-dark(#00000019, #ffffff19);
	--nept-urlbar-focused-background: light-dark(#00000011, #ffffff11);
	--nept-urlbarView-hover-background: var(--color-accent-primary-hover);
	--nept-urlbarView-button-background: var(--color-accent-primary);
	--nept-focused-urlbar-highlight-color: var(--color-accent-primary-active);
	/* Tabs */
	--nept-tabs-box-background: light-dark(#00000011, #ffffff14);
	--nept-tab-background: transparent;
	--nept-tab-hover-background: light-dark(color-mix(in srgb, currentColor 8%, transparent), color-mix(in srgb, currentColor 10%, transparent));
	--nept-tab-selected-background: light-dark(color-mix(in oklab, currentColor 1%, var(--lwt-accent-color, transparent)), color-mix(in oklab, currentColor 24%, var(--lwt-accent-color, transparent)));
	--nept-tab-multiselected-background: light-dark(color-mix(in srgb, accentcolor 20%, transparent), color-mix(in srgb, currentColor 25%, transparent));
	--nept-verticaltab-background: color-mix(in srgb, currentColor 2%, transparent);
	--nept-verticaltab-pinned-background: light-dark(color-mix(in srgb, currentColor 6%, transparent), color-mix(in srgb, currentColor 8%, transparent));
	--nept-verticaltab-selected-background: light-dark(color-mix(in srgb, currentColor 10%, transparent),  color-mix(in srgb, currentColor 20%, transparent));
	--nept-pinned-tab-background: light-dark(color-mix(in srgb, currentColor 10%, transparent), color-mix(in srgb, currentColor 14%, transparent));
	--nept-pinned-tab-hover-background: light-dark(color-mix(in srgb, currentColor 14%, transparent), color-mix(in srgb, currentColor 16%, transparent));
	--nept-pinned-tab-selected-background: light-dark(color-mix(in srgb, currentColor 18%, transparent), color-mix(in srgb, currentColor 20%, transparent));
	--nept-tab-shadow-color: light-dark(#0000000c, #00000019);
	--nept-tab-hover-shadow-color: light-dark(#00000005, #0000000c);
	--nept-tab-soundplaying-background: light-dark(color-mix(in oklch, accentcolor 25%, var(--lwt-accent-color, transparent)), color-mix(in oklch, currentColor 40%, var(--lwt-accent-color, transparent)));
	/* toolbar */
	--nept-toolbar-item-inner-shadow: var(--shadow-inner-glow) oklch(from var(--lwt-accent-color) var(--oklch-l-soft) var(--oklch-c-dyn) var(--oklch-h-soft)), var(--shadow-inner-depth) oklch(from var(--lwt-accent-color) var(--oklch-l-soft) var(--oklch-c-dyn) var(--oklch-h-soft));
	--nept-button-field-color: light-dark(color-mix(in srgb, currentColor 45%, transparent), color-mix(in srgb, currentColor 60%, transparent));
	--nept-button-field-hover-color: light-dark(color-mix(in srgb, currentColor 60%, transparent), color-mix(in srgb, currentColor 75%, transparent));

	/* FF Variable */
	--toolbar-start-end-padding: 10px !important;
	--urlbar-min-height: var(--size-item-large) !important;
	--urlbar-basic-component-size: var(--urlbar-min-height) !important;
	--urlbarView-small-font-size: 0.84em !important;
	--urlbar-input-gap: 0 !important;
	--urlbar-icon-padding: calc((var(--size-item-medium) - 2px - 2px - 16px ) / 2) !important;
	--urlbar-searchmodeswitcher-inline-padding: var(--urlbar-icon-padding) !important;
	--urlbarView-labeled-row-margin-top: calc(var(--button-min-height) + var(--urlbarView-row-padding-block) - var(--urlbarView-row-gutter)) !important;
	--urlbarView-labeled-row-label-top: calc(-1 * (var(--urlbarView-labeled-row-margin-top) - var(--urlbarView-row-gutter))) !important;
	--tab-min-height: var(--size-item-medium) !important;
	--tabstrip-min-height: calc(var(--tab-min-height) + var(--tab-block-margin)) !important;
	--tab-border-radius: var(--border-radius-xlarge) !important;
	--tab-group-label-height: var(--tab-min-height) !important;
	--tab-group-label-highlight-thickness: var(--tab-group-line-thickness) !important;
	--tab-height-with-margin-padding: calc(var(--tab-min-height) + 3 * var(--tab-block-margin)) !important;
	--tab-label-line-height: 1.6 !important;
	--tab-selected-shadow: var(--shadow-inner-glow) oklch(from var(--lwt-accent-color) var(--oklch-l-dyn) var(--oklch-c-dyn) var(--oklch-h-dyn)), var(--shadow-inner-depth) oklch(from var(--lwt-accent-color) var(--oklch-l-dyn) var(--oklch-c-dyn) var(--oklch-h-soft)), 0 0 0 2px var(--nept-tab-shadow-color) !important;
	--button-min-height: calc(var(--size-item-small) + var(--toolbarbutton-padding-inner)) !important;
	--button-padding: 0 var(--space-large) !important;
	--menu-panel-width-wide: 28em !important;
	--uei-icon-size: var(--panel-and-palette-icon-size) !important;
	--trustpanel-inner-border: none !important;
	--panel-separator-zap-gradient: none !important;
	--panel-subview-body-padding-block: 5px !important;
	--panel-separator-padding-vertical: 5px !important;
	--panel-separator-padding-horizontal: 9px !important;
	--panel-separator-padding: var(--panel-separator-padding-vertical) var(--panel-separator-padding-horizontal) !important;
	--panel-menuitem-margin-inline: 5px !important;
	--panel-menuitem-padding-inline: 9px !important;
	--panel-menuitem-padding-block: 0 !important;
	--panel-padding: calc(var(--panel-menuitem-margin-inline) + var(--panel-menuitem-padding-inline)) !important;
	--panel-text-color: FieldText !important;
	--panel-border-color: transparent !important;
	--toolbar-background-color: transparent !important;
	--tabpanel-background-color: transparent !important;
	--browser-clip-region: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	--toolbarbutton-padding-inner: calc((var(--size-item-large) - var(--size-item-small)) / 2) !important;
	--toolbarbutton-padding-outer-narrow: 2px !important;
	--toolbarbutton-icon-fill: color-mix(in srgb, currentColor 70%, transparent) !important;
	--background-color-canvas: var(--nept-secondary-background) !important;
	--button-background-color-primary: var(--color-accent-primary) !important;
	--button-background-color-primary-hover: var(--color-accent-primary-hover) !important;
	--button-background-color-primary-active: var(--color-accent-primary-active) !important;
	--link-color: color-mix(in srgb, currentColor 46%, transparent) !important;
	--link-color-hover: color-mix(in srgb, currentColor 52%, transparent) !important;
	--link-color-active: color-mix(in srgb, currentColor 58%, transparent) !important;
	--icon-color: light-dark(#383838, #ececec) !important;
	--tab-loading-fill: var(--color-accent-primary) !important;
	--tab-hover-background-color: var(--nept-item-hover-background) !important;
	--tab-selected-bgcolor: var(--nept-item-active-background) !important;
	--sidebar-background-color: transparent !important;
	--sidebar-border-color: var(--card-border-color) !important;
	--sidebar-box-border-color: var(--card-border-color) !important;
	--urlbar-box-background-color: transparent !important;
	--urlbar-box-background-color-focus: transparent !important;
	--urlbarView-action-button-background-color: var(--button-background-color) !important;
	--urlbarview-background-color-hover: var(--nept-urlbarView-hover-background) !important;
	--urlbarview-background-color-selected: var(--nept-focused-urlbar-highlight-color) !important;
	--urlbarview-text-color-selected: #fff !important;
	--urlbarView-action-button-background-color: var(--button-background-color) !important;
	--urlbarView-action-button-hover-background-color: var(--button-background-color-hover) !important;
	--input-text-background-color: var(--nept-input-bgcolor) !important;
	--background-color-box: var(--input-text-background-color) !important;
	--focus-outline-color: var(--color-accent-primary) !important;
	--organizer-toolbar-background: var(--nept-content-background) !important;
	--organizer-hover-background: var(--nept-item-hover-background) !important;
	--organizer-selected-background: var(--nept-item-active-background) !important;
	--organizer-pane-background: var(--nept-background-canvas) !important;
	--organizer-content-background: var(--nept-content-background) !important;
	--organizer-hover-background: var(--nept-item-hover-background) !important;
	--organizer-border-color: var(--card-border-color) !important;
	--organizer-outline-color: transparent !important;
	--window-min-width: 620px !important;
	--window-min-width-increase-for-vertical-tabs: calc(var(--window-controls-size) - 34px) !important;
	@media -moz-pref("browser.nova.enabled") {
		--chrome-window-gap: unset !important;
		--chrome-block-radius: unset !important;
		--urlbarView-padding: 7px !important;
		@media not -moz-pref("sidebar.verticalTabs") {
			--tab-block-margin: var(--dimension-4) !important;
		}
	}
}

/*---------- Misc ----------*/
@media -moz-pref("browser.nova.enabled") {
	.chrome-block {
		border: none !important;
	}
}

.text-link,
a {
	text-decoration: none !important;
	cursor: default !important;
}

tooltip,
menuitem[id^="context"]:is([id="context-openlink"], [id*="bookmark"], [id*="duplicate"], [id*="Duplicate"], [id*="undo"]):not(.menuitem-iconic),
#toolbar-context-menu > *:not(.viewCustomizeToolbar, .customize-context-pinToToolbar, [id*="vertical-tabs"], [id*="remove"]:not([disabled="true"]), [id*="extensions"], [id*="download"]),
spacer:is([part="overflow-end-indicator"], [part="overflow-start-indicator"]) {
	display: none !important;
}