:root {
	/* Nept Variable */
	--nept-browser-toolbox-padding: 10px;	/*This value will affect the height of the toolbar.*/
	--shadow-inner-glow: inset 1.25px 1.25px 0.25px -0.25px;
	--shadow-inner-depth: inset -1.25px -1.25px 0.25px -0.25px;
	--shadow-inner-left: inset 1.5px 1.25px 0 -0.25px;
	--shadow-inner-top: inset 0 1.25px 0 -0.25px;
	--shadow-inner-bottom: inset 0 -1.25px 0 -0.25px;
	--shadow-inner-right: inset -1.5px -1.25px 0 -0.25px;
	/* Urlbar */
	--nept-urlbar-background: light-dark(#0000000c, #ffffff0c);
	--nept-urlbar-hover-background: light-dark(#00000019, #ffffff19);
	--nept-urlbar-focused-background: light-dark(#00000011, #ffffff11);
	--nept-urlbarView-hover-background: light-dark(color-mix(in srgb, accentcolor 85%, #262626), color-mix(in srgb, accentcolor 85%, #121212));
	--nept-urlbarView-button-background: light-dark(color-mix(in srgb, accentcolor 70%, #939597), color-mix(in srgb, accentcolor 70%, #646464));
	--nept-focused-urlbar-highlight-color: light-dark(color-mix(in srgb, accentcolor 85%, #383838), color-mix(in srgb, accentcolor 85%, #323232));
	/* Tabs */
	--nept-tabs-box-background: light-dark(#00000011, #ffffff14);
	--nept-tab-background: transparent;
	--nept-tab-hover-background: light-dark(color-mix(in srgb, currentColor 8%, transparent), color-mix(in srgb, currentColor 10%, transparent));
	--nept-tab-selected-background: light-dark(color-mix(in oklab, currentColor 1%, var(--lwt-accent-color, transparent)), color-mix(in oklab, currentColor 24%, var(--lwt-accent-color, transparent)));
	--nept-tab-multiselected-background: light-dark(color-mix(in srgb, accentcolor 20%, transparent), color-mix(in srgb, currentColor 25%, transparent));
	--nept-verticaltab-background: color-mix(in srgb, currentColor 2%, transparent);
	--nept-verticaltab-pinned-background: light-dark(color-mix(in srgb, currentColor 6%, transparent), color-mix(in srgb, currentColor 8%, transparent));
	--nept-verticaltab-selected-background: light-dark(color-mix(in srgb, currentColor 10%, transparent),  color-mix(in srgb, currentColor 12%, transparent));
	--nept-pinned-tab-background: light-dark(color-mix(in srgb, currentColor 9%, transparent), color-mix(in srgb, currentColor 11%, transparent));
	--nept-pinned-tab-hover-background: light-dark(color-mix(in srgb, currentColor 14%, transparent), color-mix(in srgb, currentColor 16%, transparent));
	--nept-pinned-tab-selected-background: light-dark(color-mix(in srgb, currentColor 18%, transparent), color-mix(in srgb, currentColor 20%, transparent));
	--nept-tab-shadow-color: light-dark(#00000010, #00000015);
	--nept-tab-hover-shadow-color: light-dark(#00000005, #0000000c);
	--nept-tab-multiselected-shadow-color: light-dark(color-mix(in oklab, currentColor 25%, var(--lwt-accent-color, transparent)), color-mix(in oklab, currentColor 35%, var(--lwt-accent-color, transparent)));
	--nept-tab-soundplaying-background: light-dark(color-mix(in srgb, accentcolor 35%, var(--lwt-accent-color, transparent)), color-mix(in srgb, accentcolor 40%, transparent));
	/* toolbar */
	--nept-toolbar-item-inner-shadow: var(--shadow-inner-glow) oklch(from var(--lwt-accent-color) calc(l + (1 - l) * 0.28) calc(c * 1.04) calc(h - 5)), var(--shadow-inner-depth) oklch(from var(--lwt-accent-color) calc(l + (1 - l) * 0.28) c calc(h - 5));
	--nept-button-field-color: light-dark(color-mix(in srgb, currentColor 60%, transparent), color-mix(in srgb, currentColor 70%, transparent));
	--nept-button-field-hover-color: light-dark(color-mix(in srgb, currentColor 80%, transparent), color-mix(in srgb, currentColor 85%, transparent));

	/* FF Variable */
	--toolbar-start-end-padding: 10px !important;
	--space-xsmall: 3px !important;
	--urlbar-min-height: var(--size-item-large) !important;
	--urlbarView-small-font-size: 0.84em !important;
	--urlbar-icon-padding: calc((var(--size-item-medium) - 2px - 2px - 16px ) / 2) !important;
	--urlbar-searchmodeswitcher-inline-padding: var(--urlbar-icon-padding) !important;
	--urlbarView-labeled-row-margin-top: calc(var(--button-min-height) + var(--urlbarView-item-block-padding) - var(--urlbarView-row-gutter)) !important;
	--urlbarView-labeled-row-label-top: calc(-1 * (var(--urlbarView-labeled-row-margin-top) - var(--urlbarView-row-gutter))) !important;
	--tab-min-height: var(--size-item-medium) !important;
	--tabstrip-min-height: calc(var(--tab-min-height) + var(--tab-block-margin)) !important;
	--tab-border-radius: var(--border-radius-xlarge) !important;
	--tab-group-label-height: var(--tab-min-height) !important;
	--tab-group-label-highlight-thickness: var(--tab-group-line-thickness) !important;
	--tab-height-with-margin-padding: calc(var(--tab-min-height) + 3 * var(--tab-block-margin)) !important;
	--tab-label-line-height: 1.6 !important;
	--tab-selected-shadow: var(--shadow-inner-glow) oklch(from var(--lwt-accent-color) calc(l + (1 - l) * 0.38) calc(c * 1.05) calc(h - 10)), var(--shadow-inner-depth) oklch(from var(--lwt-accent-color) calc(l + (1 - l) * 0.38) c calc(h - 5)), 0 0 0 2px var(--nept-tab-shadow-color) !important;
	--button-min-height: calc(var(--size-item-small) + var(--toolbarbutton-inner-padding)) !important;
	--button-padding: 0 var(--space-large) !important;
	--menu-panel-width-wide: 28em !important;
	--uei-icon-size: var(--panel-and-palette-icon-size) !important;
	--trustpanel-inner-border: none !important;
	--panel-separator-zap-gradient: none !important;
	--panel-subview-body-padding-block: 5px !important;
	--panel-separator-padding-vertical: 5px !important;
	--panel-separator-padding-horizontal: 9px !important;
	--panel-separator-padding: var(--panel-separator-padding-vertical) var(--panel-separator-padding-horizontal) !important;
	--arrowpanel-menuitem-margin-inline: 5px !important;
	--arrowpanel-menuitem-padding-inline: 9px !important;
	--arrowpanel-menuitem-padding-block: 0 !important;
	--arrowpanel-padding: calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) !important;
	--tabpanel-background-color: transparent !important;
	--in-content-clip-path: inset(0 round 0.01px 0 0);
	--toolbarbutton-inner-padding: calc((var(--size-item-large) - var(--size-item-small)) / 2) !important;
	--toolbarbutton-icon-fill: color-mix(in srgb, currentColor 70%, transparent) !important;
	--background-color-canvas: var(--nept-secondary-background) !important;
	--button-background-color-primary: var(--color-accent-primary) !important;
	--button-background-color-primary-hover: var(--color-accent-primary-hover) !important;
	--button-background-color-primary-active: var(--color-accent-primary-active) !important;
	--link-color: color-mix(in srgb, currentColor 46%, transparent) !important;
	--link-color-hover: color-mix(in srgb, currentColor 52%, transparent) !important;
	--link-color-active: color-mix(in srgb, currentColor 58%, transparent) !important;
	--icon-color: light-dark(#383838, #ececec) !important;
	--tab-loading-fill: var(--color-accent-primary) !important;
	--tab-hover-background-color: var(--nept-item-hover-background) !important;
	--tab-selected-bgcolor: var(--nept-item-active-background) !important;
	--download-progress-fill-color: var(--color-accent-primary) !important;
	--toolbarbutton-icon-fill-attention: var(--color-accent-primary) !important;
	--toolbar-field-focus-background-color: var(--nept-item-active-background) !important;
	--sidebar-background-color: transparent !important;
	--sidebar-border-color: var(--border-color-card) !important;
	--sidebar-box-border-color: var(--border-color-card) !important;
	--urlbar-box-bgcolor: transparent !important;
	--urlbar-box-focus-bgcolor: transparent !important;
	--urlbarView-action-button-background-color: var(--button-background-color) !important;
	--urlbarView-hover-background: var(--nept-urlbarView-hover-background) !important;
	--urlbarView-highlight-background: var(--nept-focused-urlbar-highlight-color) !important;
	--urlbarView-highlight-color: #fff !important;
	--input-bgcolor: var(--nept-input-bgcolor) !important;
	--background-color-box: var(--input-bgcolor) !important;
	--focus-outline-color: var(--color-accent-primary) !important;
	--arrowpanel-shadow-margin: 22px !important;
	--arrowpanel-color: FieldText !important;
	--arrowpanel-menuitem-border-radius: var(--border-radius-small) !important;
	--organizer-toolbar-background: var(--nept-content-background) !important;
	--organizer-hover-background: var(--nept-item-hover-background) !important;
	--organizer-selected-background: var(--nept-item-active-background) !important;
	--organizer-pane-background: var(--nept-background-canvas) !important;
	--organizer-content-background: var(--nept-content-background) !important;
	--organizer-hover-background: var(--nept-item-hover-background) !important;
	--organizer-border-color: var(--border-color-card) !important;
	--organizer-outline-color: transparent !important;
	@media not -moz-pref("sidebar.verticalTabs") {
		--window-min-width: 600px !important;
	}
}

.text-link,
a {
	text-decoration: none !important;
	cursor: default !important;
}

/*---------- Hidden ----------*/
tooltip,
menuitem[id^="context"]:is([id="context-openlink"], [id*="bookmark"], [id*="duplicate"], [id*="Duplicate"], [id*="undo"]):not(.menuitem-iconic),
#toolbar-context-menu > *:not(.viewCustomizeToolbar, .customize-context-pinToToolbar, [id*="vertical-tabs"], [id*="remove"]:not([disabled="true"]), [id*="extensions"], [id*="download"]),
spacer:is([part="overflow-end-indicator"], [part="overflow-start-indicator"]) {
	display: none !important;
}