:root {
	--theme-browser-toolbox-padding: 10px;	/*This value will affect the height of the toolbar.*/
	--shadow-inner-glow: inset -0.35px 0.65px 0.45px;
	--shadow-inner-depth: inset -0.35px -0.65px 0.45px 0.25px;
	--toolbar-start-end-padding: 10px !important;
	--space-xsmall: 3px !important;
	--urlbar-min-height: var(--size-item-large) !important;
	--urlbarView-small-font-size: 0.84em !important;
	--urlbar-icon-padding: calc((var(--size-item-medium) - 2px - 2px - 16px ) / 2) !important;
	--urlbar-searchmodeswitcher-inline-padding: var(--urlbar-icon-padding) !important;
	--urlbarView-labeled-row-margin-top: calc(var(--button-min-height) + var(--urlbarView-item-block-padding) - var(--urlbarView-row-gutter)) !important;
	--urlbarView-labeled-row-label-top: calc(-1 * (var(--urlbarView-labeled-row-margin-top) - var(--urlbarView-row-gutter))) !important;
	--tab-min-height: var(--size-item-medium) !important;
	--tabstrip-min-height: calc(var(--tab-min-height) + var(--tab-block-margin)) !important;
	--tab-border-radius: var(--border-radius-xlarge) !important;
	--tab-group-label-height: var(--tab-min-height) !important;
	--tab-group-label-highlight-thickness: var(--tab-group-line-thickness) !important;
	--tab-height-with-margin-padding: calc(var(--tab-min-height) + 3 * var(--tab-block-margin)) !important;
	--tab-label-line-height: 1.6 !important;
	--tab-selected-shadow: var(--shadow-inner-glow) var(--lwt-accent-color), var(--shadow-inner-depth) var(--lwt-accent-color), 0 0 0 2px var(--neptune-tab-shadow-color) !important;
	--button-min-height: calc(var(--size-item-small) + var(--toolbarbutton-inner-padding)) !important;
	--button-padding: 0 var(--space-large) !important;
	--menu-panel-width-wide: 28em !important;
	--uei-icon-size: var(--panel-and-palette-icon-size) !important;
	--panel-separator-zap-gradient: none !important;
	--panel-subview-body-padding-block: 5px !important;
	--panel-separator-padding-vertical: 5px !important;
	--panel-separator-padding-horizontal: 9px !important;
	--panel-separator-padding: var(--panel-separator-padding-vertical) var(--panel-separator-padding-horizontal) !important;
	--arrowpanel-menuitem-margin-inline: 5px !important;
	--arrowpanel-menuitem-padding-inline: 9px !important;
	--arrowpanel-menuitem-padding-block: 0 !important;
	--arrowpanel-padding: calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) !important;
	--tabpanel-background-color: transparent !important;
	--in-content-clip-path: inset(0 round 0.01px 0 0);
	--toolbarbutton-inner-padding: calc((var(--urlbar-min-height) - var(--size-item-small)) / 2) !important;
	--toolbarbutton-icon-fill: color-mix(in srgb, currentColor 70%, transparent) !important;
	--background-color-canvas: var(--neptune-secondary-background) !important;
	--button-background-color-primary: var(--theme-primary-color) !important;
	--button-background-color-primary-hover: var(--theme-primary-hover-color) !important;
	--button-background-color-primary-active: var(--theme-primary-active-color) !important;
	--link-color: color-mix(in srgb, currentColor 46%, transparent) !important;
	--link-color-hover: color-mix(in srgb, currentColor 52%, transparent) !important;
	--link-color-active: color-mix(in srgb, currentColor 58%, transparent) !important;
	--icon-color: light-dark(#383838, #ececec) !important;
	--tab-loading-fill: var(--theme-primary-color) !important;
	--tab-hover-background-color: var(--neptune-item-hover-background) !important;
	--tab-selected-bgcolor: var(--neptune-item-active-background) !important;
	--download-progress-fill-color: var(--theme-primary-color) !important;
	--toolbarbutton-icon-fill-attention: var(--theme-primary-color) !important;
	--toolbar-field-focus-background-color: var(--neptune-item-active-background) !important;
	--sidebar-background-color: transparent !important;
	--sidebar-border-color: var(--border-color-card) !important;
	--sidebar-box-border-color: var(--border-color-card) !important;
	--urlbar-box-bgcolor: transparent !important;
	--urlbar-box-focus-bgcolor: transparent !important;
	--urlbarView-action-button-background-color: var(--button-background-color) !important;
	--urlbarView-hover-background: var(--neptune-urlbarView-hover-background) !important;
	--urlbarView-highlight-background: var(--neptune-focused-urlbar-highlight-color) !important;
	--urlbarView-highlight-color: #fff !important;
	--input-bgcolor: var(--neptune-input-bgcolor) !important;
	--background-color-box: var(--input-bgcolor) !important;
	--focus-outline-color: var(--theme-primary-color) !important;
	--arrowpanel-shadow-margin: 22px !important;
	--arrowpanel-color: FieldText !important;
	--arrowpanel-menuitem-border-radius: var(--border-radius-small) !important;
	--organizer-toolbar-background: var(--neptune-content-background) !important;
	--organizer-hover-background: var(--neptune-item-hover-background) !important;
	--organizer-selected-background: var(--neptune-item-active-background) !important;
	--organizer-pane-background: var(--neptune-main-background) !important;
	--organizer-content-background: var(--neptune-content-background) !important;
	--organizer-hover-background: var(--neptune-item-hover-background) !important;
	--organizer-border-color: var(--border-color-card) !important;
	--organizer-outline-color: transparent !important;
	@media not -moz-pref("sidebar.verticalTabs") {
		--window-min-width: 600px !important;
	}
}

.text-link,
a {
	text-decoration: none !important;
	cursor: default !important;
}

/*---------- Hidden ----------*/
tooltip,
menuitem[id^="context"]:is([id="context-openlink"], [id*="bookmark"], [id*="duplicate"], [id*="Duplicate"], [id*="undo"]):not(.menuitem-iconic),
#toolbar-context-menu > *:not(.viewCustomizeToolbar, .customize-context-pinToToolbar, [id*="vertical-tabs"], [id*="remove"]:not([disabled="true"]), [id*="extensions"], [id*="download"]),
spacer:is([part="overflow-end-indicator"], [part="overflow-start-indicator"]) {
	display: none !important;
}