:root {
	--theme-browser-toolbox-padding: 10px;	/*This value will affect the height of the toolbar.*/
	--theme-tab-selected-min-width: 100px;
	--toolbar-start-end-padding: 10px !important;
	--space-xsmall: 3px !important;
	--urlbar-min-height: var(--size-item-large) !important;
	--urlbarView-small-font-size: 0.84em !important;
	--urlbar-icon-padding: calc((var(--size-item-medium) - 2px - 2px - 16px ) / 2) !important;
	--urlbarView-labeled-row-margin-top: calc(var(--button-min-height) + var(--urlbarView-results-padding) + var(--border-width)) !important;
	--urlbarView-labeled-row-label-top: calc(-1 * (var(--urlbarView-labeled-row-margin-top) - 2 * var(--border-width))) !important;
	--tab-min-height: var(--size-item-medium) !important;
	--tabstrip-min-height: calc(var(--tab-min-height) + var(--tab-block-margin)) !important;
	--tab-group-label-height: var(--tab-min-height) !important;
	--tab-height-with-margin-padding: calc(var(--tab-min-height) + 3 * var(--tab-block-margin)) !important;
	--tab-label-line-height: 1.6 !important;
	--tab-selected-shadow-size: 0 !important;
	--tab-selected-shadow: inset -0.35px 0.55px 0.45px var(--lwt-accent-color), inset -0.35px -0.55px 0.45px 0.25px var(--lwt-accent-color), 0 0 1.5px var(--neptune-menu-shadow-color) !important;
	--button-min-height: calc(var(--size-item-small) + var(--space-small)) !important;
	--button-padding: 0 var(--space-large) !important;
	--menu-panel-width-wide: 28em !important;
	--uei-icon-size: var(--panel-and-palette-icon-size) !important;
	--panel-separator-zap-gradient: none !important;
	--panel-subview-body-padding-block: 5px !important;
	--panel-separator-margin-vertical: 5px !important;
	--panel-separator-margin-horizontal: 9px !important;
	--panel-separator-margin: var(--panel-separator-margin-vertical) var(--panel-separator-margin-horizontal) !important;
	--arrowpanel-menuitem-margin-inline: 5px !important;
	--arrowpanel-menuitem-padding-inline: 9px !important;
	--arrowpanel-menuitem-padding-block: 0 !important;
	--arrowpanel-padding: calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) !important;
	--tabpanel-background-color: transparent !important;
	--in-content-clip-path: inset(0 round 0.01px 0 0);
	--in-content-page-background: var(--neptune-secondary-background) !important;
	--in-content-box-background: var(--neptune-input-bgcolor) !important;
	--toolbarbutton-inner-padding: calc((var(--urlbar-min-height) - var(--size-item-small)) / 2) !important;
	--toolbarbutton-icon-fill: color-mix(in srgb, currentColor 70%, transparent) !important;
	--button-text-color-primary: white !important;
	--button-background-color-primary: var(--theme-primary-color) !important;
	--button-background-color-primary-hover: var(--theme-primary-hover-color) !important;
	--button-background-color-primary-active: var(--theme-primary-active-color) !important;
	--link-color: color-mix(in srgb, currentColor 46%, transparent) !important;
	--icon-color: light-dark(#383838, #ececec) !important;
	--tab-loading-fill: var(--theme-primary-color) !important;
	--tab-hover-background-color: var(--neptune-item-hover-background) !important;
	--tab-selected-bgcolor: var(--neptune-item-active-background) !important;
	--download-progress-fill-color: var(--theme-primary-color) !important;
	--toolbarbutton-icon-fill-attention: var(--theme-primary-color) !important;
	--toolbar-field-focus-background-color: var(--neptune-item-active-background) !important;
	--sidebar-background-color: transparent !important;
	--sidebar-border-color: var(--neptune-content-border-color) !important;
	--urlbar-box-bgcolor: transparent !important;
	--urlbar-box-focus-bgcolor: transparent !important;
	--urlbarView-action-button-background-color: var(--neptune-urlbarView-button-background) !important;
	--urlbarView-hover-background: var(--neptune-urlbarView-hover-background) !important;
	--urlbarView-highlight-background: var(--neptune-focused-urlbar-highlight-color) !important;
	--urlbarView-highlight-color: #fff !important;
	--input-bgcolor: var(--neptune-input-bgcolor) !important;
	--background-color-box: var(--input-bgcolor) !important;
	--focus-outline-color: var(--theme-primary-color) !important;
	--arrowpanel-shadow-margin: 22px !important;
	--arrowpanel-color: FieldText !important;
	--arrowpanel-menuitem-border-radius: 5.5px !important;
	--organizer-toolbar-background: var(--neptune-content-background) !important;
	--organizer-hover-background: var(--neptune-item-hover-background) !important;
	--organizer-selected-background: var(--neptune-item-active-background) !important;
	--organizer-pane-background: var(--neptune-main-background) !important;
	--organizer-content-background: var(--neptune-content-background) !important;
	--organizer-hover-background: var(--neptune-item-hover-background) !important;
	--organizer-border-color: var(--neptune-content-border-color) !important;
}

/*---------- Hidden ----------*/
tooltip,
.control-item::after,
menuitem[id^="context"]:is([id="context-openlink"], [id*="bookmark"], [id*="duplicate"], [id*="Duplicate"]):not(.menuitem-iconic),
#toolbar-context-menu > *:not(.viewCustomizeToolbar, .customize-context-pinToToolbar, [id*="vertical-tabs"], [id*="remove"]:not([disabled="true"]), [id*="extensions"], [id*="download"]),
#scrollbutton-up ~ spacer, .titlebar-spacer {
	display: none !important;
}