/*---------- Popups ----------*/
menupopup, panel:not(.autoscroller, #feature-callout, #confirmation-hint) {
	--panel-padding-block: var(--panel-subview-body-padding-block) !important;
	--panel-separator-color: var(--neptune-separator-color) !important;
	--menuitem-border-radius: var(--arrowpanel-menuitem-border-radius) !important;
	--menu-arrow-size: var(--size-item-xsmall) !important;

	@media (-moz-platform: macos) or (-moz-platform: windows) {
		appearance: menupopup !important;
		--panel-background: Menu !important;
		--panel-border-color: transparent !important;
		--panel-shadow-margin: 0px !important;
	}

	@media (-moz-platform: windows) and (not (-moz-windows-mica-popups)) {
		--panel-background: var(--arrowpanel-background) !important;
		--panel-border-color: var(--neptune-toolbar-border-color) !important;
		--panel-border-radius: var(--arrowpanel-border-radius) !important;
		--panel-shadow-margin: var(--arrowpanel-shadow-margin) !important;
		--panel-shadow: var(--neptune-panel-shadow), 0 3px var(--panel-shadow-margin) var(--neptune-panel-shadow-color) !important;
	}
}

panel {
	--arrowpanel-header-back-icon-full-width: calc(var(--size-item-xsmall) + 2 * var(--arrowpanel-header-back-icon-padding)) !important;
	--arrowpanel-header-min-height: calc(var(--arrowpanel-header-back-icon-full-width) + 2 * var(--panel-separator-padding-vertical)) !important;

	:root[lwtheme] & {
		color-scheme: light dark !important;
	}

	&:where([type="arrow"]) {
		--popup-width: var(--menu-panel-width-wide) !important;

		&#link-preview-panel {
			--panel-border-radius: 0 !important;
		}

		.PanelUI-profiler-button {
			padding-block: calc((var(--button-min-height) - 18px) / 2) !important;
		}

		/*Account menu fix*/
		.PanelUI-fxa-menu-section-title {
			margin: 0 calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) !important;
		}

		:is(#PanelUI-fxa-cta-menu, #PanelUI-fxa-menu-services) .fxa-cta-button {
			margin: var(--space-xsmall) var(--arrowpanel-menuitem-margin-inline) 0 !important;
		}

		#full-page-translations-panel-error {
			border: none !important;
		}
	}

	select:where(:not([size], [multiple])) {
		margin: 0 !important;
	}

	menulist {
		padding-block: var(--space-xsmall) !important;
	}

	toolbarseparator:not(.tab-group-editor-panel toolbarseparator) {
		--panel-separator-padding: var(--panel-separator-padding-vertical) calc(var(--panel-separator-padding-horizontal) + var(--arrowpanel-menuitem-margin-inline)) !important;
	}

	&[type="autocomplete-richlistbox"] {
		--panel-background: var(--arrowpanel-background) !important;

		> .autocomplete-richlistbox {
			background-color: transparent !important;

			> .autocomplete-richlistitem {
				&:not([disabled="true"]):not([selected]):hover {
					background-color: var(--color-accent-primary-hover) !important;
					color: var(--button-text-color-primary) !important;
				}

				&[selected] {
					background-color: var(--color-accent-primary-active) !important;
					color: var(--button-text-color-primary) !important;
				}

				> .ac-type-icon {
					min-height: var(--size-item-xsmall) !important;
					min-width: var(--size-item-xsmall) !important;
				}

				> .ac-title {
					margin-inline: auto !important;
				}
			}
		}

		> menuseparator::before {
			display: none !important;
		}
	}

	.toolbarbutton-badge {
		background-color: var(--icon-color-warning) !important;
		line-height: 14px !important;
		border-radius: var(--border-radius-large) !important;
	}
}

panelview .toolbarbutton-1:not(#downloadsHistory),
toolbarbutton.subviewbutton:not(.all-tabs-secondary-button, .subviewbutton-back, .unified-extensions-item-menu-button.subviewbutton, #appMenu-zoom-controls > *),
.widget-overflow-list .toolbarbutton-1,
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > toolbarbutton:not(#appMenu-zoom-controls > *) {

	&:not([disabled]):hover {
		background-color: var(--color-accent-primary-hover) !important;
		color: var(--button-text-color-primary) !important;

		#fxa-menu-header-title {
			color: inherit !important;
		}

		&:active {
			background-color: var(--color-accent-primary-active) !important;
		}
	}
}

@media not (-moz-platform: macos) {
	menupopup {
		--content-select-background-image: none !important;

		> menu,
		> menuitem {
			padding-block: calc((var(--button-min-height) - 18px) / 2) !important;
			padding-inline-start: var(--arrowpanel-menuitem-padding-inline) !important;

			&:where([_moz-menuactive]:not([disabled="true"])) {
				background-color: var(--color-accent-primary-hover) !important;
				color: var(--button-text-color-primary) !important;
			}

			&:where([_moz-menuactive="true"][disabled="true"]) {
				background: none !important;
			}
		}

		> #context-navigation {
			> menuitem:where([_moz-menuactive]:not([disabled="true"])) {
				background: none !important;
				color: var(--color-accent-primary-hover) !important;
			}

			> menuitem:where([_moz-menuactive][disabled="true"]) {
				background: none !important;
			}

			> .menuitem-iconic {
				display: none;

				> .menu-icon {
					padding-block: var(--space-xsmall) !important;
				}
			}

			+ menuseparator {
				display: none;
			}
		}

		> menuseparator {
			padding: var(--panel-separator-padding) !important;
		}

		#ContentSelectDropdown > & {
			> .ContentSelectDropdown-item-0:not([_moz-menuactive="true"]) {
				background-color: transparent !important;
				color: menutext !important;
			}

			> :is(menucaption, menuitem) {
				padding-block: var(--toolbarbutton-outer-padding) !important;

				> .menu-text {
					padding-block: var(--space-xsmall) !important;
				}
			}
		}
	}
}

#confirmation-hint {
	--arrowpanel-background: var(--theme-primary-color) !important;
	--arrowpanel-border-color: transparent !important;

	#confirmation-hint-checkmark-animation-container[animate] > #confirmation-hint-checkmark-image {
		fill: var(--button-text-color-primary) !important;
	}

	#confirmation-hint-message {
		color: var(--button-text-color-primary);
	}
}

#feature-callout {
	--arrow-offset: 0 !important;
	--panel-shadow-margin: var(--arrowpanel-shadow-margin) !important;

	.screen[pos=callout] .action-buttons :is(.primary, .secondary) {
		min-height: var(--button-min-height) !important;
	}
}

#sidebar-switcher-target > #sidebar-icon,
.identity-popup-security-connection-icon,
.subviewbutton-iconic:not(.all-tabs-button.subviewbutton-iconic) > .toolbarbutton-icon,
.permission-popup-permission-icon,
.downloadButton > .button-box > .button-icon,
.menu-icon:not(:is(#context-navigation, .bookmark-item) .menu-icon),
:is(#protections-popup-mainView, .widget-overflow-list, .PanelUI-subView) .subviewbutton-nav::after {
	width: var(--size-item-xsmall) !important;
	height: var(--size-item-xsmall) !important;
}

#appMenu-popup {
	#appMenu-fxa-status2:not([fxastatus]) > #appMenu-fxa-label2 {
		padding-block: 0 !important;
	}

	#fxa-menu-header-title {
		color: inherit !important;
	}

	.subviewbutton > :is(.toolbarbutton-icon, .toolbarbutton-text) {
		margin-block: auto !important;
	}

	.PanelUI-remotetabs-clientcontainer > label[itemtype="client"] {
		margin: 0 calc(var(--arrowpanel-menuitem-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) var(--space-xsmall) !important;
	}
}

#protections-popup #protections-popup-show-report-stack {
	&:hover {
		> .protections-popup-footer-button {
			background-color: var(--color-accent-primary-hover) !important;
			color: var(--button-text-color-primary) !important;
		}

		#protections-popup-trackers-blocked-counter-description {
			color: var(--button-text-color-primary) !important;
		}
	}

	&:hover:active > .protections-popup-footer-button {
		background-color: var(--color-accent-primary-active) !important;
	}
}

#permission-popup-mainView {
	--panel-separator-padding: var(--space-xxsmall) !important;

	> .permission-popup-section {
		padding-bottom: var(--panel-subview-body-padding-block) !important;

		.permission-popup-permission-item {
			min-height: var(--size-item-small) !important;
			margin-block: var(--space-xxsmall) !important;

			> :is(#permission-popup-menulist, .permission-popup-permission-remove-button) {
				padding-block: var(--space-xxsmall) !important;
			}

			.permission-popup-permission-state-label {
				margin-block: 0 !important;
			}
		}
	}
}

.unified-extensions-item-menu-button.subviewbutton {
	padding-inline-end: var(--arrowpanel-menuitem-padding-inline) !important;

	> .toolbarbutton-icon {
		padding: var(--arrowpanel-menuitem-margin-inline) !important;
	}
}

.toolbar-menupopup :is(menu, menuitem),
.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
	min-height: var(--button-min-height) !important;
}

.footer-button {
	height: var(--button-min-height) !important;
	min-height: var(--button-min-height) !important;
	padding-block: 0 !important;
}

.expander-up,
.expander-down {
	min-height: var(--button-min-height) !important;
	border: none !important;
	border-radius: var(--border-radius-small) !important;
}

#editBookmarkPanelContent {
	padding-block: var(--panel-subview-body-padding-block) !important;

	#editBMPanel_folderMenuList.folder-icon {
		border-radius: var(--border-radius-small) !important;
	}

	#editBMPanel_folderTree {
		background-color: var(--input-bgcolor) !important;
		border: none !important;
		border-radius: var(--border-radius-small) !important;
	}

	#editBMPanel_newFolderButton {
		padding-block: var(--space-xsmall) !important;
		border-radius: var(--border-radius-small) !important;
	}
}

#downloadsPanel-mainView {
	min-width: calc(var(--menu-panel-width-wide) + var(--size-item-large)) !important;
	padding-block: var(--panel-subview-body-padding-block) !important;

	#downloadsListBox {
		width: var(--menu-panel-width-wide) !important;

		> richlistitem {
			background: none !important;
			color: inherit !important;
			margin: 0 !important;

			&:not(:first-child) {
				border-top: var(--button-border);
				border-image: linear-gradient(90deg, transparent calc(var(--size-item-medium) + 8px), var(--panel-separator-color) 0, var(--panel-separator-color) calc(100% - var(--space-xsmall)), transparent 0) 1 0 0;
			}

			> .downloadMainArea {
				padding-block: var(--panel-subview-body-padding-block) !important;

				> .downloadTypeIcon {
					width: var(--size-item-medium) !important;
					height: var(--size-item-medium) !important;
					margin-inline-end: var(--space-xsmall) !important;
				}
			}
		}

		.downloadButton {
			min-width: 20px !important;
			height: 20px !important;
			border: none !important;
			border-radius: var(--border-radius-large) !important;
		}

		.downloadProgress {
			height: 3px !important;
			margin-inline: 0 !important;
		}
	}

	> #downloadsFooter {
		align-items: flex-end;

		#downloadsHistory {
			min-height: unset !important;
		}

		toolbarseparator {
			display: none;
		}
	}

	#emptyDownloads {
		padding-block: var(--space-xlarge) !important;
	}
}

#statuspanel-label {
	background-color: var(--background-color-canvas) !important;
	border: none !important;
	backdrop-filter: blur(2em);
}