/*---------- Search box ----------*/
#searchbar,
.urlbar-background,
.findbar-textbox,
input:where([type="search"], [type="text"], [type="url"]):not(.searchbar-textbox),
textarea:not(#select-translations-panel-text-area) {
	outline: 18px solid transparent !important;
}

#searchbar:focus-within,
#urlbar[open] > .urlbar-background,
.findbar-textbox:focus,
input:where([type="search"], [type="text"], [type="url"]):not(.searchbar-textbox):focus-visible,
textarea:not(#select-translations-panel-text-area):where(:focus-visible) {
	outline: 3px solid var(--neptune-input-outline-color) !important;
	box-shadow: inset 0 0 0.75px accentcolor !important;
	transition: outline 250ms cubic-bezier(0.33, 0, 0.67, 1), box-shadow 250ms cubic-bezier(0.33, 0, 0.67, 1);
}

select:where(:not([size], [multiple])),
input:where(:not([type=radio i], [type=checkbox i], [type=range i], .urlbar-input, .findbar-textbox)),
textarea:not(#select-translations-panel-text-area, .report-broken-site-view textarea) {
	min-height: var(--button-min-height) !important;
	border: none !important;
	border-radius: var(--border-radius-circle) !important;
	padding-block: 0 !important;
	font: menu !important;
}

::selection {
	background-color: var(--neptune-item-selection-background) !important;
	color: var(--lwt-text-color) !important;
}