/*---------- Sidebar ----------*/
#sidebar {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}

#sidebar-header {
	font-size: 1.25em !important;
	border: none !important;

	#sidebar-switcher-target {
		padding-block: 0 !important;
		border-radius: var(--border-radius-xsmall) !important;
	}
}

#viewButton {
	background-color: var(--button-background-color) !important;
	margin-inline-start: var(--space-medium) !important;
	padding-inline: var(--space-small) !important;
	border: none !important;
	border-radius: var(--border-radius-small) !important;

	&[open] {
		background-color: var(--button-background-color-active) !important;
	}
}

@media -moz-pref("sidebar.revamp") {
	:root:not(.system-font-size) {
		--font-size-root: var(--default-font-size) !important;
	}

	.sidebar-splitter {
		background-color: transparent !important;	/* Make the sidebar's border color transparent, or change it to "--sidebar-border-color". */
		width: var(--splitter-width) !important;
		border-width: var(--splitter-width) !important;
	}

	.actions-list {
		--button-size-icon: var(--tab-min-height) !important;
		--button-border-radius: var(--border-radius-circle) !important;

		@media not -moz-pref("sidebar.verticalTabs") {
			--button-size-icon: var(--urlbar-min-height) !important;

			/* Keeping the sidebar width consistent between horizontal and vertical layouts ensures smooth layout switching. So its width will be affected by the size of the vertical tabs. */
			> moz-button:not(.tools-overflow) {
				--button-outer-padding-block: var(--space-xsmall) !important;
				--button-outer-padding-block-start: var(--space-xsmall) !important;
				--button-outer-padding-inline: calc(((var(--tab-min-height) + 2 * var(--space-medium)) - var(--urlbar-min-height)) / 2) !important;

				&:last-of-type {
					--button-outer-padding-block-end: calc(var(--toolbarbutton-inner-padding) / 2) !important;
				}
			}
		}

		@media -moz-pref("sidebar.verticalTabs") {
			> moz-button:not(.tools-overflow, .expanded-button) {
				--button-outer-padding-block: calc(var(--toolbarbutton-inner-padding) / 2) !important;
			}
		}

		&[orientation="horizontal"] {
			flex-basis: 100%;
			justify-content: space-between !important;
			gap: var(--space-small) !important;
		}
	}

	#sidebar-tools-overflow > #tools-overflow-list {
		--button-background-color-ghost-hover: var(--button-background-color-primary-hover) !important;
		--button-background-color-ghost-active: var(--button-background-color-primary-active) !important;
		--button-text-color-ghost-hover: var(--button-text-color-primary) !important;
		--button-text-color-ghost-active: var(--button-text-color-primary) !important;
		--button-border-radius: var(--arrowpanel-menuitem-border-radius) !important;
	}

	#sidebar-tools-and-extensions-splitter {
		background-color: transparent !important;
		min-width: calc(2 * var(--default-focusring-width)) !important;
		min-height: calc(2 * var(--default-focusring-width)) !important;
		border: none !important;
		border-radius: var(--border-radius-small) !important;
		margin-inline: auto !important;
		margin-block: 0 !important;
		transition: min-width 150ms linear, var(--ext-theme-background-transition);

		.wrapper:hover &:not(:has(~ .buttons-wrapper > .actions-list > moz-button:hover)) {
			background-color: var(--panel-separator-color) !important;

			&:hover {
				min-width: var(--size-item-small) !important;
				animation: splitter-H-pulsing 500ms ease-in-out;

				&:has(~ .buttons-wrapper > .tools-and-extensions[orientation="horizontal"]) {
					min-width: var(--size-item-medium) !important;
				}
			}
		}
	}

	.button-background {
		--button-font-size: var(--font-size-small, initial) !important;

		&.labelled {
			justify-content: var(--button-label-directiony, initial) !important;
		}

		&[type~="icon"] {
			button:is([title="Close"], [title="Close sidebar"]) > &:not(.labelled) {
				--button-border-radius: var(--border-radius-xlarge) !important;
			}

			button:is([title^="Open bookmarks"], [title^="Close bookmarks"]) > & > img {
				content: url("../assets/icons/bookmark-hollow.svg");
			}

			button:is([title^="Open history"], [title^="Close history"]) > & > img {
				content: url("../assets/icons/history.svg");
			}

			button[title^="Passwords"] > & > img {
				content: url("../assets/icons/login.svg");
			}

			button[title^="Tabs from other devices"] > & > img {
				content: url("../assets/icons/synced-tabs.svg");
			}

			button[title="More tools"] > & > img {
				content: url("../assets/icons/chevron.svg");
			}
		}
	}

	.sidebar-panel {
		--icon-size: var(--input-icon-size) !important;
		--panel-separator-color: var(--border-color-card) !important;
		--button-border-radius: var(--border-radius-small) !important;
		padding: 0 var(--space-small) !important;

		&[lwt-sidebar] {
			background-color: transparent !important;
		}

		/* bookmarksPanel */
		> #sidebar-panel-header {
			padding-block-start: 0 !important;
			padding-inline: var(--space-xsmall) !important;
		}

		> #sidebar-search-container {
			padding: 0 var(--space-xsmall) var(--space-large) !important;
		}

		/* historyPanel */
		> sidebar-panel-header {
			padding-inline: var(--space-xsmall);
			padding-block-end: var(--space-medium) !important;

			+ * {
				margin: 0 !important;
			}

			/* password */
			> .first-row .search-container {
				background-color: var(--input-bgcolor) !important;
				border: none !important;
			}

			> .first-row panel-list {
				background-color: menu !important;
				backdrop-filter: blur(1em);
				border-color: var(--border-color-card) !important;
				border-radius: var(--border-radius-medium) !important;

				> hr:not([hidden]) {
					background-color: var(--panel-separator-color) !important;
					margin: var(--panel-separator-padding) !important;
				}
			}

			> .second-row {
				margin-block-end: 0 !important;

				input {
					margin: auto var(--space-xsmall) !important;
				}
			}
		}

		virtual-passwords-list.passwords-list password-card {
			border: none !important;
			margin-block: var(--space-medium) 0 !important;

			&:first-of-type {
				margin-block-start: 0 !important;
			}
		}

		moz-card {
			--card-padding-block: var(--space-small);
			border: none !important;
			border-radius: var(--border-radius-small) !important;

			h3 {
				margin-block: 0 var(--space-xsmall) !important;
				margin-inline: var(--space-small);
			}
		}

		> .sidebar-panel-scrollable-content > #manage-settings > a {
			text-decoration: none !important;
		}
	}

	#moz-card-details {
		--card-padding: var(--space-small) !important;

		> summary {
			padding-block: calc((var(--button-min-height) - var(--size-item-small)) / 2) !important;
			cursor: default !important;

			> #heading-wrapper {
				padding-inline-start: var(--space-small) !important;

				.chevron-icon {
					background-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;

					details[open] & {
						background-image: url("chrome://global/skin/icons/arrow-up-12.svg") !important;
					}
				}
			}
		}
	}

	sidebar-tab-row {
		--button-background-color-ghost-hover: var(--button-background-color-primary-hover) !important;
		--button-background-color-ghost-active: var(--button-background-color-primary-active) !important;
		--button-text-color-ghost-hover: var(--button-text-color-primary) !important;
		--button-text-color-ghost-active: var(--button-text-color-primary) !important;
		--fxview-text-primary-color: var(--button-text-color-primary) !important;
		height: var(--button-min-height) !important;
		border-radius: var(--arrowpanel-menuitem-border-radius) !important;
	}

	.fxview-tab-row-main {
		background: none !important;
		cursor: default !important;
	}

	.fxview-tab-row-button {
		--button-size-icon: var(--size-item-small) !important;
		--button-min-height: var(--button-min-height) !important;
	}

	/* Chat */
	@-moz-document url("chrome://browser/content/genai/chat.html") {
		body {
			clip-path: var(--in-content-clip-path);

			> #browser-container > browser {
				border-radius: calc(2 * var(--border-radius-xlarge));
				margin-inline: var(--space-medium);
				transition: box-shadow 300ms ease-in-out;

				&:focus-within {
					box-shadow: var(--box-shadow-level-3);
				}
			}
		}

		#header {
			--icon-size: var(--size-item-xsmall) !important;
			padding-inline: var(--space-medium) !important;
			border: none !important;

			> select {
				margin-block: 0 !important;
			}
		}

		#multi-stage-message-root {
			background-color: Canvas !important;

			.screen[pos="split"]:where(:not([no-rdm])) {
				outline: none !important;
				border: var(--sidebar-box-border);
				border-radius: var(--border-radius-xlarge) !important;
			}

			.tiles-single-select-container {
				--background-color-canvas: transparent !important;

				.icon {
					--icon-size: var(--size-item-small) !important;
				}

				label {
					padding: 0 var(--space-medium) !important;
					border: none !important;
					outline: none !important;
					margin: 0 !important;
					cursor: default !important;

					&:has(.selected) {
						background-color: var(--button-background-color-primary-active) !important;
						color: var(--button-text-color-primary);
					}
				}
			}
		}

		#summarize-btn-container {
			--button-background-color: transparent !important;
			--button-border-radius: var(--border-radius-large) !important;
			--font-size-small: var(--default-font-size) !important;
			padding: var(--space-small) var(--space-medium) 0 !important;
			border: none !important;
			margin-inline-start: auto;
		}
	}
}

treechildren::-moz-tree-row {
	margin-inline: var(--arrowpanel-menuitem-margin-inline);
	border-radius: var(--border-radius-small);
}

treechildren::-moz-tree-row(selected) {
	background-color: var(--theme-primary-active-color) !important;
}

treechildren::-moz-tree-image(selected),
treechildren::-moz-tree-twisty(selected),
treechildren::-moz-tree-cell-text(selected) {
	color: var(--button-text-color-primary) !important;
}

#tabbrowser-tabbox {
	border-radius: 0 !important;
	outline: none !important;
	box-shadow: none !important;
	clip-path: var(--in-content-clip-path);
}