/*---------- Sidebar ----------*/
#sidebar {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}

#sidebar-header {
	font-size: 1.25em !important;
	border: none !important;

	#sidebar-switcher-target {
		padding-block: 0 !important;
		border-radius: var(--border-radius-xsmall) !important;
	}
}

#viewButton {
	background-color: var(--button-background-color) !important;
	margin-inline-start: var(--space-medium) !important;
	padding-inline: var(--space-small) !important;
	border: none !important;
	border-radius: var(--border-radius-circle) !important;

	&[open] {
		background-color: var(--button-background-color-active) !important;
	}
}

@media -moz-pref("sidebar.revamp") {
	.actions-list {
		--button-size-icon: var(--tab-min-height) !important;
		--button-border-radius: var(--border-radius-circle) !important;

		@media not -moz-pref("sidebar.verticalTabs") {
			--button-size-icon: var(--urlbar-min-height) !important;
		}

		> moz-button:not(.tools-overflow) {
			--button-outer-padding-block: var(--space-xsmall) !important;
		}

		&[orientation="horizontal"] {
			justify-content: space-between !important;
			gap: var(--space-small) !important;
			max-width: calc(100% - var(--space-xlarge)) !important;;
		}
	}

	#sidebar-tools-overflow > #tools-overflow-list {
		--button-background-color-ghost-hover: var(--button-background-color-primary-hover) !important;
		--button-background-color-ghost-active: var(--button-background-color-primary-active) !important;
		--button-text-color-ghost-hover: var(--button-text-color-primary) !important;
		--button-text-color-ghost-active: var(--button-text-color-primary) !important;
		--button-border-radius: var(--arrowpanel-menuitem-border-radius) !important;
	}

	#sidebar-tools-and-extensions-splitter {
		min-width: calc(2 * var(--default-focusring-width)) !important;
		min-height: calc(2 * var(--default-focusring-width)) !important;
		border: none !important;
		border-radius: var(--border-radius-small) !important;
		margin-inline: auto !important;
		margin-block-end: var(--space-xsmall) !important;
		transition: min-width 150ms linear, var(--ext-theme-background-transition);

		.wrapper:hover &:not(:has(~ .actions-list:hover)) {
			background-color: var(--panel-separator-color) !important;

			&:hover {
				min-width: var(--size-item-small) !important;
			}
		}
	}

	.button-background {
		&.labelled {
			justify-content: var(--button-label-directiony, initial) !important;
		}

		&[type~="icon"] {
			button:is([title^="Open bookmarks"], [title^="Close bookmarks"]) > & > img {
				content: url("../assets/icons/bookmark-hollow.svg");
			}

			button:is([title^="Open history"], [title^="Close history"]) > & > img {
				content: url("../assets/icons/history.svg");
			}

			button[title^="Passwords"] > & > img {
				content: url("../assets/icons/login.svg");
			}

			button[title^="Tabs from other devices"] > & > img {
				content: url("../assets/icons/synced-tabs.svg");
			}

			button[title="More tools"] > & > img {
				content: url("../assets/icons/chevron.svg");
			}
		}
	}

	.sidebar-panel {
		--icon-size: var(--size-item-xsmall) !important;
		--button-border-radius: var(--border-radius-xlarge) !important;
		padding-block: 0 !important;

		&[lwt-sidebar] {
			background-color: transparent !important;
		}

		moz-card {
			border: none !important;
			border-radius: var(--border-radius-small) !important;

			h3 {
				margin-block: 0 var(--space-small) !important;
			}
		}

		> #manage-settings > a {
			color: FieldText !important;
			text-decoration: none !important;
		}
	}

	#heading-wrapper {
		padding-inline-start: var(--space-medium) !important;
		gap: var(--space-medium) !important;

		.chevron-icon {
			min-height: var(--button-min-height) !important;
			height: var(--button-min-height) !important;
			background-image: url("chrome://global/skin/icons/arrow-down-12.svg") !important;

			details[open] & {
				background-image: url("chrome://global/skin/icons/arrow-up-12.svg") !important;
			}
		}
	}

	#moz-card-details > :is(summary, #content) {
		padding: 0 !important;
		cursor: default !important;
	}

	sidebar-tab-row {
		--button-background-color-ghost-hover: var(--button-background-color-primary-hover) !important;
		--button-background-color-ghost-active: var(--button-background-color-primary-active) !important;
		--button-text-color-ghost-hover: var(--button-text-color-primary) !important;
		--button-text-color-ghost-active: var(--button-text-color-primary) !important;
		--fxview-text-primary-color: var(--button-text-color-primary) !important;
		height: var(--button-min-height) !important;
		border-radius: var(--arrowpanel-menuitem-border-radius) !important;
	}

	.fxview-tab-row-main {
		background: none !important;
		padding-block: 0 !important;
		cursor: default !important;
	}

	.fxview-tab-row-button {
		--button-size-icon: var(--size-item-small) !important;
		--button-min-height: var(--button-min-height) !important;
		--button-outer-padding-block: var(--space-xsmall) !important;
		--button-outer-padding-inline: var(--space-xsmall) !important;
	}

	@layer input-common {
		#input {
			--input-width: 14px !important;
			--input-height: 14px !important;
			--input-margin-block-adjust: calc((1lh - var(--input-height)) / 2) !important;
		}

		.icon {
			display: none;

			+ .text {
				margin-inline-start: 0 !important;
			}
		}

		[slot="nested"]:first-child {
			margin-block-start: var(--space-small) !important;
		}

		.nested {
			margin-inline: 0 !important;
		}
	}

	moz-radio, moz-checkbox:not(:last-of-type) {
		padding-block: var(--space-small) !important;
		border-color: var(--neptune-content-border-color) !important;
	}

	#header {
		--icon-size: var(--size-item-xsmall) !important;
		padding-inline: 0 !important;
		border: none !important;

		> select {
			margin: 0 !important;
		}
	}
}

treechildren::-moz-tree-row,
treecol:not([hideheader="true"]),
.tree-columnpicker-button {
	min-height: var(--button-min-height) !important;
	border-radius: var(--border-radius-xsmall);
}

treechildren::-moz-tree-row {
	margin-inline: var(--arrowpanel-menuitem-margin-inline);
}

treechildren::-moz-tree-row(selected) {
	background-color: var(--theme-primary-active-color) !important;
}

treechildren::-moz-tree-image(selected),
treechildren::-moz-tree-twisty(selected),
treechildren::-moz-tree-cell-text(selected) {
	color: var(--button-text-color-primary) !important;
}

#tabbrowser-tabbox {
	outline: none !important;
	box-shadow: none !important;
	clip-path: var(--in-content-clip-path);
}