/*---------- Tabs Bar ----------*/
#tabbrowser-tabs {
	padding-inline-start: 0 !important;
	border-inline-start: none !important;

	&[orient="horizontal"] {
		--scrollbutton-display: none;
		--scrollbutton-padding: calc((var(--tab-min-height) - var(--size-item-small)) / 2) var(--tab-overflow-clip-margin);
		--tab-min-width: calc(48px + var(--tab-block-margin)) !important;
		--tab-max-width: 100% !important;

		:root:not([customizing]) & {
			padding-bottom: calc(var(--theme-browser-toolbox-padding) / 2) !important;
			margin: 0 !important;
		}

		&:not(:has(tab-group, #tabbrowser-arrowscrollbox tab:not([hidden]))):has(#pinned-tabs-container > tab:only-of-type),
		&:not(:has(tab-group, #pinned-tabs-container:not(:empty), tab:nth-child(2 of :not([hidden])))):has(tab:only-of-type, tab[hidden]) {
			display: contents;
		}

		> #tabbrowser-arrowscrollbox {
			background-color: var(--neptune-tabs-default-background);
			backdrop-filter: saturate(1.2);
			border-radius: var(--tab-border-radius);

			#pinned-tabs-container:not(:empty) ~ & {
				margin-inline-start: var(--tab-block-margin);
			}
		}

		.tabbrowser-tab {
			--tab-min-width-pref: var(--tab-min-width) !important;

			&:not([pinned], tab-group[collapsed] > &:not([visuallyselected])) {
				padding: var(--tab-overflow-clip-margin) !important;

				&:not(:nth-child(1 of :not([hidden])), tab-split-view-wrapper > &) {
					margin-inline-start: var(--tab-block-margin) !important;
				}

				&[fadein][selected]:not(tab-split-view-wrapper > &) {
					min-width: calc(2 * var(--tab-min-width)) !important;
				}

				tab-split-view-wrapper > & {
					&:first-of-type {
						padding-inline-end: 0 !important;
					}

					&:last-of-type {
						padding-inline-start: 0 !important;
					}
				}

				&:not([selected]):is([muted], [soundplaying], [activemedia-blocked]) {
					min-width: calc(var(--size-item-small) + var(--size-item-xsmall) + var(--tab-block-margin) + var(--tab-icon-end-margin) + 3 * var(--tab-inline-padding)) !important;
				}

				#tabbrowser-tabs[orient="horizontal"]:not([overflow]) & {
					transition-duration: 300ms !important;
				}
			}

			&[pinned] {
				padding: 0 !important;
				margin-inline-end: var(--tab-block-margin) !important;
			}

			&:nth-child(1 of :not([pinned], [selected], tab-group > &)) {
				--tab-loading-fill: transparent !important;
			}

			#tabbrowser-tabs:not(:has(tab-group, #tabbrowser-arrowscrollbox &:not([hidden]))) > #pinned-tabs-container > &:only-of-type,
			#tabbrowser-tabs:not(:has(tab-group, #pinned-tabs-container:not(:empty), &:nth-child(2 of :not([hidden])))) :is(&:only-of-type, :has(&[hidden]) &:nth-of-type(-n+2)) {
				display: none;
			}
		}
	}

	&[orient="vertical"] {
		grid-gap: unset !important;

		.tabbrowser-tab {
			padding-block: var(--space-xsmall) !important;
		}

		&[expanded] {
			--tab-border-radius: calc(var(--border-radius-small) + 1px);

			.tabbrowser-tab {
				#tabbrowser-tabs:not([movingtab]) & {
					transition: margin-inline 150ms ease-out !important;
				}

				#tabbrowser-tabs[movingtab][movingtab-addToGroup]:not(:is([movingtab-group], [movingtab-ungroup])) &[dragtarget] {
					margin-inline-start: calc(var(--size-item-small) + var(--tab-icon-end-margin)) !important;
					width: calc(100% - (var(--size-item-small) + var(--tab-icon-end-margin))) !important;
					transition: margin-inline 100ms ease-out, width 100ms ease-out !important;
				}

				/* Return max width when dragging a group tab out of the group. */
				#tabbrowser-tabs[movingtab]:is([movingtab-group], [movingtab-ungroup]) tab-group > &[dragtarget] {
					margin-inline-start: 0 !important;
					width: 100% !important;
					max-width: 100% !important;
				}

				tab-group:is(:not([collapsed]), [collapsed][hasactivetab]) > &:not(#tabbrowser-tabs[movingtab]:is([movingtab-group], [movingtab-ungroup]) tab-group &[dragtarget]) {
					margin-inline-start: calc(var(--size-item-small) + var(--tab-icon-end-margin)) !important;
				}

				#tabbrowser-arrowscrollbox > &:not([selected], [multiselected]) {
					margin-inline-end: calc(var(--size-item-small) + var(--tab-icon-end-margin) + (var(--tab-inline-padding) - var(--tab-inner-inline-margin))) !important;
				}
			}
		}

		&:not([expanded]) tab-split-view-wrapper .tabbrowser-tab {
			&:first-of-type {
				padding-block-end: 0 !important;
			}

			&:last-of-type {
				padding-block-start: 0 !important;
			}
		}

		&::after {
			content: none !important;
		}

		#tabs-newtab-button,
		#vertical-tabs-newtab-button {
			padding: 0 calc((var(--tab-min-height) - var(--icon-size-xsmall)) / 2) !important;
			margin-block: var(--space-xsmall) !important;
			margin-inline: auto !important;

			> .toolbarbutton-icon {
				width: var(--icon-size-xsmall) !important;
			}

			> .toolbarbutton-text {
				display: none;
			}

			#tabbrowser-tabs[expanded] & {
				width: inherit !important;
				border-radius: var(--border-radius-xlarge) !important;
			}
		}
	}

	> #pinned-drop-indicator {
		outline: none !important;
		border-radius: var(--tab-border-radius) !important;

		&[visible] #pinned-drop-indicator-icon {
			width: var(--size-item-xsmall) !important;
			height: var(--size-item-xsmall) !important;
		}

		&[interactive] {
			background-color: var(--neptune-pinned-tab-hover-background) !important;
		}

		#tabbrowser-tabs[orient="horizontal"] > & {
			height: var(--tabstrip-min-height) !important;
			margin-inline: 0 var(--tab-inline-padding) !important;
			padding-inline: calc((var(--tabstrip-min-height) - var(--icon-size-xsmall)) / 2) !important;
		}

		#tabbrowser-tabs[orient="vertical"] > & {
			flex-direction: row !important;

			&[visible] {
				height: var(--tab-min-height) !important;
				margin-bottom: var(--space-xsmall) !important;
			}
		}
	}

	> #vertical-pinned-tabs-splitter {
		min-width: calc(2 * var(--default-focusring-width)) !important;
		min-height: calc(2 * var(--default-focusring-width)) !important;
		margin-inline: auto !important;
		border: none !important;
		border-radius: var(--border-radius-small) !important;
		transition: min-width 150ms ease-in-out, var(--ext-theme-background-transition);

		#vertical-tabs:hover & {
			background-color: var(--panel-separator-color) !important;

			&:hover {
				min-width: var(--size-item-small) !important;
				animation: splitter-H-pulsing 500ms ease-in-out both;

				#tabbrowser-tabs[orient="vertical"][expanded] & {
					min-width: var(--size-item-medium) !important;
				}
			}
		}
	}

	.tab-group-label-container {
		#tabbrowser-tabs[orient="horizontal"] tab-group > & {
			padding-inline: var(--tab-overflow-clip-margin) !important;
			margin-inline-start: var(--tab-block-margin) !important;

			/*If the first tab is a tab group, keep the same start margin as a normal tab.*/
			tab-group:nth-child(1 of :not(#tabbrowser-arrowscrollbox[orient="horizontal"] > :is(tab:not([hidden]), tab-split-view-wrapper) + tab-group)) > & {
				margin-inline-start: 0 !important;
			}
		}

		#tabbrowser-tabs[orient="vertical"] tab-group > & {
			margin-block: 0 !important;

			tab-group:is(:not([collapsed]), [collapsed][hasactivetab]) > & {
				padding-block: 0 !important;
			}
		}

		#tabbrowser-tabs[orient="vertical"][expanded] & {
			margin-inline: var(--tab-inner-inline-margin) !important;

			/* Reserve space for the "tab group overflow count" only when its shown. If the counter is removed, comment it out. */
			#tabbrowser-tabs:not([movingtab]) tab-group[collapsed][hasactivetab][hasmultipletabs] > & {
				margin-inline-end: calc(var(--size-item-small) + var(--tab-inner-inline-margin) + var(--space-medium)) !important;
				transition: margin-inline 100ms ease-out;
			}
		}

		&::after {
			content: none !important;
		}

		> .tab-group-label-hover-highlight {
			background-color: transparent !important;
			border-radius: var(--tab-border-radius) !important;
			box-shadow: none !important;

			#tabbrowser-tabs[orient="horizontal"] & {
				padding-block: 0 !important;
			}

			#tabbrowser-tabs[orient="vertical"][expanded] & {
				margin-inline-end: 0 !important;
			}

			#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
				margin-inline: auto !important;
			}

			> .tab-group-label {
				background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 70%, transparent) !important;
				line-height: var(--tab-group-label-height) !important;
				border-radius: var(--tab-border-radius) !important;
				outline: none !important;
				transition: background-color 200ms ease-in-out, color 100ms ease-in-out;

				#tabbrowser-tabs:not([orient="vertical"]:not([expanded]))[movingtab] &:active {
					backdrop-filter: blur(12px);
				}

				#tabbrowser-tabs[orient="horizontal"] & {
					padding-inline: var(--tab-inline-padding) !important;

					tab-group[collapsed] > .tab-group-label-container & {
						box-shadow:
							var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 5%, transparent),
							var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 5%, transparent),
							0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 2%, transparent);

						&:not([dragover-groupTarget]) {
							background-color: color-mix(in oklab, light-dark(var(--tab-group-color-pale), var(--tab-group-color)) 20%, transparent) !important;
						}

						&[dragover-groupTarget] {
							background-color: color-mix(in oklab, light-dark(var(--tab-group-color-pale), var(--tab-group-color)) 40%, transparent) !important;
							box-shadow:
								var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 10%, transparent),
								var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 10%, transparent),
								0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 4%, transparent)
							!important;
						}
					}

					tab-group:not([collapsed]) > .tab-group-label-container & {
						box-shadow: 0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 6%, transparent);
					}
				}

				#tabbrowser-tabs[orient="vertical"] & {
					height: var(--tab-group-label-height) !important;
					margin-block: var(--space-xsmall) !important;
				}

				#tabbrowser-tabs[orient="vertical"][expanded] & {
					-moz-context-properties: fill;
					min-width: -moz-available !important;
					margin-inline-end: 0 !important;
					padding-inline-start: calc(var(--size-item-small) + var(--tab-icon-end-margin) + (var(--tab-inline-padding) - var(--tab-inner-inline-margin))) !important;
					background: url("../assets/icons/tab-group.svg") no-repeat calc(var(--tab-inline-padding) - var(--tab-inner-inline-margin)) transparent !important;
					color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
					fill: light-dark(var(--tab-group-color), var(--tab-group-color-invert));
					text-align: left !important;

					tab-group[collapsed] > .tab-group-label-container & {
						background: url("../assets/icons/tab-group-collapsed.svg") no-repeat calc(var(--tab-inline-padding) - var(--tab-inner-inline-margin)) !important;
						color: inherit !important;

						&[dragover-groupTarget] {
							background-color: color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 10%, transparent) !important;
							box-shadow: none !important;
						}

						#tabbrowser-tabs[movingtab] &:active {
							box-shadow: 0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 25%, transparent);
						}
					}
				}

				#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
					background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 60%, transparent) !important;
					width: var(--tab-group-label-height) !important;
					max-width: unset !important;
					margin-inline: var(--tab-inner-inline-margin) !important;
					box-shadow: var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 30%, transparent), var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 30%, transparent);

					tab-group[collapsed] > .tab-group-label-container & {
						&:not([dragover-groupTarget]) {
							background-color: color-mix(in oklab, light-dark(var(--tab-group-color-pale), var(--tab-group-color)) 40%, transparent) !important;
							box-shadow: var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 10%, transparent), var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 10%, transparent);
						}

						&[dragover-groupTarget] {
							background-color: color-mix(in oklab, light-dark(var(--tab-group-color-pale), var(--tab-group-color)) 60%, transparent) !important;
							box-shadow: var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 20%, transparent), var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 20%, transparent) !important;
						}
					}

					/* The label text turns transparent when the tab group count is activated. If the counter is removed, comment it out. */
					#tabbrowser-tabs:not([movingtab]) tab-group[collapsed][hasactivetab][hasmultipletabs] > .tab-group-label-container:not(:hover) & {
						color: transparent !important;
					}
				}
			}
		}
	}

	.tab-group-overflow-count-container {
		font-family: monospace;

		#tabbrowser-tabs[orient="horizontal"] & {
			margin-inline: var(--tab-overflow-clip-margin) 0 !important;
			padding-inline: 0 !important;

			tab-group[collapsed][hasactivetab][hasmultipletabs]:has(+ #tabbrowser-arrowscrollbox-periphery) > & {
				display: none !important;
			}

			> .tab-group-overflow-count {
				background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 10%, var(--lwt-accent-color, transparent));
				padding: 0 var(--tab-group-label-padding) !important;
				margin: 0 auto auto !important;
				border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
				box-shadow: var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 15%, var(--lwt-accent-color)), var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 15%, var(--lwt-accent-color)), var(--box-shadow-card);
			}
		}

		#tabbrowser-tabs[orient="vertical"][expanded] & {
			margin-inline-start: 0 !important;

			> .tab-group-overflow-count {
				position: absolute;
				background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 8%, transparent);
				padding: 0 var(--tab-group-label-padding) !important;
				inset: auto var(--tab-inner-inline-margin) calc(var(--tab-min-height) + var(--space-medium) + 7px) auto;
				border-radius: var(--border-radius-large);
			}
		}

		#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
			tab-group[collapsed][hasactivetab][hasmultipletabs] > .tab-group-label-container:hover ~ & {
				display: none !important;
			}

			> .tab-group-overflow-count {
				position: absolute;
				width: fit-content;
				padding: 0 !important;
				margin-inline: auto !important;
				inset: auto 0 calc(var(--tab-min-height) + var(--space-medium) + 7px);
			}
		}

		&::after {
			content: none !important;
		}
	}

	tab-split-view-wrapper {
		background-color: transparent !important;
		padding: 0 !important;
		border: none !important;
		outline: none !important;

		#tabbrowser-tabs[orient="horizontal"] & {
			--tab-min-width-pref: calc(2 * var(--tab-min-width)) !important;
			flex: 200 200 !important;
			margin-block: 0 !important;

			/* Keep the split view tab's margin consistent with the normal tab. */
			#tabbrowser-arrowscrollbox > :is(tab:not([hidden]), tab-group) + &,
			#tabbrowser-arrowscrollbox > tab-group:is(:not([collapsed]), [collapsed][hasactivetab]) > & {
				margin-inline-start: var(--tab-block-margin) !important;
			}
		}

		#tabbrowser-tabs[orient="vertical"] & {
			gap: unset !important;
		}

		#tabbrowser-tabs[orient="vertical"][expanded] & {
			grid-template-columns: repeat(2, 1fr) !important;
			margin-inline: var(--tab-inner-inline-margin) !important;

			tab-group > &:not([dragtarget]) {
				margin-inline-start: calc(var(--size-item-small) + var(--tab-icon-end-margin) + var(--tab-inner-inline-margin)) !important;
			}
		}

		#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
			margin-inline: auto !important;
		}
	}
}

.tabbrowser-tab {
	--tab-label-mask-size: 0 !important;
	--tab-icon-end-margin: inherit !important;

	&[usercontextid] {
		--tab-loading-fill: var(--identity-tab-color);
	}

	tab-group &:not([usercontextid]) {
		--tab-loading-fill: light-dark(var(--tab-group-color), var(--tab-group-color-pale));
	}

	#tabbrowser-tabs tab-split-view-wrapper & {
		border-inline: none !important;
		border-block: none !important;
	}

	.tab-background {
		--split-view-tab-clip: calc(var(--tab-overflow-clip-margin) / -1);
		background-color: transparent !important;
		margin-block: 0 !important;
		outline: none !important;
		transition: var(--ext-theme-background-transition), box-shadow 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

		#tabbrowser-tabs[orient="horizontal"] > #pinned-tabs-container > .tabbrowser-tab > .tab-stack > & {
			--tab-min-height: var(--tabstrip-min-height) !important;
		}

		#tabbrowser-tabs[orient="horizontal"] tab-split-view-wrapper > .tabbrowser-tab > .tab-stack > & {
			--tab-min-height: var(--size-item-medium) !important;
		}

		#tabbrowser-tabs:not([orient="vertical"]:not([expanded])) tab-split-view-wrapper > .tabbrowser-tab > .tab-stack > & {
			margin-inline: 0 !important;
		}

		#tabbrowser-tabs[orient="vertical"]:not([expanded]) tab-split-view-wrapper > .tabbrowser-tab > .tab-stack > & {
			margin-inline: auto !important;
		}

		#tabbrowser-tabs[orient="horizontal"] tab-split-view-wrapper > .tabbrowser-tab:first-of-type > .tab-stack > & {
			clip-path: inset(var(--split-view-tab-clip) 0 var(--split-view-tab-clip) var(--split-view-tab-clip));
		}

		#tabbrowser-tabs[orient="horizontal"] tab-split-view-wrapper > .tabbrowser-tab:last-of-type > .tab-stack > & {
			clip-path: inset(var(--split-view-tab-clip) var(--split-view-tab-clip) var(--split-view-tab-clip) 0);
		}

		#tabbrowser-tabs:not([orient="vertical"]:not([expanded])) tab-split-view-wrapper > .tabbrowser-tab:first-of-type > .tab-stack > & {
			border-radius: var(--tab-border-radius) 0 0 var(--tab-border-radius) !important;
		}

		#tabbrowser-tabs:not([orient="vertical"]:not([expanded])) tab-split-view-wrapper > .tabbrowser-tab:last-of-type > .tab-stack > & {
			border-radius: 0 var(--tab-border-radius) var(--tab-border-radius) 0 !important;
		}

		#tabbrowser-tabs[orient="vertical"]:not([expanded]) tab-split-view-wrapper > .tabbrowser-tab:first-of-type > .tab-stack > & {
			border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important;
		}

		#tabbrowser-tabs[orient="vertical"]:not([expanded]) tab-split-view-wrapper > .tabbrowser-tab:last-of-type > .tab-stack > & {
			border-radius: 0 0 var(--tab-border-radius) var(--tab-border-radius) !important;
		}

		#tabbrowser-tabs[movingtab] :is(.tabbrowser-tab:active, tab-split-view-wrapper > .tabbrowser-tab) > .tab-stack > & {
			backdrop-filter: blur(12px);
		}

		/* Pinned tabs and the "moving add to group" tab do not show shadows. The "moving add to group" tab's shadow is currently drawn by the "tab group line". */
		&:not(#tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox .tabbrowser-tab:not([movingtab][movingtab-addToGroup]:not([movingtab-group], [movingtab-ungroup]) .tabbrowser-tab:active) > .tab-stack > &) {
			box-shadow: none !important;
		}

		/* Tab background color precedence: Moving tab > Container tab > Group tab > Normal tab. */
		&[selected]:not([multiselected], #tabbrowser-tabs[movingtab]:not([movingtab-group], [movingtab-ungroup]) > #tabbrowser-arrowscrollbox > tab:active > .tab-stack > &) {
			background-color: var(--neptune-tab-selected-background) !important;

			#tabbrowser-tabs[orient="horizontal"] > #pinned-tabs-container & {
				background-color: var(--neptune-pinned-tab-selected-background) !important;
			}

			#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab & {
				background-color: var(--neptune-verticaltab-selected-background) !important;

				tab-group:not(#tabbrowser-tabs:is([movingtab-group], [movingtab-ungroup]) tab-group):is(:not([collapsed]), [collapsed][hasactivetab]) .tabbrowser-tab > .tab-stack > & {
					background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 12%, transparent) !important;
				}
			}

			/* Group tabs instantly revert to the default background color when dragged out of their group. */
			#tabbrowser-tabs[orient="horizontal"]:not([movingtab-group], [movingtab-ungroup]) tab-group:is(:not([collapsed]), [collapsed][hasactivetab]) .tabbrowser-tab > .tab-stack > & {
				background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 10%, var(--lwt-accent-color, transparent)) !important;
				box-shadow:
					var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 15%, var(--lwt-accent-color, transparent)),
					var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 15%, var(--lwt-accent-color, transparent)),
					0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 4%, transparent)
				!important;
			}

			#tabbrowser-tabs:not([movingtab][movingtab-group]) .tabbrowser-tab[usercontextid]:not(#tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox .tabbrowser-tab, tab-group[collapsed] > .tabbrowser-tab[visuallyselected]) > .tab-stack > & {
				background-color: color-mix(in oklab, var(--identity-tab-color) 16%, transparent) !important;
			}

			#tabbrowser-tabs[orient="horizontal"]:not([movingtab][movingtab-group]) .tabbrowser-tab[usercontextid]:not(tab-group[collapsed] > .tabbrowser-tab[visuallyselected]) > .tab-stack > & {
				background-color: color-mix(in srgb, var(--identity-tab-color) 10%, var(--lwt-accent-color, transparent)) !important;

				&:not(#pinned-tabs-container > .tabbrowser-tab &) {
					box-shadow:
						var(--shadow-inner-glow) color-mix(in oklab, var(--identity-tab-color) 15%, var(--lwt-accent-color, transparent)),
						var(--shadow-inner-depth) color-mix(in oklab, var(--identity-tab-color) 15%, var(--lwt-accent-color, transparent)),
						0 0 0 var(--tab-overflow-clip-margin) color-mix(in oklab, var(--identity-tab-color) 4%, transparent)
					!important;
				}
			}

			#tabbrowser-tabs[orient="horizontal"][movingtab][movingtab-group] .tabbrowser-tab > .tab-stack > & {
				background-color: color-mix(in srgb, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 15%, var(--lwt-accent-color, transparent)) !important;
				box-shadow:
					var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 20%, var(--lwt-accent-color, transparent)),
					var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 20%, var(--lwt-accent-color, transparent)),
					0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale)) 4%, transparent)
				!important;
			}

			#tabbrowser-tabs[orient="vertical"][movingtab][movingtab-group] .tabbrowser-tab > .tab-stack > & {
				background-color: color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 15%, transparent) !important;
			}
		}

		&:not([selected], [multiselected]) {
			background-color: transparent !important;

			#tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox .tabbrowser-tab:not([usercontextid], tab-group .tabbrowser-tab):hover > .tab-stack > & {
				background-color: var(--neptune-tab-hover-background) !important;
				box-shadow: 0 0 0 var(--tab-overflow-clip-margin) var(--neptune-tab-hover-shadow-color) !important;
			}

			#tabbrowser-tabs[orient="horizontal"] > #pinned-tabs-container .tabbrowser-tab > .tab-stack > & {
				background-color: var(--neptune-pinned-tab-background) !important;

				tab:hover & {
					background-color: var(--neptune-pinned-tab-hover-background) !important;
				}
			}

			#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab:not(pinned) > .tab-stack > &:not(:is([usercontextid], [dragover-groupTarget], tab-group .tabbrowser-tab) > .tab-stack > &) {
				background-color: var(--neptune-verticaltab-background) !important;

				tab:hover & {
					background-color: var(--neptune-tab-hover-background) !important;
				}
			}

			#tabbrowser-tabs[orient="vertical"] > #pinned-tabs-container > .tabbrowser-tab:not(:hover, [usercontextid]):not(:is([muted], [soundplaying], [activemedia-blocked])) > .tab-stack > & {
				background-color: var(--neptune-verticaltab-pinned-background) !important;
			}

			#tabbrowser-tabs tab-group:not([collapsed]) .tabbrowser-tab:not([usercontextid]) > .tab-stack > & {
				background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 2%, transparent) !important;

				#tabbrowser-arrowscrollbox[orient="vertical"] .tabbrowser-tab:hover & {
					background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 8%, transparent) !important;
				}

				#tabbrowser-arrowscrollbox[orient="horizontal"] .tabbrowser-tab:hover & {
					background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 10%, transparent) !important;
					box-shadow: 0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 2%, transparent) !important;
				}
			}

			#tabbrowser-tabs > #tabbrowser-arrowscrollbox .tabbrowser-tab[usercontextid] > .tab-stack > &:not([dragover-groupTarget]) {
				background-color: color-mix(in oklab, var(--identity-tab-color) 2%, transparent) !important;

				tab:hover & {
					background-color: color-mix(in oklab, var(--identity-tab-color) 8%, transparent) !important;
				}

				#tabbrowser-arrowscrollbox[orient="horizontal"] tab:hover & {
					box-shadow: 0 0 0 var(--tab-overflow-clip-margin) color-mix(in oklab, var(--identity-tab-color) 2%, transparent) !important;
				}
			}

			#tabbrowser-tabs > #pinned-tabs-container > .tabbrowser-tab[usercontextid] > .tab-stack > & {
				background-color: color-mix(in oklab, var(--identity-tab-color) 10%, transparent) !important;

				tab:hover & {
					background-color: color-mix(in oklab, var(--identity-tab-color) 16%, transparent) !important;
				}
			}

			#tabbrowser-tabs > :is(#pinned-tabs-container, #tabbrowser-arrowscrollbox[orient="vertical"]:not(#tabbrowser-tabs[orient="vertical"][expanded] > #tabbrowser-arrowscrollbox)) .tabbrowser-tab:not(:hover, [dragover-groupTarget]):is([muted], [soundplaying], [activemedia-blocked]) > .tab-stack > & {
				background-color: var(--neptune-tab-soundplaying-background) !important;
				animation: var(--tab-sharing-icon-animation) -1s;

				.tabbrowser-tab[usercontextid] & {
					background-color: color-mix(in oklab, var(--identity-tab-color) 25%, transparent) !important;
				}

				tab-group:not([collapsed]) .tabbrowser-tab:not([usercontextid]) & {
					background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 25%, transparent) !important;
				}
			}

			#tabbrowser-tabs[orient="horizontal"][movingtab][movingtab-group] .tabbrowser-tab > .tab-stack > &[dragover-groupTarget] {
				background-color: color-mix(in srgb, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 20%, var(--lwt-accent-color, transparent)) !important;
				box-shadow:
					var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 25%, var(--lwt-accent-color, transparent)),
					var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 25%, var(--lwt-accent-color, transparent)),
					0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale)) 4%, transparent)
				!important;
			}

			#tabbrowser-tabs[orient="vertical"][movingtab][movingtab-group] .tabbrowser-tab > .tab-stack > &[dragover-groupTarget] {
				background-color: color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 20%, transparent) !important;
			}
		}

		&[multiselected] {
			background-color: var(--neptune-tab-multiselected-background) !important;

			#tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox .tabbrowser-tab:not([usercontextid]) & {
				background-color: var(--neptune-tab-selected-background) !important;
				box-shadow: 0 0 0 var(--tab-overflow-clip-margin) var(--neptune-tab-multiselected-shadow-color) !important;
			}

			#tabbrowser-tabs[orient="horizontal"]:not([movingtab-group], [movingtab-ungroup]) > #tabbrowser-arrowscrollbox tab-group .tabbrowser-tab:not([usercontextid]) > .tab-stack > & {
				background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 15%, var(--lwt-accent-color, transparent)) !important;
				box-shadow: 0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-pale)) 30%, transparent) !important;
			}

			#tabbrowser-tabs[orient="horizontal"]:not([movingtab-group]) > #tabbrowser-arrowscrollbox .tabbrowser-tab[usercontextid] > .tab-stack > & {
				background-color: color-mix(in srgb, var(--identity-tab-color) 15%, var(--lwt-accent-color, transparent)) !important;
				box-shadow: 0 0 0 var(--tab-overflow-clip-margin) color-mix(in oklab, var(--identity-tab-color) 30%, transparent) !important;
			}

			#tabbrowser-tabs:not([movingtab-group], [movingtab-ungroup]) > :is(#pinned-tabs-container, #tabbrowser-arrowscrollbox[orient="vertical"]) .tabbrowser-tab[usercontextid]:not([dragtarget]) > .tab-stack > & {
				background-color: color-mix(in oklab, var(--identity-tab-color) 25%, transparent) !important;
			}

			#tabbrowser-tabs[orient="vertical"]:not([movingtab-group], [movingtab-ungroup]) tab-group .tabbrowser-tab > .tab-stack > & {
				background-color: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 15%, transparent) !important;
			}

			#tabbrowser-tabs[orient="horizontal"][movingtab][movingtab-group]:not([movingtab-addToGroup], [movingtab-ungroup]) > #tabbrowser-arrowscrollbox .tabbrowser-tab[dragtarget] > .tab-stack > & {
				background-color: color-mix(in srgb, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 15%, var(--lwt-accent-color, transparent)) !important;
				box-shadow:
					var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 20%, var(--lwt-accent-color, transparent)),
					var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 20%, var(--lwt-accent-color, transparent)),
					0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale)) 4%, transparent)
				!important;
			}

			#tabbrowser-tabs[orient="vertical"][movingtab][movingtab-group]:not([movingtab-addToGroup], [movingtab-ungroup]) > #tabbrowser-arrowscrollbox .tabbrowser-tab[dragtarget] > .tab-stack > & {
				background-color: color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 15%, transparent) !important;
			}
		}

		> .tab-group-line {
			background-color: transparent !important;
			inset-block: 0 !important;
			inset-inline: 0 !important;
			border-radius: var(--tab-border-radius) !important;

			#tabbrowser-tabs[orient="horizontal"] & {
				height: var(--tab-min-height) !important;

				tab-split-view-wrapper > .tabbrowser-tab:first-of-type & {
					border-radius: var(--tab-border-radius) 0 0 var(--tab-border-radius) !important;
				}

				tab-split-view-wrapper > .tabbrowser-tab:last-of-type & {
					border-radius: 0 var(--tab-border-radius) var(--tab-border-radius) 0 !important;
				}
			}

			#tabbrowser-tabs[orient="vertical"] & {
				width: auto !important;
			}

			#tabbrowser-tabs[orient="vertical"][expanded] .tabbrowser-tab:not([dragtarget]) & {
				&:not(tab-split-view-wrapper > .tabbrowser-tab &) {
					inset-inline: var(--tab-inner-inline-margin) !important;
				}

				tab-split-view-wrapper > .tabbrowser-tab:first-of-type & {
					border-radius: var(--tab-border-radius) 0 0 var(--tab-border-radius) !important;
				}
			}

			#tabbrowser-tabs[orient="vertical"]:not([expanded]) .tabbrowser-tab:not([dragtarget]) & {
				inset-inline: var(--tab-inner-inline-margin) !important;

				tab-split-view-wrapper > .tabbrowser-tab:first-of-type & {
					border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important;
				}

				tab-split-view-wrapper > .tabbrowser-tab:last-of-type & {
					border-radius: 0 0 var(--tab-border-radius) var(--tab-border-radius) !important;
				}
			}

			#tabbrowser-tabs[movingtab][movingtab-addToGroup]:not([movingtab-group], [movingtab-ungroup]) .tabbrowser-tab:not(:is(#tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox, tab-group) .tabbrowser-tab):is(:active, [multiselected]) > .tab-stack > .tab-background > & {
				background-color: color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 15%, transparent) !important;
				backdrop-filter: blur(12px);
				animation: tab-hover-preview-fadein 300ms ease-out both;
			}

			#tabbrowser-tabs[orient="horizontal"][movingtab][movingtab-addToGroup]:not([movingtab-group], [movingtab-ungroup]) > #tabbrowser-arrowscrollbox .tabbrowser-tab:not(tab-group .tabbrowser-tab):is(:active, [multiselected]) > .tab-stack > .tab-background > & {
				background-color: color-mix(in srgb, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-invert)) 15%, var(--lwt-accent-color, transparent)) !important;
				box-shadow:
					var(--shadow-inner-glow) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale)) 20%, var(--lwt-accent-color, transparent)),
					var(--shadow-inner-depth) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale)) 20%, var(--lwt-accent-color, transparent)),
					0 0 0 var(--tab-group-label-highlight-thickness) color-mix(in oklab, light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale)) 4%, transparent);
				backdrop-filter: blur(12px);
			}
		}

		> .tab-context-line {
			display: none;
		}
	}

	.tab-content {
		font-size: var(--default-font-size);

		&[multiselected]:not(#tabbrowser-tabs[orient="vertical"]:not([expanded]) &, #pinned-tabs-container &):not([dragtarget] &) {
			animation: emeTeachingMoment 1s ease-out infinite;
		}

		:root #tabbrowser-tabs[orient="horizontal"] tab &[pinned] {
			padding: 0 var(--tab-inline-padding) !important;
		}

		#tabbrowser-tabs[orient="vertical"]:not([expanded]) tab-split-view-wrapper > .tabbrowser-tab > .tab-stack > & {
			padding-inline: var(--tab-inline-padding) !important;
		}

		#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[pictureinpicture] & {
			font-size: 0.88em;

			> .tab-label-container > .tab-label {
				line-height: calc(var(--tab-min-height) / 2) !important;
			}
		}

		> .tab-label-container {
			height: inherit !important;
			mask-image: none !important;

			#tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
				max-width: min-content;
				margin-inline-end: auto;

				/* Compensate the padding of the tab with a normal close-button state to center the label. */
				&:not(#tabbrowser-tabs[closebuttons="activetab"] &:not([selected], tab-split-view-wrapper > tab &)):not(tab:is([muted], [soundplaying], [activemedia-blocked]) &) {
					padding-inline-end: calc(var(--size-item-xsmall) + var(--tab-inline-padding));
				}

				&[textoverflow] > .tab-label {
					width: calc(100% + var(--size-item-xsmall));
				}
			}

			> .tab-label {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> .tab-secondary-label {
				margin: 0 !important;
				font-size: 9px !important;
			}

			#tabbrowser-tabs[orient="horizontal"][overflow] tab:not([selected], tab-split-view-wrapper > tab) & {
				display: none;
			}
		}

		/* Ensure the speaker button and tab close button occupy the same amount of space. */
		> .tab-audio-button {
			--button-size-icon-small: var(--icon-size) !important;
			--button-background-color-ghost-hover: transparent !important;
			--button-background-color-ghost-active: transparent !important;
			--button-text-color-ghost-hover: var(--color-accent-primary-hover) !important;
			--button-text-color-ghost-active: var(--color-accent-primary-active) !important;
			margin-inline-end: 0 !important;
			order: 1;

			#tabbrowser-tabs > #tabbrowser-arrowscrollbox > tab-group .tabbrowser-tab:not([usercontextid]) & {
				--button-text-color-ghost-hover: color-mix(in oklab, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 75%, transparent) !important;
				--button-text-color-ghost-active: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
			}

			#tabbrowser-tabs > #tabbrowser-arrowscrollbox .tabbrowser-tab[usercontextid] & {
				--button-text-color-ghost-hover: color-mix(in oklab, var(--identity-tab-color) 75%, transparent) !important;
				--button-text-color-ghost-active: var(--identity-icon-color) !important;
			}

			#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab & {
				margin-inline-start: var(--tab-inline-padding);
			}

			#tabbrowser-tabs[orient="vertical"][expanded] .tabbrowser-tab & {
				margin-inline-start: calc(var(--tab-inline-padding) / 2);
			}

			&:is([tab-note], [muted], [soundplaying], [activemedia-blocked]) {
				animation: tab-hover-preview-fadein 300ms ease-out both;
			}
		}

		> .tab-icon-stack {
			#tabbrowser-tabs .tab-content[multiselected] > &:not(:is(#tabbrowser-tabs[orient="vertical"][expanded], #tabbrowser-tabs[orient="horizontal"]) > #tabbrowser-arrowscrollbox &):not([dragtarget] &) {
				animation: Bounce 2s infinite;
			}

			#tabbrowser-tabs[orient="horizontal"] > #tabbrowser-arrowscrollbox .tab-content > & {
				&:not(#tabbrowser-tabs[overflow] &:not([selected])) {
					margin-inline-start: auto;
				}

				> .tab-icon-image:not([src], [busy]) {
					display: revert !important;
				}
			}

			#tabbrowser-tabs[orient="horizontal"][overflow] tab:not([selected], [pinned], [muted], [soundplaying], [activemedia-blocked], tab-split-view-wrapper > tab) .tab-content > & > * {
				margin-inline: calc((var(--tab-min-width-pref) - var(--size-item-small) - var(--tab-block-margin)) / 2 - var(--tab-inline-padding)) !important;
			}

			#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox .tabbrowser-tab:hover .tab-content:not(:is(#tabbrowser-tabs[orient="vertical"]:not([expanded]), #tabbrowser-tabs[orient="horizontal"]) .tab-content) > &,
			#tabbrowser-tabs:not([movingtab]) > :is(#tabbrowser-arrowscrollbox[orient="vertical"]:not(#tabbrowser-tabs[orient="vertical"][expanded] #tabbrowser-arrowscrollbox), #pinned-tabs-container) .tabbrowser-tab:is([muted], [soundplaying], [activemedia-blocked]):hover .tab-content > & > *:not(.tab-icon-overlay) {
				display: none;
			}

			> .tab-icon-image {
				fill: var(--toolbarbutton-icon-fill) !important;

				&:not(#tabbrowser-tabs[orient="vertical"][expanded] &) {
					border-radius: var(--tab-border-radius);
				}

				&[pending] {
					filter: grayscale(100%) opacity(50%);
				}

				tab:is([label="New Tab"], [label="New Private Tab"]) & {
					content: url("../assets/icons/favicon.svg");
				}

				tab[label="Customize Firefox"] & {
					content: url("../assets/icons/customize.svg");
				}

				tab[label="Add-ons Manager"] & {
					content: url("../assets/icons/extension.svg");
				}

				tab[label="Passwords"] & {
					content: url("../assets/icons/login.svg");
				}

				tab[label="About Profiles"] & {
					content: var(--avatar-image-url);
				}
			}

			> .tab-icon-overlay {
				inset: auto !important;

				.tabbrowser-tab[usercontextid] & {
					--audio-overlay-extra-background: color-mix(in oklab, var(--identity-icon-color) 50%, transparent) !important;

					&:hover {
						--audio-overlay-extra-background: color-mix(in oklab, var(--identity-icon-color) 75%, transparent) !important;

						&:active {
							--audio-overlay-extra-background: var(--identity-icon-color) !important;
						}
					}
				}

				:is(#tabbrowser-tabs > #pinned-tabs-container, #tabbrowser-tabs[orient="vertical"]:not([expanded]) > #tabbrowser-arrowscrollbox) &:is([soundplaying], [muted], [activemedia-blocked]) {
					display: none;

					tab:not([dragtarget]):hover & {
						display: revert;
						animation: tab-hover-preview-fadein 300ms ease-out both;
					}
				}
			}
		}

		> .tab-close-button {
			background-color: var(--neptune-button-field-color) !important;
			fill: Field !important;
			border-radius: calc(var(--tab-border-radius) / 2) !important;
			order: -1;

			#tabbrowser-tabs[orient="horizontal"] & {
				margin-inline-end: var(--tab-inline-padding) !important;
				visibility: hidden;

				tab:not([dragtarget]):hover & {
					visibility: visible;
					animation: tab-hover-preview-fadein 0.3s ease-out both;
				}

				#tabbrowser-tabs[closebuttons="activetab"][orient="horizontal"] tab-split-view-wrapper &:not([selected]) {
					display: revert !important;
				}
			}

			#tabbrowser-tabs[orient="vertical"][expanded] & {
				margin-inline-end: calc(var(--tab-icon-end-margin) + 4px) !important;
				display: none;

				#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox .tabbrowser-tab:hover & {
					display: revert !important;
					animation: tab-hover-preview-fadein 0.3s ease-out both;
				}
			}

			#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
				list-style-image: url("../assets/icons/minus.svg") !important;
				background-image: none !important;
				background-color: light-dark(#ff6f61, #f0c05a) !important;
				padding: var(--toolbarbutton-outer-padding) !important;
				inset: calc(-1 * var(--space-xsmall)) var(--space-xsmall) !important;
				box-shadow: none !important;
				outline: none !important;
				transition: opacity 200ms ease-out, filter 200ms ease-out;

				:is(tab-group:not([collapsed]) .tabbrowser-tab, tab-group[collapsed] > .tabbrowser-tab[visuallyselected]) & {
					background-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
				}

				#tabbrowser-tabs .tabbrowser-tab[usercontextid] & {
					background-color: var(--identity-icon-color) !important;
				}

				tab-split-view-wrapper > .tabbrowser-tab:last-of-type & {
					inset-block-start: 0 !important;
				}

				#tabbrowser-tabs[movingtab] & {
					display: none !important;
				}

				&:hover {
					filter: brightness(120%);

					&:active {
						filter: brightness(90%);
					}
				}
			}

			&:hover {
				background-color: var(--neptune-button-field-hover-color) !important;

				&:active {
					background-color: currentColor !important;
				}
			}
		}

		.tabbrowser-tab[pending] & {
			color: var(--text-color-disabled);
			transition: color 1s ease-out;
		}
	}
}

.all-tabs-item {
	&[selected] {
		font-weight: unset !important;

		&:not(:hover) {
			background-color: var(--button-background-color);
		}
	}

	> .all-tabs-secondary-button {
		background-color: transparent !important;

		&:hover {
			fill: var(--color-accent-primary-hover) !important;
		}
	}
}

.tab-group-editor-panel {
	--panel-padding: var(--space-medium) !important;
	--panel-separator-padding: var(--arrowpanel-menuitem-margin-inline) !important;
	--button-border: none !important;
	--button-min-height-small: var(--button-min-height) !important;
	--icon-size: var(--size-item-xsmall) !important;
	--button-label-directiony: start;

	.panel-header {
		padding: 0 !important;

		> h1 {
			margin: var(--space-xsmall) !important;
		}
	}

	.tab-group-editor-name,
	.tab-group-editor-swatches {
		padding-block: var(--panel-subview-body-padding-block) !important;
		padding-inline: var(--arrowpanel-menuitem-margin-inline);
	}

	.tab-group-editor-swatch {
		border-radius: var(--tab-border-radius) !important;
	}
}

#tab-preview-panel {
	> .tab-preview-text-container {
		padding: var(--space-large) !important;
		order: 1;
	}

	> .tab-preview-thumbnail-container {
		border: none !important;
	}
}

#scrollbutton-up[tooltiptext="Scroll backwards"],
#scrollbutton-down[tooltiptext="Scroll forwards"] {
	--arrowscrollbox-scrollicon-padding: var(--scrollbutton-padding, 0) !important;
	/*display: var(--scrollbutton-display, inherit);*/
}