/*---------- Tabs Bar ----------*/
#tabbrowser-tabs {
	padding-inline-start: 0 !important;
	border-inline-start: none !important;

	&[orient="horizontal"] {
		--scrollbutton-display: none;
		--tab-min-width: calc(48px + var(--tab-block-margin)) !important;

		:root:not([customizing]) & {
			padding-bottom: calc(var(--theme-browser-toolbox-padding) / 2) !important;
			margin: 0 !important;
		}

		&:not(:has(#tabbrowser-arrowscrollbox > tab:not([hidden]))):has(#pinned-tabs-container > tab:only-of-type),
		&:not(:has(tab-group, #pinned-tabs-container:not(:empty), tab:nth-child(2 of :not([hidden])))):has(tab:only-of-type, tab[hidden]) {
			display: contents;
		}

		> #tabbrowser-arrowscrollbox {
			background-color: var(--neptune-tabs-default-background);
			border-radius: var(--border-radius-circle);
		}

		.tabbrowser-tab {
			--tab-min-width-pref: var(--tab-min-width) !important;

			&:not([pinned], tab-group[collapsed] > &) {
				padding: calc(var(--tab-block-margin) / 2) !important;
				max-width: 100% !important;

				&:not(:nth-child(1 of :not([hidden], [pinned]))):not(tab-group:not([collapsed]) > &:first-of-type) {
					margin-inline-start: var(--space-small) !important;
				}

				&:not([fadein]) {
					max-width: 0.1px !important;
				}

				&[selected] {
					min-width: var(--theme-tab-selected-min-width) !important;
				}

				&:not([selected]):is([muted], [soundplaying], [activemedia-blocked]) {
					min-width: calc(var(--size-item-small) + var(--theme-menu-icon-size) + var(--tab-block-margin) + 2 * (var(--tab-inline-padding) + var(--tab-icon-end-margin))) !important;
				}

				&:not([multiselected-move-together], [tabdrop-samewindow], #tabbrowser-tabs[movingtab] &[fadein]:not([selected])) {
					transition-duration: 300ms !important;
				}
			}

			&[pinned] {
				padding-inline: 0 var(--tab-block-margin) !important;
			}

			&:first-of-type:not([selected], [pinned], tab-group > &:first-of-type) {
				--tab-loading-fill: transparent !important;
			}

			#tabbrowser-tabs:not(:has(tab-group, #tabbrowser-arrowscrollbox > &:not([hidden]))) > #pinned-tabs-container > &:only-of-type,
			#tabbrowser-tabs:not(:has(tab-group, #pinned-tabs-container:not(:empty), &:nth-child(2 of :not([hidden])))) :is(&:only-of-type, :has(&[hidden]) &:nth-of-type(-n+2)) {
				display: none;
			}
		}
	}

	&[orient="vertical"] {
		grid-gap: unset !important;

		.tabbrowser-tab {
			padding-block: var(--space-xsmall) !important;
		}

		&[expanded] .tabbrowser-tab {
			transition: margin-inline 150ms linear !important;

			tab-group:not([collapsed]) > & {
				margin-inline-start: calc(var(--size-item-small) + var(--tab-icon-end-margin)) !important;

				#tabbrowser-tabs:has(&[selected]) &:not([selected]) {
					margin-inline-end: calc(var(--size-item-small) + var(--tab-icon-end-margin) + (var(--tab-inline-padding) - var(--tab-inner-inline-margin))) !important;
				}
			}

			&:not([pinned], [selected], tab-group > &) {
				margin-inline-end: calc(var(--size-item-small) + var(--tab-icon-end-margin) + (var(--tab-inline-padding) - var(--tab-inner-inline-margin))) !important;
			}
		}

		&[overflow]::after {
			display: none;
		}

		#tabs-newtab-button, #vertical-tabs-newtab-button {
			margin: var(--space-xsmall) auto !important;
			border-radius: var(--border-radius-circle) !important;

			> .toolbarbutton-text {
				display: none;
			}

			#tabbrowser-tabs[expanded] & {
				width: inherit !important;
			}
		}
	}

	> #pinned-tabs-container {
		&[orient="horizontal"] {
			margin-inline-end: var(--tab-block-margin) !important;
		}

		+ #vertical-pinned-tabs-splitter {
			min-width: calc(2 * var(--default-focusring-width)) !important;
			min-height: calc(2 * var(--default-focusring-width)) !important;
			margin-inline: auto !important;
			border: none !important;
			border-radius: var(--border-radius-small) !important;
			transition: min-width 150ms linear, var(--ext-theme-background-transition);

			#vertical-tabs:hover & {
				background-color: var(--panel-separator-color) !important;

				&:hover {
					min-width: var(--size-item-small) !important;
				}
			}
		}
	}

	.tab-group-label-container {
		#tabbrowser-tabs[orient="horizontal"] tab-group > & {
			padding-inline-end: calc(var(--tab-block-margin) / 2) !important;
			margin-inline-start: calc(2 * var(--tab-block-margin)) !important;

			/*If the first tab is a tab group, keep the same start margin as a normal tab.*/
			tab-group:first-of-type > &:not(#tabbrowser-arrowscrollbox[orient="horizontal"] > tab:not([hidden]) + tab-group > &) {
				margin-inline-start: calc(var(--tab-block-margin) / 2) !important;
			}

			tab-group:not([collapsed]) > & {
				margin-inline-end: var(--tab-block-margin) !important;
			}
		}

		#tabbrowser-tabs[orient="vertical"] tab-group > & {
			margin-block: 0 !important;

			tab-group:not([collapsed]) > & {
				padding-block: 0 !important;
			}
		}

		&::after {
			display: none;
		}

		> .tab-group-label {
			line-height: var(--tab-group-label-height) !important;
			border-radius: var(--border-radius-circle) !important;
			outline: none !important;
			transition: background-color 200ms ease-out, color 100ms ease-out;

			tab-group[collapsed] > .tab-group-label-container > & {
				background-color: light-dark(color-mix(in srgb, var(--tab-group-color) 25%, transparent), color-mix(in srgb, var(--tab-group-color-invert) 35%, transparent)) !important;

				#tabbrowser-tabs[movingtab] &:active {
					backdrop-filter: blur(2em);
				}
			}

			#tabbrowser-tabs[orient="horizontal"] & {
				padding-inline: var(--tab-inline-padding) !important;
			}

			#tabbrowser-tabs[orient="vertical"] & {
				height: var(--tab-group-label-height) !important;
				margin-block: var(--space-xsmall) !important;
			}

			#tabbrowser-tabs[orient="vertical"][expanded] & {
				-moz-context-properties: fill;
				min-width: -moz-available !important;
				padding-inline-start: calc(var(--size-item-small) + var(--tab-icon-end-margin) + (var(--tab-inline-padding) - var(--tab-inner-inline-margin))) !important;
				background: url("../assets/icons/tab-group.svg") no-repeat calc(var(--tab-inline-padding) - var(--tab-inner-inline-margin)) transparent !important;
				color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
				fill: light-dark(var(--tab-group-color), var(--tab-group-color-invert));
				text-align: left !important;

				tab-group[collapsed] > .tab-group-label-container > & {
					background: url("../assets/icons/tab-group-collapsed.svg") no-repeat calc(var(--tab-inline-padding) - var(--tab-inner-inline-margin)) !important;
					color: inherit !important;

					#tabbrowser-tabs[movingtab] & {
						background-color: light-dark(color-mix(in srgb, var(--tab-group-color) 25%, transparent), color-mix(in srgb, var(--tab-group-color-invert) 35%, transparent)) !important;
					}
				}
			}

			#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
				width: var(--tab-group-label-height) !important;
				max-width: unset !important;
				margin-inline: var(--tab-inner-inline-margin) !important;
			}
		}
	}

	.tab-group-line {
		background-color: transparent !important;
		inset-block: 0 !important;
		border-radius: var(--border-radius-circle) !important;

		#tabbrowser-tabs[orient="horizontal"] & {
			height: var(--tab-min-height) !important;
			inset-inline: 0 !important;
		}

		#tabbrowser-tabs[orient="vertical"] & {
			width: auto !important;
			inset-inline: var(--tab-inner-inline-margin) !important;
		}

		#tabbrowser-tabs[movingtab]:not([movingtab-createGroup], [movingtab-ungroup]) .tabbrowser-tab:is(:active, [multiselected]) > .tab-stack > .tab-background > & {
			background-color: light-dark(color-mix(in srgb, var(--dragover-tab-group-color) 20%, transparent), color-mix(in srgb, var(--dragover-tab-group-color) 25%, transparent)) !important;
			backdrop-filter: blur(1em);
		}
	}
}

.tabbrowser-tab {
	--tab-label-mask-size: 0 !important;
	--tab-icon-end-margin: inherit !important;

	.tab-background {
		background-color: transparent !important;
		margin-block: 0 !important;
		border-radius: var(--border-radius-circle) !important;
		outline: none !important;
		transition: var(--ext-theme-background-transition), box-shadow 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

		#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[pinned] > .tab-stack > & {
			min-height: var(--tabstrip-min-height) !important;
		}

		#tabbrowser-tabs[orient="vertical"] & {
			box-shadow: none !important;
		}

		&[selected]:not([multiselected], #tabbrowser-tabs[movingtab]:not([movingtab-createGroup], [movingtab-ungroup]) tab:active > .tab-stack > &) {
			background-color: var(--neptune-tab-selected-background) !important;

			#pinned-tabs-container[orient="horizontal"] & {
				background-color: var(--neptune-pinned-tab-selected-background) !important;
				box-shadow: none !important;
			}

			#tabbrowser-tabs[orient="vertical"] & {
				background-color: var(--neptune-verticaltab-selected-background) !important;
			}

			tab-group:not([collapsed]) > .tabbrowser-tab > .tab-stack > & {
				background-color: light-dark(color-mix(in srgb, var(--tab-group-color) 15%, var(--lwt-accent-color, transparent)), color-mix(in srgb, var(--tab-group-color-invert) 20%, transparent)) !important;

				#tabbrowser-tabs[orient="horizontal"] & {
					box-shadow: inset -0.35px 0.65px 0.45px color-mix(in srgb, var(--tab-group-color) 20%, var(--lwt-accent-color)), inset -0.35px -0.65px 0.45px 0.25px color-mix(in srgb, var(--tab-group-color) 25%, var(--lwt-accent-color)), 0 0 0 2px var(--neptune-content-border-color) !important;

					@media (prefers-color-scheme: dark) {
						box-shadow: inset -0.35px 0.65px 0.45px color-mix(in srgb, var(--tab-group-color-invert) 20%, var(--lwt-accent-color)), inset -0.35px -0.65px 0.45px 0.25px color-mix(in srgb, var(--tab-group-color-invert) 25%, var(--lwt-accent-color)), 0 0 0 2px var(--neptune-content-border-color) !important;
					}
				}
			}

			tab[usercontextid] > .tab-stack > & {
				background-color: color-mix(in srgb, var(--identity-tab-color) 15%, var(--lwt-accent-color, transparent)) !important;

				#tabbrowser-tabs[orient="horizontal"] & {
					box-shadow: inset -0.35px 0.65px 0.45px color-mix(in srgb, var(--identity-tab-color) 20%, var(--lwt-accent-color)), inset -0.35px -0.65px 0.45px 0.25px color-mix(in srgb, var(--identity-tab-color) 25%, var(--lwt-accent-color)), 0 0 0 2px var(--neptune-content-border-color) !important;
				}

				#tabbrowser-tabs[orient="vertical"] & {
					background-color: color-mix(in srgb, var(--identity-tab-color) 15%, transparent) !important;
				}
			}

			#tabbrowser-tabs[movingtab-createGroup] tab > .tab-stack > & {
				background-color: light-dark(color-mix(in srgb, var(--dragover-tab-group-color) 20%, transparent), color-mix(in srgb, var(--dragover-tab-group-color-invert) 25%, transparent)) !important;
				box-shadow: none !important;
			}

			#tabbrowser-tabs[movingtab] tab:active > .tab-stack > & {
				backdrop-filter: blur(1em);
			}
		}

		&:not([selected], [multiselected]) {
			background-color: inherit !important;

			#pinned-tabs-container[orient="horizontal"] & {
				background-color: var(--neptune-pinned-tab-background) !important;
							
				tab:hover & {
					background-color: var(--neptune-pinned-tab-hover-background) !important;
				}
			}

			#tabbrowser-tabs[orient="horizontal"][movingtab] &:not(tab-group > tab &) {
				background-color: var(--neptune-tab-background) !important;
			}

			tab-group:not([collapsed]) > tab > .tab-stack > & {
				background-color: light-dark(color-mix(in srgb, var(--tab-group-color) 5%, var(--lwt-accent-color, transparent)), color-mix(in srgb, var(--tab-group-color-invert) 8%, var(--lwt-accent-color, transparent))) !important;

				tab:hover & {
					background-color: light-dark(color-mix(in srgb, var(--tab-group-color) 10%, var(--lwt-accent-color, transparent)), color-mix(in srgb, var(--tab-group-color-invert) 15%, var(--lwt-accent-color, transparent))) !important;
				}
			}

			tab:hover & {
				background-color: var(--neptune-tab-hover-background) !important;
			}

			#tabbrowser-tabs[orient="vertical"] &:not(tab[usercontextid] > .tab-stack > &):not(tab-group:not([collapsed]) .tabbrowser-tab > .tab-stack > &) {
				background-color: var(--neptune-verticaltab-background) !important;

				.tabbrowser-tab[pinned] > .tab-stack > & {
					background-color: var(--neptune-verticaltab-pinned-background) !important;
				}

				tab:hover & {
					background-color: var(--neptune-verticaltab-hover-background) !important;
				}
			}

			tab[usercontextid] > .tab-stack > & {
				background-color: color-mix(in srgb, var(--identity-tab-color) 6%, transparent) !important;

				tab:hover & {
					background-color: color-mix(in srgb, var(--identity-tab-color) 8%, transparent) !important;
				}
			}

			.tabbrowser-tab:is([muted], [soundplaying], [activemedia-blocked]):not(:is(#tabbrowser-tabs[orient="vertical"][expanded], #tabbrowser-tabs[orient="horizontal"]) .tabbrowser-tab:not([pinned]):is([muted], [soundplaying], [activemedia-blocked])) &:not(tab:hover &) {
				background-color: var(--neptune-tab-soundplaying-background) !important;
				animation: var(--tab-sharing-icon-animation) -1s;

				tab-group:not([collapsed]) > .tabbrowser-tab > .tab-stack > &:not(#tabbrowser-tabs[orient="vertical"][expanded] &) {
					background-color: light-dark(color-mix(in srgb, var(--tab-group-color) 30%, transparent), color-mix(in srgb, var(--tab-group-color-invert) 35%, transparent)) !important;
				}
			}
		}

		&[multiselected] {
			background-color: var(--neptune-tab-multiselected-background) !important;
			box-shadow: none !important;
			animation: 2s linear tab-sharing-icon-pulse infinite;

			#tabbrowser-tabs[movingtab-createGroup] tab > .tab-stack > & {
				background-color: light-dark(color-mix(in srgb, var(--dragover-tab-group-color) 20%, transparent), color-mix(in srgb, var(--dragover-tab-group-color-invert) 25%, transparent)) !important;
			}
		}

		> .tab-context-line {
			display: none;
		}
	}

	.tab-content {
		font-size: 12.5px;

		:root:not([uidensity="compact"]) #tabbrowser-tabs[orient="horizontal"] tab &[pinned] {
			padding-inline: var(--tab-inline-padding) !important;
		}

		#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[pictureinpicture] & {
			font-size: 0.88em;

			> .tab-label-container > .tab-label {
				line-height: calc(var(--tab-min-height) / 2) !important;
			}
		}

		> .tab-label-container {
			height: inherit !important;

			#tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
				max-width: min-content;
				margin-inline-end: auto;
				padding-inline-end: calc(var(--theme-menu-icon-size) + var(--tab-inline-padding));

				tab:is([muted], [soundplaying], [activemedia-blocked]) & {
					padding-inline-end: calc(var(--tab-inline-padding) - var(--tab-icon-end-margin));
				}

				> .tab-label {
					width: calc(100% + var(--theme-menu-icon-size));
				}
			}

			> .tab-label {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> .tab-secondary-label {
				margin-block: 0 !important;
				font-size: 9px !important;
			}

			#tabbrowser-tabs[orient="horizontal"][overflow] tab:not([selected]) & {
				display: none;
			}
		}

		> .tab-audio-button {
			--button-size-icon-small: var(--icon-size-default) !important;
			--button-min-height-small: min(var(--tab-min-height), var(--size-item-medium)) !important;
			--button-icon-fill: var(--toolbarbutton-icon-fill-attention) !important;
			--button-background-color-ghost-hover: transparent !important;
			--button-background-color-ghost-active: transparent !important;
			margin-inline: var(--tab-icon-end-margin) 0 !important;
			order: 1;
		}

		> .tab-icon-stack {
			#tabbrowser-tabs[orient="horizontal"] .tab-content > & {
				&:not([pinned], #tabbrowser-tabs[overflow] &:not([selected])) {
					margin-inline-start: var(--tab-inline-padding);
				}

				> .tab-icon-image:not([src], [busy]) {
					display: revert !important;
				}
			}

			#tabbrowser-tabs[orient="horizontal"][overflow] tab:not([selected], [pinned], [muted], [soundplaying], [activemedia-blocked]) .tab-content > & > * {
				margin-inline: calc((var(--tab-min-width-pref) - var(--size-item-small) - var(--tab-block-margin)) / 2 - var(--tab-inline-padding)) !important;
			}

			tab:not(#tabbrowser-tabs[movingtab] tab):hover .tab-content:not(:is(#tabbrowser-tabs[orient="vertical"]:not([expanded]), #tabbrowser-tabs[orient="horizontal"] tab) .tab-content) > &:not([pinned]),
			tab:not(#tabbrowser-tabs[movingtab]:not(#tabbrowser-tabs[orient="vertical"]:not([expanded])[movingtab]) tab:not([pinned]), #tabbrowser-tabs[orient="horizontal"] tab:not([pinned])):is([muted], [soundplaying], [activemedia-blocked]):hover .tab-content > & > :is(.tab-icon-image, .tab-throbber) {
				display: none;
			}

			> .tab-icon-image {
				fill: var(--toolbarbutton-icon-fill) !important;
				border-radius: var(--border-radius-medium);

				tab:is([label="New Tab"], [label="New Private Tab"]) & {
					content: url("../assets/icons/favicon.svg");
				}

				tab[label="Customize Firefox"] & {
					content: url("../assets/icons/customize.svg");
				}

				tab[label="Add-ons Manager"] & {
					content: url("../assets/icons/extension.svg");
				}

				tab[label="Passwords"] & {
					content: url("../assets/icons/login.svg");
				}

				tab[label="About Profiles"] & {
					content: var(--avatar-image-url);
				}
			}

			> .tab-icon-overlay {
				inset: auto !important;
				fill: var(--toolbarbutton-icon-fill-attention) !important;

				:is(#tabbrowser-tabs[orient="vertical"]:not([expanded]), [pinned]) &:is([soundplaying], [muted], [activemedia-blocked]) {
					display: none;

					tab:hover & {
						display: revert;
						animation: urlbar-zoom-reset-pulse 250ms ease-in-out;
					}
				}
			}
		}

		> .tab-close-button {
			background-color: var(--neptune-button-field-color) !important;
			fill: Field !important;
			border-radius: var(--border-radius-small) !important;
			order: -1;

			#tabbrowser-tabs[orient="horizontal"] & {
				margin-inline-end: auto !important;
				visibility: hidden;

				tab:hover & {
					visibility: visible;
					animation: tab-hover-preview-fadein 0.3s ease-in-out both;
				}
			}

			#tabbrowser-tabs[orient="vertical"] & {
				margin-inline-end: calc(var(--tab-icon-end-margin) + 4px) !important;
				display: none;

				tab:not(#tabbrowser-tabs[movingtab] tab):hover &:not([pinned], #tabbrowser-tabs[orient="vertical"]:not([expanded]) tab:is([muted], [soundplaying], [activemedia-blocked]) &) {
					display: revert !important;
					animation: tab-hover-preview-fadein 0.3s ease-in-out both;
				}
			}

			#tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
				list-style-image: url("../assets/icons/minus.svg") !important;
				background-image: none !important;
				background-color: light-dark(#ff6f61, #f0c05a) !important;
				padding: var(--toolbarbutton-outer-padding) !important;
				inset: calc(-1 * var(--space-xsmall)) var(--space-xsmall) !important;
				box-shadow: none !important;
				outline: none !important;
				border-radius: var(--border-radius-large) !important;

				tab-group:not([collapsed]) > .tabbrowser-tab & {
					background-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
				}

				.tabbrowser-tab:is([muted], [soundplaying], [activemedia-blocked]) & {
					display: none !important;
				}
			}

			&:hover {
				background-color: var(--neptune-button-field-hover-color) !important;

				&:active {
					background-color: currentColor !important;
				}
			}
		}

		.tabbrowser-tab[pending] & {
			color: var(--text-color-disabled);
			transition: color 1s linear;
		}
	}
}

.all-tabs-item {
	&[selected]:not(:hover) {
		font-weight: unset !important;
		background-color: var(--button-background-color);
	}

	> .all-tabs-secondary-button {
		background-color: transparent !important;

		&:hover {
			fill: var(--color-accent-primary-hover) !important;
		}
	}
}

.tab-group-editor-panel {
	--panel-padding: var(--space-small) var(--space-medium) !important;
	--button-border: none !important;
	--button-min-height-small: var(--button-min-height) !important;
	--icon-size-default: var(--theme-menu-icon-size) !important;
	--button-label-directiony: start;

	.panel-header {
		padding: 0 !important;

		> h1 {
			margin-block: var(--space-xsmall) !important;
		}
	}

	.tab-group-editor-name, .tab-group-editor-swatches {
		padding-block: var(--panel-subview-body-padding-block) !important;
		margin-inline: var(--arrowpanel-menuitem-margin-inline);
	}

	.tab-group-editor-swatch {
		border-radius: var(--border-radius-circle) !important;
	}

	toolbarseparator {
		margin: var(--arrowpanel-menuitem-margin-inline) !important;
	}
}

.tab-preview-text-container {
	padding: var(--space-medium) !important;
	order: 1;
}

.tab-preview-thumbnail-container {
	border: none !important;
}

#scrollbutton-up, #scrollbutton-down { 
	border-radius: var(--border-radius-circle) !important;
	/*display: var(--scrollbutton-display, inherit);*/
}