/*---------- Toolbox ----------*/
#navigator-toolbox {
	border: none !important;

	&.fullscreen-with-menubar {
		box-shadow: none !important;
	}

	#nav-bar {
		background-color: transparent !important;
		padding: var(--nept-browser-toolbox-padding) 0 var(--nept-browser-toolbox-padding) calc(var(--window-controls-size) + var(--toolbar-start-end-padding) + var(--toolbarbutton-outer-padding)) !important;
		border: none !important;

		:root[inFullscreen] & {
			padding-inline-start: var(--space-xsmall) !important;
		}

		:root[taskbartab] & > .titlebar-spacer[type="post-tabs"] {
			display: none;
		}

		@media not -moz-pref("sidebar.verticalTabs") {
			:root[privatebrowsingmode="temporary"] & {
				padding-inline-start: calc(var(--window-controls-size) + var(--size-item-large) + 2 * var(--toolbar-start-end-padding) + var(--toolbarbutton-outer-padding)) !important;
			}
		}

		> #nav-bar-customization-target:not(#widget-overflow-fixed-list) {
			:root[customizing] & {
				animation: emeTeachingMoment 1s linear infinite;
			}

			@media (min-width: 770px) {
				toolbarpaletteitem[place=toolbar][id^=wrapper-customizableui-special-spring],
				toolbarspring {
					max-width: 100% !important;

					&:where(:not(#vertical-spacer)) {
						flex-grow: 400 !important;
					}

					@media (-moz-platform: macos) {
						&:not(#vertical-spacer, #urlbar-container ~ toolbarspring) {
							#nav-bar:not([customizing]) & {
								flex-grow: 240 !important;
							}

							#nav-bar:not([customizing]):is([downloadsbuttonshown], [unifiedextensionsbuttonshown]) & {
								flex-grow: 280 !important;
							}

							#nav-bar:not([customizing])[downloadsbuttonshown][unifiedextensionsbuttonshown] & {
								flex-grow: 320 !important;
							}
						}
					}
				}
			}

			> toolbarpaletteitem[place="toolbar"] > toolbarspring {
				margin-block: 0 !important;
			}

			/* Remove the spacer from the toolbar in vertical layout. */
			> :is(#vertical-spacer, #wrapper-vertical-spacer) {
				display: none;
			}
		}
	}

	@media (-moz-platform: macos) {
		.titlebar-buttonbox-container {
			position: absolute;
			inset-block-start: calc(var(--nept-browser-toolbox-padding) + (var(--urlbar-min-height) - 16px) / 2);
			inset-inline-start: var(--space-small);
		}
	}

	#TabsToolbar {
		will-change: unset !important;
		min-height: unset !important;
		min-width: unset !important;

		@media not -moz-pref("sidebar.verticalTabs") {
			--toolbarbutton-inner-padding: inherit !important;
			order: 1;

			> .titlebar-spacer {
				width: calc(var(--size-item-small) / 2) !important;
				display: inherit !important;
			}
		}

		@media -moz-pref("sidebar.verticalTabs") {
			display: contents;
		}
	}

	#PersonalToolbar {
		--toolbarbutton-inner-padding: var(--toolbarbutton-outer-padding) !important;
		background-color: transparent !important;
		outline-color: var(--border-color-deemphasized) !important;
		transition-duration: 300ms !important;

		> #personal-bookmarks > #PlacesToolbar > #PlacesToolbarItems:has(+ #PlacesChevron[collapsed]) {
			justify-content: center;
		}

		> #personal-bookmarks > #PlacesToolbar > .toolbarbutton-1 {
			margin-block: auto var(--bookmark-block-padding) !important;
		}

		toolbarbutton.bookmark-item:not(.subviewbutton) {
			:root:not([customizing]) & {
				padding: 0 calc(2 * var(--bookmark-block-padding)) !important;
				margin: 0 0 calc(2 * var(--bookmark-block-padding)) !important;
			}

			> .toolbarbutton-icon[type="menu"] {
				display: none;	/* Hide the folder icon on the bookmarks bar. */
			}
		}
	}

	.browser-toolbar:not(.browser-titlebar) {
		background-color: inherit !important;

		.notificationbox-stack > .infobar {
			--button-size-icon-small: 20px !important;
			--button-min-height-small: 20px !important;
			--button-min-height: 20px !important;
			--button-border-radius: var(--border-radius-large) !important;
			--message-bar-border-width: 0 !important;
			--message-bar-border-radius: var(--border-radius-circle) !important;
			--message-bar-icon-close-url: url("resource://content-accessible/close-12.svg") !important;
			background-color: var(--nept-tabs-default-background) !important;
			margin-inline: var(--space-medium) !important;
			box-shadow: none !important;

			&::before {
				content: none !important;
			}
		}
	}
}

#customization-container {
	background-image: none !important;
	background-color: var(--toolbox-bgcolor) !important;

	#customization-panelWrapper {
		> .panel-arrowcontent {
			border-color: var(--in-content-box-border-color) !important;
			border-radius: var(--arrowpanel-border-radius) !important;
			box-shadow: var(--nept-menu-shadow) !important;
		}

		> .panel-arrowbox > .panel-arrow[side="top"] {
			stroke: var(--in-content-box-border-color) !important;
		}
	}
}

#browser {
 	:root[lwtheme] &:not(.browser-toolbox-background) {
		background-color: transparent !important;
 	}

	> #tabbrowser-tabbox {
		clip-path: var(--in-content-clip-path);

		.browserContainer {
			@media -moz-pref("sidebar.revamp") {
				outline: none !important;
				box-shadow: none !important;
			}

			#statuspanel #statuspanel-label {
				background-color: var(--background-color-canvas) !important;
				border: none !important;
				border-radius: 0 var(--border-radius-xsmall) var(--border-radius-xsmall) 0;
				backdrop-filter: blur(6px);
			}
		}

		> #tabbrowser-tabpanels[splitview] {
			:root:not([inDOMFullscreen]) & > .split-view-panel:not(.deck-selected) {
				overflow: unset !important;
			}

			> .split-view-panel {
				&[column="0"] {
					margin: 0 var(--space-small) 0 0 !important;

					> .browserContainer {
						@media not -moz-pref("sidebar.verticalTabs") {
							border-radius: 0 var(--border-radius-xlarge) 0 0 !important;
						}

						@media -moz-pref("sidebar.verticalTabs") {
							border-radius: var(--border-radius-xlarge) var(--border-radius-xlarge) 0 0 !important;
						}
					}
				}

				&[column="1"] {
					margin: 0 0 0 var(--space-small) !important;

					> .browserContainer {
						border-radius: var(--border-radius-xlarge) 0 0 0 !important;
					}
				}

				split-view-footer {
					--icon-size: var(--size-item-xsmall) !important;
					background-color: var(--background-color-canvas) !important;
					padding-block: 0 !important;
					border-inline: none !important;
					border-block: none !important;
					border-end-start-radius: var(--border-radius-medium) !important;
					border-end-end-radius: 0 !important;
					backdrop-filter: blur(6px);

					> .split-view-uri {
						display: none;
					}

					> toolbarbutton {
						appearance: none !important;
						padding: var(--toolbarbutton-outer-padding) !important;

						&:where(:hover) {
							color: var(--color-accent-primary-hover) !important;
						}

						&:where(:hover:active, [checked="true"], [open="true"]) {
							color: var(--color-accent-primary-active) !important;
						}
					}
				}
			}

			> .split-view-splitter {
				background-color: var(--panel-separator-color) !important;
				min-width: calc(2 * var(--default-focusring-width)) !important;
				border: none !important;
				border-radius: var(--border-radius-xsmall) !important;
				height: var(--size-item-large);
				margin-block: auto;
				transition: background-color 500ms ease-in-out;

				&:hover {
					background-color: var(--border-color) !important;
					animation: splitter-V-pulsing 1s ease-in-out infinite;

					&:active {
						animation-play-state: paused;
					}
				}
			}
		}
	}
}

findbar {
	background-color: transparent !important;
	border: none !important;
	padding-block: 0 var(--space-xsmall) !important;
	order: -1;

	@media (-moz-platform: macos) {
		flex-direction: row-reverse;
	}

	&:where([hidden]) {
		margin-bottom: calc(-1 * (var(--size-item-small) + 2 * var(--border-width) + var(--space-xsmall) + 6px)) !important;
	}

	> .findbar-container {
		height: calc(var(--size-item-small) + 2 * var(--border-width) + 6px) !important;
		margin-inline: 0 !important;
		flex-direction: row-reverse;

		> checkbox {
			margin-inline: 0 var(--space-medium) !important;

			> .checkbox-check,
			&:has(~ .found-matches[hidden] ~ .findbar-find-status:not([status="notfound"])) {
				display: none;
			}

			> .checkbox-label-box > .checkbox-label {
				padding-inline: var(--space-medium);
				background-color: var(--button-background-color);
				border-radius: var(--border-radius-large);

				&:hover {
					background-color: var(--button-background-color-hover);
				}

				checkbox[checked="true"] & {
					background-color: var(--button-background-color-primary-active);
					color: var(--button-text-color-primary);
				}
			}
		}

		.findbar-textbox {
			width: 14em !important;
			padding: 0 var(--space-small) !important;
			background-color: transparent !important;
			border-color: var(--border-color-deemphasized) !important;
			border-radius: var(--border-radius-large) !important;
		}

		.findbar-find-next,
		.findbar-find-previous {
			padding: 0 var(--toolbarbutton-outer-padding) !important;
			border: 1px solid var(--border-color-deemphasized);
		}

		.findbar-find-next {
			list-style-image: url("../assets/icons/arrow-right.svg") !important;
			border-left-width: 0.5px;
			border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0 !important;
		}

		.findbar-find-previous {
			list-style-image: url("../assets/icons/arrow-left.svg") !important;
			border-right-width: 0.5px;
			border-radius: var(--border-radius-large) 0 0 var(--border-radius-large) !important;
		}

		> :is(.findbar-find-status, .found-matches) {
			margin-inline: 0 var(--space-large) !important;
		}
	}

	> .findbar-closebutton {
		width: 42px !important;
		padding: 0 var(--toolbarbutton-outer-padding) !important;
		margin-block: auto !important;
		list-style-image: url("../assets/icons/done.svg") !important;
		border: var(--border-width) solid var(--border-color-deemphasized);
		border-radius: var(--border-radius-large) !important;
	}
}