/*---------- Toolbox ----------*/
#browser:not(.browser-toolbox-background) {
	background-color: transparent !important;
}

#navigator-toolbox {
	border: none !important;

	#nav-bar {
		background-color: transparent !important;
		padding: var(--theme-browser-toolbox-padding) 0 var(--theme-browser-toolbox-padding) calc(76px + var(--toolbar-start-end-padding) + var(--toolbarbutton-outer-padding)) !important;
		border: none !important;

		:root[inFullscreen] & {
			padding-inline-start: var(--space-xsmall) !important;
		}

		@media not -moz-pref("sidebar.verticalTabs") {
			:root[privatebrowsingmode=temporary] & {
				padding-inline-start: calc(76px + var(--size-item-large) + 2 * var(--toolbar-start-end-padding) + var(--toolbarbutton-outer-padding)) !important;
			}
		}

		> #nav-bar-customization-target:not(#widget-overflow-fixed-list) {
			:root[customizing] & {
				animation: emeTeachingMoment 1s linear infinite;
			}

			> toolbarpaletteitem[place=toolbar][id^=wrapper-customizableui-special-spring], toolbarspring:not(#vertical-spacer) {
				max-width: 100% !important;

				#nav-bar & {
					flex-grow: 400 !important;
				}
			}

			 > toolbarpaletteitem[place="toolbar"] > toolbarspring {
				margin-block: 0 !important;
			}

			> :is(#wrapper-vertical-spacer, #vertical-spacer) {
				display: none;	/* Remove the spacer from the toolbar in vertical layout. */
			}
		}
	}

	@media (-moz-platform: macos) {
		.titlebar-buttonbox-container {
			position: absolute;
			inset-block-start: calc(var(--theme-browser-toolbox-padding) + (var(--urlbar-min-height) - 16px) / 2);
			inset-inline-start: 0;

			> .titlebar-buttonbox {
				margin-inline-start: calc(var(--space-xlarge) + 1px) !important;
			}
		}
	}

	#TabsToolbar {
		min-height: unset !important;

		@media not -moz-pref("sidebar.verticalTabs") {
			--toolbarbutton-inner-padding: inherit !important;
			order: 1;

			> .titlebar-spacer {
				width: calc(var(--size-item-small) / 2) !important;
				display: revert !important;
			}
		}

		@media -moz-pref("sidebar.verticalTabs") {
			display: contents;
		}
	}

	#PersonalToolbar {
		--toolbarbutton-inner-padding: var(--toolbarbutton-outer-padding) !important;
		background-color: transparent !important;
		outline-color: var(--border-color-deemphasized) !important;
		transition-duration: 300ms !important;

		> #personal-bookmarks > #PlacesToolbar > #PlacesToolbarItems:has(+ #PlacesChevron[collapsed]) {
			justify-content: center;
		}

		.toolbarbutton-1 {
			margin-block: auto calc(2 * var(--bookmark-block-padding)) !important;

			> .toolbarbutton-icon {
				padding: 0 !important;
				width: var(--size-item-small) !important;
				height: var(--size-item-small) !important;
			}
		}

		toolbarbutton.bookmark-item:not(.subviewbutton) {
			:root:not([customizing]) & {
				padding: 0 calc(2 * var(--bookmark-block-padding)) !important;
				margin: 0 0 calc(2 * var(--bookmark-block-padding)) !important;
			}

			> .toolbarbutton-icon[type="menu"] {
				display: none;	/* Hide the folder icon on the bookmarks bar. */
			}
		}
	}

	.browser-toolbar:not(.browser-titlebar) {
		background-color: inherit !important;

		.notificationbox-stack > .infobar {
			--icon-size-default: var(--theme-menu-icon-size) !important;
			--button-size-icon-small: 20px !important;
			--button-min-height-small: 20px !important;
			--button-border-radius: var(--border-radius-large) !important;
			--message-bar-container-min-height: 28px !important;
			--message-bar-border-width: 0 !important;
			--message-bar-border-radius: var(--border-radius-circle) !important;
			background-color: var(--neptune-tabs-default-background) !important;
			margin-inline: var(--space-medium) !important;
			box-shadow: none !important;

			&::before {
				background-image: none !important;
			}
		}
	}
}

#customization-container {
	background-image: none !important;
	background-color: var(--toolbox-bgcolor) !important;

	#customization-panelWrapper {
		> .panel-arrowcontent {
			border-color: var(--in-content-box-border-color) !important;
			border-radius: var(--arrowpanel-border-radius) !important;
			box-shadow: var(--neptune-menu-shadow) !important;
		}

		> .panel-arrowbox > .panel-arrow[side="top"] {
			stroke: var(--in-content-box-border-color) !important;
		}
	}
}

findbar {
	background-color: transparent !important;
	border: none !important;
	padding-block: 0 var(--space-xsmall) !important;
	order: -1;

	@media (-moz-platform: macos) {
		flex-direction: row-reverse;
	}

	&:where([hidden]) {
		margin-bottom: calc(-1 * (var(--size-item-small) + 2 * var(--border-width) + var(--space-xsmall) + 6px)) !important;
	}

	> .findbar-container {
		height: calc(var(--size-item-small) + 2 * var(--border-width) + 6px) !important;
		margin-inline: 0 !important;
		flex-direction: row-reverse;

		> checkbox {
			margin-inline: 0 var(--space-medium) !important;

			&:has(~ .found-matches[hidden] ~ .findbar-find-status:not([status="notfound"])), > .checkbox-check {
				display: none;
			}

			> .checkbox-label-box > .checkbox-label {
				padding-inline: var(--space-medium);
				border: 1px solid var(--border-color-deemphasized);
				border-radius: var(--border-radius-large);

				&:hover {
					background-color: var(--button-background-color-hover);
				}

				checkbox[checked="true"] & {
					background-color: var(--button-background-color-primary-active);
					color: var(--button-text-color-primary);
				}
			}
		}

		.findbar-textbox {
			width: 14em !important;
			padding: 0 var(--space-small) !important;
			background-color: transparent !important;
			border-color: var(--border-color-deemphasized) !important;
			border-radius: var(--border-radius-large) !important;
		}

		:is(.findbar-find-next, .findbar-find-previous) {
			padding: 0 var(--toolbarbutton-outer-padding) !important;
			border: 1px solid var(--border-color-deemphasized);
		}

		.findbar-find-next {
			list-style-image: url("../assets/icons/arrow-right.svg") !important;
			margin-left: calc(-1 * var(--border-width)) !important;
			border-left: none;
			border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0 !important;
		}

		.findbar-find-previous {
			list-style-image: url("../assets/icons/arrow-left.svg") !important;
			border-radius: var(--border-radius-large) 0 0 var(--border-radius-large) !important;
		}

		> :is(.findbar-find-status, .found-matches) {
			margin-inline: 0 var(--space-large) !important;
		}
	}

	> .findbar-closebutton {
		width: 42px !important;
		padding: 0 var(--toolbarbutton-outer-padding) !important;
		margin-block: auto !important;
		list-style-image: url("../assets/icons/done.svg") !important;
		border: var(--border-width) solid var(--border-color-deemphasized);
		border-radius: var(--border-radius-large) !important;
	}
}