/*---------- Urlbar ----------*/
:root {
	--urlbar-container-min-width: 320px !important;

	@media (max-width: 770px) {
		--urlbar-container-min-width: 155px !important;
	}

	@media (max-width: 550px) {
		--urlbar-container-min-width: 101px !important;
	}
}

#urlbar-container,
#search-container {
	padding-block: 0 !important;
}

#searchbar,
.urlbar-background {
	background-color: var(--nept-urlbar-background) !important;
	border: none !important;
	border-radius: var(--border-radius-circle) !important;
}

.urlbar {
	height: var(--urlbar-height) !important;
	width: var(--urlbar-width) !important;
	margin: 0 !important;
	font-size: var(--default-font-size) !important;
	transition: opacity var(--inactive-window-transition);

	:root[customtitlebar] .browser-titlebar &:popover-open {
		will-change: unset !important;
	}

	&:-moz-window-inactive {
		opacity: var(--inactive-titlebar-opacity);
	}

	> .urlbar-background {
		animation: none !important;

		&:not(:-moz-window-inactive, .urlbar[open] > &) {
			box-shadow: var(--nept-urlbar-inner-shadow-A) !important;
			transition: var(--ext-theme-background-transition), box-shadow 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
		}

		.urlbar:hover > & {
			background-color: var(--nept-urlbar-hover-background) !important;
		}

		.urlbar:is([focused], [open]) > & {
			background-color: var(--nept-urlbar-focused-background) !important;
		}
	}

	> .urlbar-input-container {
		padding: 0 !important;
		border: none !important;
		border-radius: var(--border-radius-circle) !important;

		.urlbar:not([focused]) > & > .urlbar-input-box > .urlbar-input {
			text-align: center !important;
		}

		@media -moz-pref("browser.urlbar.trustPanel.featureGate") {
			> :is(#urlbar-label-box, .urlbar-input-box) {
				margin-inline-start: 0 !important;
			}

			> #trust-icon-container {
				height: auto !important;
				border-radius: var(--border-radius-xlarge) 0 0 var(--border-radius-xlarge) !important;

				&:where(.insecure) {
					list-style-image: url("../assets/icons/trust-icon-insecure.svg") !important;
				}

				&.secure {
					list-style-image: url("../assets/icons/trust-icon-active.svg") !important;
				}

				&.inactive {
					list-style-image: url("../assets/icons/trust-icon-disabled.svg") !important;
				}

				&.warning {
					list-style-image: url("../assets/icons/trust-icon-warning.svg") !important;
				}

				> #trust-label {
					display: none;
				}
			}
		}

		> #urlbar-search-mode-indicator {
			margin-inline: 0 !important;
			padding-inline: var(--urlbar-icon-padding) !important;
			font-size: var(--urlbarView-small-font-size);
		}

		> .searchmode-switcher {
			margin-inline: 0 !important;
			border-radius: var(--border-radius-large) 0 0 var(--border-radius-large) !important;

			&[open] {
				background-color: var(--nept-item-active-background) !important;
			}

			> .searchmode-switcher-dropmarker {
				margin-inline-start: var(--urlbar-icon-padding) !important;
				display: none;
			}
		}

		> .searchmode-switcher-chicklet {
			margin-inline: 0 !important;
			font-size: var(--urlbarView-small-font-size);

			> .searchmode-switcher-close {
				border-radius: var(--border-radius-medium) !important;
			}
		}

		> #urlbar-label-box,
		> #identity-box:is([pageproxystate="valid"], [pageproxystate="invalid"]) > .identity-box-button {
			padding-inline: var(--urlbar-icon-padding) !important;
			border-radius: var(--border-radius-circle) !important;
		}

		> #page-action-buttons > #urlbar-zoom-button {
			background-color: var(--button-background-color-primary) !important;
			color: var(--button-text-color-primary)  !important;
			margin-inline: var(--urlbar-icon-padding) !important;
			padding-block: var(--urlbar-container-padding) !important;
			border-radius: var(--border-radius-large) !important;

			&:hover {
				background-color: var(--button-background-color-primary-hover) !important;

				&:active {
					background-color: var(--button-background-color-primary-active) !important;
				}
			}
		}

		> .urlbar-go-button {
			display: none;
		}
	}
}

.urlbarView {
	color-scheme: light dark;
	width: calc(100% + var(--space-xlarge)) !important;
	margin-inline: calc(-1 * var(--space-medium)) !important;
	margin-block-start: var(--space-small);
	border-inline: none !important;
	border-radius: var(--border-radius-xlarge);
	background-color: var(--nept-secondary-background);
	backdrop-filter: saturate(1.5) blur(3em);
	color: MenuText;
	box-shadow: var(--nept-small-shadow), var(--nept-menu-shadow) !important;

	> .urlbarView-body-outer > .urlbarView-body-inner {
		width: inherit !important;
		margin-inline: 0 !important;
		border: none !important;
	}

	> .search-one-offs:not([hidden]) {
		width: calc(100% - 2 * (var(--urlbarView-item-block-padding) + var(--urlbarView-favicon-margin-start) + var(--border-width))) !important;
		margin-inline: auto;
		display: none !important;
	}
}

.urlbarView-results {
	padding: var(--urlbarView-item-block-padding) !important;

	> .urlbarView-row {
		border: var(--button-border) !important;
		border-radius: var(--border-radius-medium) !important;

		> .urlbarView-row-inner {
			flex-wrap: nowrap !important;
			align-items: center !important;
			padding-inline: 0 !important;
			padding-block: 0 !important;

			> .urlbarView-no-wrap {
				flex-basis: auto !important;

				> .urlbarView-type-icon {
					display: none;
				}
			}

			.urlbarView-title {
				line-height: 1.28 !important;

				&:not(:empty) ~ .urlbarView-action:not(.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action) {
					margin-inline-end: var(--urlbarView-favicon-margin-start);
				}
			}

			:is(.urlbarView-overflowable, .urlbarView-url)[overflow] {
				mask-image: none !important;
				text-overflow: ellipsis;
			}

			> .urlbarView-action-btn {
				padding: var(--urlbarView-row-gutter) var(--urlbarView-icon-margin-start) !important;
				border: none !important;
				border-radius: var(--border-radius-small) !important;
				outline: none !important;

				&:hover {
					color: var(--button-text-color-primary);
				}

				&:is([data-action="addons"], [data-action="themes"], [data-action="extensions"]) > img {
					content: url("../assets/icons/extension.svg");
				}

				&[data-action="bookmarks"] > img {
					content: url("../assets/icons/bookmark.svg");
				}

				&[data-action="downloads"] > img {
					content: url("../assets/icons/downloads.svg");
				}

				&[data-action="firefoxview"] > img {
					content: url("../assets/icons/firefox-view.svg");
				}

				&[data-action="private"] > img {
					content: url("../assets/icons/privateBrowsing.svg");
				}
			}
		}

		:root:not([uidensity="compact"]) & {
			&:not([type="tip"], [type="dynamic"]) {
				min-height: var(--button-min-height) !important;
			}

			&[rich-suggestion][type="search"] {
				min-height: calc(var(--size-item-medium) - 2 * var(--urlbarView-row-gutter) + var(--toolbarbutton-inner-padding)) !important;
			}
		}

		&[has-url]:not([type$="tab"]) > .urlbarView-row-inner > .urlbarView-no-wrap {
			max-width: calc(70% - 2 * (var(--urlbarView-favicon-width) + (6px + 2px))) !important;
		}

		&[has-url] > .urlbarView-row-inner > .urlbarView-url {
			margin-inline: unset !important;
			line-height: 1.333 !important;

			&[overflow] {
				margin-inline-end: var(--urlbarView-item-inline-padding) !important;
			}
		}

		&[has-url]:not([type$="tab"], [sponsored], [restyled-search]) .urlbarView-title-separator {
			display: revert !important;
		}

		&[row-selectable]:not([selected]):hover {
			color: var(--urlbarView-highlight-color);

			.urlbarView-url {
				color: inherit !important;
			}
		}

		&[type="tip"] {
			padding-block: var(--urlbarView-item-block-padding) !important;

			> .urlbarView-row-buttons {
				padding-inline-end: 0 !important;

				> .urlbarView-button:where(:not(:empty):not(.urlbarView-button-result-menu)) {
					background-color: var(--color-accent-primary) !important;
					color: var(--button-text-color-primary) !important;
					padding-block: var(--space-xsmall) !important;
					outline: none !important;
					border-radius: var(--border-radius-small) !important;
				}
			}
		}

		.urlbarView-favicon {
			margin-inline-end: calc(var(--urlbarView-icon-margin-end) - var(--urlbarView-favicon-margin-start) - 1px) !important;

			.urlbarView-row[type="restrict_keyword_bookmarks"] & {
				content: url("../assets/icons/bookmark.svg");
			}

			.urlbarView-row[type="restrict_keyword_history"] & {
				content: url("../assets/icons/history.svg");
			}
		}

		&[rich-suggestion] > .urlbarView-row-inner {
			> .urlbarView-favicon {
				width: calc(var(--size-item-medium) - 2 * var(--urlbarView-row-gutter)) !important;
				height: calc(var(--size-item-medium) - 2 * var(--urlbarView-row-gutter)) !important;
			}

			> .urlbarView-row-body > .urlbarView-row-body-top > .urlbarView-row-body-top-no-wrap {
				width: 100%;
			}
		}

		&[dynamicType="onboardTabToSearch"] > .urlbarView-row-inner {
			min-height: fit-content !important;

			> .urlbarView-no-wrap > .urlbarView-favicon {
				height: var(--size-item-small) !important;
				min-width: var(--size-item-small) !important;

				.urlbarView-row:hover & {
					color: var(--urlbarView-highlight-color) !important;
				}
			}
		}

		&[has-action]:is([type="switchtab"], [type="remotetab"], [type="clipboard"]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
			padding: var(--urlbarView-row-gutter) var(--space-small) !important;
			border: none !important;
			border-radius: var(--border-radius-small) !important;
			background-image: none !important;
			background-color: var(--button-background-color) !important;

			&.urlbarView-userContext {
				background-color: color-mix(in oklab, var(--identity-icon-color) 20%, transparent) !important;
			}

			.urlbarView-row:is(:hover, [selected]) & {
				background-color: transparent !important;
				color: var(--button-text-color-primary) !important;
			}
		}

		> .urlbarView-row-buttons > .urlbarView-button-result-menu {
			background-color: transparent !important;
			min-width: var(--size-item-small) !important;

			.urlbarView-row:is([row-selectable]:hover, [selected]) &:not(:hover, [open]) {
				color: var(--urlbarView-secondary-text-color) !important;
			}

			&:is(:hover, [open]) {
				color: inherit !important;
			}
		}

		&[label]::before {
			color: MenuText !important;
			width: calc(100% - 2 * var(--urlbarView-icon-margin-start));
			margin-inline: var(--urlbarView-icon-margin-start) !important;
			padding-block-start: var(--urlbarView-item-block-padding);
			border-top: var(--border-width) solid var(--in-content-box-border-color);
		}
	}

	.urlbarView-title-separator::before {
		content: "\2013" !important;
	}

	.urlbarView[noresults] > .urlbarView-body-outer > .urlbarView-body-inner > & {
		padding: 0 !important;
	}
}

.search-one-offs {
	> .search-panel-header {
		min-height: var(--button-min-height) !important;

		> .search-panel-one-offs-header-label {
			padding-inline: 0 var(--urlbar-icon-padding) !important;
		}
	}

	.searchbar-engine-one-off-item {
		min-width: var(--button-min-height) !important;
		height: var(--button-min-height) !important;

		.urlbar & {
			margin-inline: var(--urlbar-icon-padding) !important;

			&:first-child {
				margin-inline-start: 0 !important;
			}

			&:last-child {
				margin-inline-end: 0 !important;
			}
		}

		&:hover {
			background-color: var(--nept-item-hover-background) !important;
		}
	}
}

#tracking-protection-icon-container {
	margin-inline-start: calc(-1 * var(--size-item-xsmall) - 2 * var(--urlbar-icon-padding));
	border-radius: var(--border-radius-xlarge) 0 0 var(--border-radius-xlarge) !important;
	visibility: collapse;
	transition: margin-inline 200ms ease-out, visibility 200ms linear;

	&:is(.urlbar:is(:hover, [open]) &, [open]) {
		margin-inline-start: 0;
		visibility: visible;
		transition-delay: 100ms;
	}
}

#page-action-buttons {
	--urlbar-icon-padding: calc((var(--size-item-large) - 2px - 2px - 16px ) / 2) !important;

	> .urlbar-page-action:not(#reader-mode-button[readeractive], #picture-in-picture-button[pipactive], #translations-button[translationsactive]) {
		margin-inline-end: calc(-1 * var(--size-item-small) - 2 * var(--urlbar-icon-padding));
		visibility: collapse;
		opacity: 0;
		transition: opacity 200ms ease-out, margin-inline 200ms ease-out, visibility 200ms linear;

		&:is(.urlbar:is(:hover, [open]) &, [open]):not(#trust-icon-container:hover ~ #page-action-buttons > &) {
			margin-inline-end: 0;
			visibility: visible;
			opacity: 1;
			transition-delay: 100ms;
		}
	}

	> #translations-button {
		> #translations-button-locale {
			height: var(--input-icon-size) !important;
			padding: 0 !important;
			margin-block: auto !important;
			font-size: 0.84em !important;
		}

		> :is(#translations-button-circle-arrows, #translations-button-locale) {
			display: none;
		}
	}
}

#identity-box {
	margin-inline: 0 !important;
	margin-block: var(--urlbar-icon-padding);
	fill-opacity: 0.6 !important;

	&[pageproxystate="valid"] > .identity-box-button {
		background: none !important;

		&:hover:not([open]) {
			fill-opacity: 0.8;
		}

		&:is(:hover:active, [open]) {
			fill-opacity: 1;
		}
	}

	> #notification-popup-box {
		background: none !important;
		height: auto !important;
		fill-opacity: 0.6 !important;

		> .notification-anchor-icon {
			height: calc(var(--urlbar-min-height) - 2 * var(--urlbar-icon-padding));
		}

		&:hover {
			fill-opacity: 0.8 !important;
		}

		&:is(:hover:active, [open]) {
			fill-opacity: 1 !important;
		}
	}

	> :is(#identity-permission-box, #notification-popup-box) {
		margin-inline-start: calc(-1 * var(--size-item-xsmall) - 2 * var(--urlbar-icon-padding));
		visibility: collapse;
		opacity: 0;
		transition: opacity 200ms ease-out, margin-inline 200ms ease-out, visibility 200ms linear;

		&:is(#identity-box:hover &, [open]) {
			margin-inline-start: 0;
			visibility: visible;
			opacity: 1;
		}
	}

	> #identity-permission-box > #blocked-permissions-container,
	> #identity-icon-box > #identity-icon-label {
		display: none;
	}
}

.urlbar-page-action,
.urlbar-revert-button,
.urlbar-go-button,
.search-go-button {
	background: none !important;
	height: auto !important;
	width: calc(var(--size-item-large) - 2 * var(--urlbar-container-border-padding)) !important;
	color: var(--nept-button-field-color) !important;

	&:not([disabled]):hover {
		color: var(--nept-button-field-hover-color) !important;
	}

	&:not([disabled]):is(:hover:active, [open]) {
		color: inherit !important;
	}
}

.sharing-icon,
#trust-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
#tracking-protection-icon-box,
#blocked-permissions-container > .blocked-permission-icon,
.urlbarView-action-btn > img,
.searchmode-switcher-icon,
#searchmode-switcher-popup-search-settings-icon,
.urlbar-input-container [id$="close"] {
	width: var(--size-item-xsmall) !important;
	height: var(--size-item-xsmall) !important;
}