/* macos traffic light titlebar buttons for windows */
@media (-moz-platform: windows) {
	.titlebar-buttonbox-container {
		position: absolute;
		inset-block-start: calc(var(--theme-browser-toolbox-padding) + (var(--urlbar-min-height) - 12px) / 2);
		inset-inline-start: 16px;

		:root[inFullscreen] & {
			display: none;
		}

		.titlebar-button {
			padding: 0 !important;
			margin-inline: 4px !important;
			background: none !important;

			&::before {
				content: normal !important;
				display: none !important;
			}

			> .toolbarbutton-icon {
				display: inline-block !important;
			}
		}
	}

	.titlebar-close {
		order: -1;
		list-style-image: url("../assets/macos_controls/close.svg");

		.titlebar-buttonbox:hover & {
			list-style-image: url("../assets/macos_controls/close-hover.svg");

			&:active {
				list-style-image: url("../assets/macos_controls/close-active.svg");

				@media (prefers-color-scheme: dark) {
					list-style-image: url("../assets/macos_controls/close-active-dark.svg");
				}
			}
		}
	}

	.titlebar-min {
		list-style-image: url("../assets/macos_controls/minimize.svg");

		.titlebar-buttonbox:hover & {
			list-style-image: url("../assets/macos_controls/minimize-hover.svg");

			&:active {
				list-style-image: url("../assets/macos_controls/minimize-active.svg");

				@media (prefers-color-scheme: dark) {
					list-style-image: url("../assets/macos_controls/minimize-active-dark.svg");
				}
			}
		}
	}

	.titlebar-max {
		list-style-image: url("../assets/macos_controls/maximize.svg");

		.titlebar-buttonbox:hover & {
			list-style-image: url("../assets/macos_controls/maximize-hover.svg");

			&:active {
				list-style-image: url("../assets/macos_controls/maximize-active.svg");

				@media (prefers-color-scheme: dark) {
					list-style-image: url("../assets/macos_controls/maximize-active-dark.svg");
				}
			}
		}
	}

	.titlebar-restore {
		list-style-image: url("../assets/macos_controls/maximize.svg");

		.titlebar-buttonbox:hover & {
			list-style-image: url("../assets/macos_controls/restore-hover.svg");

			&:active {
				list-style-image: url("../assets/macos_controls/restore-active.svg");

				@media (prefers-color-scheme: dark) {
					list-style-image: url("../assets/macos_controls/restore-active-dark.svg");
				}
			}
		}
	}

	.titlebar-button:-moz-window-inactive {
		list-style-image: url("../assets/macos_controls/backdrop.svg");

		@media (prefers-color-scheme: dark) {
			list-style-image: url("../assets/macos_controls/backdrop-dark.svg");
		}
	}
}