@-moz-document url("about:home"), url("about:newtab"), url("about:welcome"), url("about:privatebrowsing") {
	body:not(:has(.has-recommended-stories)) {
		overflow: hidden;
	}

	.outer-wrapper.ds-outer-wrapper-breakpoint-override {
		padding: calc(var(--space-xxlarge) + 81px) 0 var(--space-xxlarge) !important;
	}

	.weather {
		inset-block-start:  calc(var(--space-xxlarge) + 81px) !important;
	}
}