/* Windows native title buttons */
@media (-moz-platform: windows) {
	#navigator-toolbox #nav-bar {
		padding-inline-start: var(--space-xsmall) !important;

		@media not -moz-pref("sidebar.verticalTabs") {
			:root[privatebrowsingmode=temporary] & {
				padding-inline-start: var(--space-xsmall) !important;
			}
		}
	}

	.titlebar-buttonbox-container .titlebar-button {
		margin: 4px 6px !important;
		padding: 4px !important;
		border-radius: var(--border-radius-small) !important;
		-moz-context-properties: stroke;
		stroke: currentColor;

		&::before {
			content: normal !important;
			display: none !important;
		}

		> .toolbarbutton-icon {
			display: inline-block !important;
		}

		&.titlebar-close {
			list-style-image: url("../assets/windows_controls/close.svg");
		}

		&.titlebar-min {
			list-style-image: url("../assets/windows_controls/minimize.svg");
		}

		&.titlebar-max {
			list-style-image: url("../assets/windows_controls/maximize.svg");
		}

		&.titlebar-restore {
			list-style-image: url("../assets/windows_controls/restore.svg");
		}
	}

	@media not -moz-pref("sidebar.verticalTabs") {
		#PanelUI-menu-button {
			:root:not([inFullscreen]) & {
				margin-inline-end: calc(96px + var(--toolbar-start-end-padding) + var(--toolbarbutton-outer-padding)) !important;
			}
		}

		.titlebar-buttonbox-container  {
			position: absolute;
			inset-inline-end: var(--toolbarbutton-outer-padding);
			inset-block-start: calc(var(--theme-browser-toolbox-padding) + (var(--urlbar-min-height) - 28px) / 2);

			:root[inFullscreen] & {
				display: none;
			}
		}
	}
}